<section
  id="shopify-section-template--18255381037237__custom_material_text_lr_AAchdz"
  class="shopify-section"
>
  <style>
    :root {
      --text-h0-n: 56px;
      --text-h1-n: 40px;
      --text-h2-n: 30px;
      --text-h3-n: 26px;
      --text-h4-n: 24px;
      --text-h5-n: 20px;
      --text-h6-n: 16px;
      --text-xs-n: 12px;
      --text-sm-n: 14px;
      --text-base-n: 18px;
      --text-lg-n: 19px;
    }
    .text-xxs {
      font-size: 10px;
      line-height: 1.3;
    }

    .text-xs {
      font-size: var(--text-xs-n);
      line-height: 1.3;
    }

    .text-sm {
      font-size: var(--text-sm-n);
      line-height: 1.3;
    }

    .text-base {
      font-size: var(--text-base-n);
      line-height: 1.3;
    }
    .text-md {
      font-size: var(--text-md-n);
      line-height: 1.2;
    }

    .text-lg {
      font-size: var(--text-lg-n);
      line-height: 1.2;
    }
    /* 重置样式 start*/
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h0 {
      font-size: var(--text-h0-n);
      line-height: 1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz h1,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h1,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .prose
      h1:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h1-n);
      line-height: 1.1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz h2,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h2,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .prose
      h2:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h2-n);
      line-height: 1.1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz h3,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h3,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .prose
      h3:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h3-n);
      line-height: 1.2;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz h4,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h4,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .prose
      h4:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h4-n);
      line-height: 1.3;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz h5,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h5,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .prose
      h5:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h5-n);
      line-height: 1.4;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz h6,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .h6,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .prose
      h6:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h6-n);
      line-height: 1.4;
    }
    /* 重置样式 end*/
    /* 图片文字左右调换模块 */
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz {
      padding: 100px 24px 0px 24px;
      background: #000101;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .other_url_link {
      display: block;
      margin-top: 10px;
      color: #007bff;
      font-size: 16px;
      text-decoration: underline;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .detail-container {
      max-width: 1200px;
      width: 100%;
      margin: auto;

      background: #000101;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .heading {
      text-align: start;
      color: #ffffff;
      margin-bottom: 60px;
      font-family: "Mulish";
      justify-content: start;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .subtitle {
      text-align: start;
      color: #ffffff;
      margin-bottom: 0px;
      font-family: ItalianPlateNo2Expanded-Regular !important;
      font-weight: 400;
      justify-content: start;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .custom-row {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      column-gap: 0px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .custom-media {
      flex: 1;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .info {
      flex: 0 0 50%;
      padding: 0;
      padding-left: 0px;
      padding-right: 0px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .title {
      text-align: center;
      margin-bottom: 0px;
      color: #ffffff;
      font-weight: 600 !important;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .subheading {
      margin-bottom: 0px;
      color: #ffffff;
      text-transform: initial;
      letter-spacing: 1px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .title,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .subheading,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .content,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .info {
      text-align: start;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .content {
      margin-bottom: 0px;
      color: #ffffff;
      line-height: 1.3;
      text-align: start;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .button_link {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      text-align: start;
      border-radius: 42px;
      padding: 6px 20px;
      font-size: 16px;
      background: #fece67;
      font-family: "Mulish";
      line-height: 1;
      color: #0d0d0d;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .button_link .arrow-icon {
      background: #000;
      border-radius: 50%;
      padding: 10px;
      width: 33px;
      height: 33px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .button_link:hover {
      color: #0d0d0d;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-next,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-prev {
      position: absolute;
      top: 50%;
      width: 44px;
      height: 44px;
      margin-top: 0;
      background-color: #f5f5f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-next svg,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-prev svg {
      fill: #333333;
      width: 20px;
      height: 22px;
      padding: 5.5px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .swiper-button-next.swiper-button-disabled
      svg,
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz
      .swiper-button-prev.swiper-button-disabled
      svg {
      fill: #c0c0c0;
      width: 20px;
      height: 20px;
      padding: 5.5px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-next {
      left: 47%;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-prev {
      left: 0;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .reverse {
      flex-direction: row-reverse;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .item-column-reverse {
      flex-direction: column-reverse;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .item-column {
      flex-direction: column;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .show_desktop {
      display: flex;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .show_mobile {
      display: none;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .title,
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .subheading,
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .content,
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .info {
        text-align: start;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .other_url_link {
        display: block;
        margin-top: 10px;
        color: #007bff;
        font-size: 16px;
        text-decoration: underline;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .heading {
        font-size: 26px;
        margin-bottom: 16px;
        line-height: 1.26;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .subtitle {
        font-size: 14px;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .info {
        padding-left: 0px;
        padding-right: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .custom-row {
        position: relative;
        display: flex;
        text-align: start;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 10px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-next,
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .swiper-button-prev {
        position: relative;
        top: auto;
        width: 44px;
        height: 44px;
        margin-top: 0;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
        left: auto;
        right: auto;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz {
        padding: 50px 24px 0px 24px;
        width: auto;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px !important;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .subheading {
        font-size: 14px !important;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .custom-row {
        flex-direction: column-reverse;
        margin-bottom: 65px;
        margin: 0;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .column {
        width: 100%;
        max-width: 100%;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .content {
        padding: 0;
        font-size: 14px !important;
        margin-bottom: 30px;
        color: rgba(255, 255, 255, 0.80)
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .button_link {
        padding: 6px 15px;
        font-size: 14px;
        margin-bottom: 1px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .button_link .arrow-icon {
        padding: 9px;
        width: 28px;
        height: 28px;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .button_link .arrow-icon svg {
        width: 10px;
        height: 10px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .show_desktop {
        display: none;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_AAchdz .show_mobile {
        display: flex;
      }
    }
  </style>

  <!-- 图片文字左右、上下调换模块 -->

  <div id="">
    <div
      id="detail-section1-template--18255381037237__custom_material_text_lr_AAchdz"
    >
      <div class="detail-container">
        <h3
          class="heading h0  show_desktop"
          data-wow-delay="0.8s"
          data-live-text-setting="section.template--18255381037237__custom_material_text_lr_AAchdz.title"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInUp;
          "
        >
          <div style="">
            <div style="font-family: Mulish;font-weight: 800; line-height: 1.1;margin-bottom: 20px;">Safety Built for Family Life</div>
            <div style="">
              <div
                style="font-family: Mulish;font-size: 30px; line-height: 1; margin-bottom: 20px;font-weight: 600;"
              >
                Smart Emergency Stop
              </div>
              <div
                style="
                  font-size: 18px;
                  line-height: 1.25;
                  color: rgba(255, 255, 255, 0.8);
                  font-weight: 400;
                max-width: 789px;
                font-family: Mulish;
                "
              >
                P13’s photoelectric detection system originally designed to detect film errors, instantly halts printing if it senses unexpected contact.
              </div>
            </div>
          </div>
        </h3>

        <h3
          class="heading h0  show_mobile animated"
          data-wow-delay="0.8s"
          data-live-text-setting="section.template--18255381037237__custom_material_text_lr_AAchdz.title_mobile"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInUp;
          "
        >
          Safety Built for<br>
          Family Life
        </h3>

        <div class="custom-row item-column">
          <div
            class="column custom-media  detail-section1-mySwiper-template--18255381037237__custom_material_text_lr_AAchdz"
            data-wow-delay="0.8s"
            style="
              visibility: visible;
              animation-delay: 0.8s;
              animation-name: fadeInLeft;
            "
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="show_desktop">
                  <video
                    playsinline="playsinline"
                    width="100%"
                    height="auto"
                    autoplay="autoplay"
                    loop="loop"
                    muted="muted"
                    preload="metadata"
                    poster="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/42242a6c47224eb29d30069c993a0213.thumbnail.0000000000_small.jpg?v=1743681703"
                  >
                    <source
                      src="https://cdn.shopify.com/videos/c/o/v/772de1b453244396b04b6f34e6752029.mp4"
                      type="video/mp4"
                    >
                    <img
                    class="lazyload"
                    data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/42242a6c47224eb29d30069c993a0213.thumbnail.0000000000_small.jpg?v=1743681703"
                    >
                  </video>
                </div>

                <div class="show_mobile">
                  <video
                    playsinline="playsinline"
                    width="100%"
                    height="auto"
                    autoplay="autoplay"
                    loop="loop"
                    muted="muted"
                    preload="metadata"
                    poster="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/42242a6c47224eb29d30069c993a0213.thumbnail.0000000000_small.jpg?v=1743681703"
                  >
                    <source
                      src="https://cdn.shopify.com/videos/c/o/v/ea7b0df089634bc9873945127df67faa.mp4"
                      type="video/mp4"
                    >
                    <img
                    class="lazyload"
                      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/42242a6c47224eb29d30069c993a0213.thumbnail.0000000000_small.jpg?v=1743681703"
                    >
                  </video>
                </div>
              </div>
            </div>
          </div>

          <div class="column info">
            <h3
              class="title h3 custom-font-bold  animated"
              data-wow-delay="0.8s"
              style="
                visibility: visible;
                animation-delay: 0.8s;
                animation-name: fadeInUp;
              "
            >
              Smart Emergency Stop
            </h3>
            <div
              class="subheading text-base custom-font-regular  animated"
              data-wow-delay="1s"
              style="
                visibility: visible;
                animation-delay: 1s;
                animation-name: fadeInUp;
              "
            ></div>
            <div
              class="content text-base custom-font-regular  animated"
              data-wow-delay="1s"
              style="
                visibility: visible;
                animation-delay: 1s;
                animation-name: fadeInUp;
              "
            >
              P13’s photoelectric detection system originally designed to detect film errors, instantly halts printing if it senses unexpected contact.
            </div>
            <!-- 额外链接 -->
            <!-- 会员登录按钮 -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <style>
    #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .info {
      display: none;
    }
    #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .custom-row {
      align-items: start;
    }
    #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .custom-media {
      border-radius: 20px;
    }
    #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .info {
      max-width: 1010px;
    }
    #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .subheading {
      letter-spacing: 0;
    }
    @media only screen and (max-width: 768px) {
      #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .info {
        display: block;
      }
      #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .custom-media {
        border-radius: 10px;
      }
      #shopify-section-template--18255381037237__custom_material_text_lr_AAchdz .title {
        width: 60%;
      }
    }
  </style>
</section>
<section
  id="shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6"
  class="shopify-section"
>
  <style>
    :root {
      /* Font sizes */
      --text-h0-n: 56px;
      --text-h1-n: 40px;
      --text-h2-n: 30px;
      --text-h3-n: 26px;
      --text-h4-n: 24px;
      --text-h5-n: 20px;
      --text-h6-n: 16px;
      --text-xs-n: 12px;
      --text-sm-n: 14px;
      --text-base-n: 18px;
      --text-lg-n: 19px;
    }
    .text-xxs {
      font-size: 10px;
      line-height: 1.3;
    }

    .text-xs {
      font-size: var(--text-xs-n);
      line-height: 1.3;
    }

    .text-sm {
      font-size: var(--text-sm-n);
      line-height: 1.3;
    }

    .text-base {
      font-size: var(--text-base-n);
      line-height: 1.3;
    }
    .text-md {
      font-size: var(--text-md-n);
      line-height: 1.2;
    }

    .text-lg {
      font-size: var(--text-lg-n);
      line-height: 1.2;
    }
    /* 重置样式 start*/
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h0 {
      font-size: var(--text-h0-n);
      line-height: 1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 h1,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h1,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .prose
      h1:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h1-n);
      line-height: 1.1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 h2,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h2,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .prose
      h2:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h2-n);
      line-height: 1.1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 h3,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h3,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .prose
      h3:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h3-n);
      line-height: 1.2;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 h4,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h4,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .prose
      h4:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h4-n);
      line-height: 1.3;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 h5,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h5,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .prose
      h5:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h5-n);
      line-height: 1.4;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 h6,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .h6,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .prose
      h6:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h6-n);
      line-height: 1.4;
    }
    /* 重置样式 end*/
    /* 图片文字左右调换模块 */
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 {
      padding: 80px 24px 0px 24px;
      background: #000101;
      display: none;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .other_url_link {
      display: block;
      margin-top: 10px;
      color: #007bff;
      font-size: 16px;
      text-decoration: underline;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .detail-container {
      max-width: 1200px;
      width: 100%;
      margin: auto;

      background: #000101;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .heading {
      text-align: start;
      color: #ffffff;
      margin-bottom: 0px;
      font-family: "Mulish";
      justify-content: start;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .subtitle {
      text-align: start;
      color: #000000;
      margin-bottom: 0px;
      font-family: ItalianPlateNo2Expanded-Regular !important;
      font-weight: 400;
      justify-content: start;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-row {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      column-gap: 60px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-media {
      flex: 1;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-media video,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-media img {
      /*border-radius: 20px;*/
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .info {
      flex: 0 0 72%;
      padding: 0;
      padding-left: 0px;
      padding-right: 0px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .title {
margin-bottom: 30px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 800 !important;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .subheading {
      margin-bottom: 0px;
      color: #ffffff;
      text-transform: initial;
      letter-spacing: 1px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .title,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .subheading,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .content,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .info {
      text-align: start;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .content {
      margin-bottom: 0px;
      color: #000000;
      line-height: 1.3;
      text-align: start;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .button_link {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      text-align: start;
      border-radius: 42px;
      padding: 6px 20px;
      font-size: 16px;
      background: #fece67;
      font-family: "Mulish";
      line-height: 1;
      color: #0d0d0d;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .button_link .arrow-icon {
      background: #000;
      border-radius: 50%;
      padding: 10px;
      width: 33px;
      height: 33px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .button_link:hover {
      color: #0d0d0d;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-next,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-prev {
      position: absolute;
      top: 50%;
      width: 44px;
      height: 44px;
      margin-top: 0;
      background-color: #f5f5f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-next svg,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-prev svg {
      fill: #333333;
      width: 20px;
      height: 22px;
      padding: 5.5px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .swiper-button-next.swiper-button-disabled
      svg,
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6
      .swiper-button-prev.swiper-button-disabled
      svg {
      fill: #c0c0c0;
      width: 20px;
      height: 20px;
      padding: 5.5px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-next {
      left: 47%;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-prev {
      left: 0;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .reverse {
      flex-direction: row-reverse;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .item-column-reverse {
      flex-direction: column-reverse;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .item-column {
      flex-direction: column;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .show_desktop {
      display: flex;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .show_mobile {
      display: none;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .title,
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .subheading,
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .content,
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .info {
        text-align: start;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .other_url_link {
        display: block;
        margin-top: 10px;
        color: #007bff;
        font-size: 16px;
        text-decoration: underline;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .heading.show_mobile {
        font-size: 16px;
        margin-bottom: 20px;
        display: flex !important;
        font-weight: 600;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .subtitle {
        font-size: 14px;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .info {
        padding-left: 0px;
        padding-right: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-row {
        position: relative;
        display: flex;
        text-align: start;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 10px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-next,
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .swiper-button-prev {
        position: relative;
        top: auto;
        width: 44px;
        height: 44px;
        margin-top: 0;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
        left: auto;
        right: auto;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 {
        padding: 40px 24px 0px 24px;
        width: auto;
        display: block;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .title {
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 24px !important;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .subheading {
        font-size: 14px !important;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-row {
        flex-direction: column;
        margin-bottom: 65px;
        margin: 0;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .column {
        width: 100%;
        max-width: 100%;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .content {
        padding: 0;
        font-size: 12px !important;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .button_link {
        padding: 6px 15px;
        font-size: 14px;
        margin-bottom: 1px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .button_link .arrow-icon {
        padding: 9px;
        width: 28px;
        height: 28px;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .button_link .arrow-icon svg {
        width: 10px;
        height: 10px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .show_desktop {
        display: none;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6 .show_mobile {
        display: flex;
      }
    }
  </style>

  <!-- 图片文字左右、上下调换模块 -->

  <div id="">
    <div
      id="detail-section1-template--18255381037237__custom_material_text_lr_WzNtq6"
    >
      <div class="detail-container">
        <h3
          class="heading h1  show_desktop animated"
          data-wow-delay="0.8s"
          data-live-text-setting="section.template--18255381037237__custom_material_text_lr_WzNtq6.title"
          style="visibility: visible;animation-delay: 0.8s;animation-name: fadeInUp;"
        >
          Gentle Alert
        </h3>

        <h3
          class="heading h1  show_mobile animated"
          data-wow-delay="0.8s"
          data-live-text-setting="section.template--18255381037237__custom_material_text_lr_WzNtq6.title_mobile"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInUp;
          "
        >
          Gentle Alert
        </h3>

        <div class="custom-row">
          <div
            class="column custom-media  detail-section1-mySwiper-template--18255381037237__custom_material_text_lr_WzNtq6"

          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="show_mobile lazyload"
                  width="100%"
                  loading="lazy"
                  data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/9_549b3530-68b1-4050-8b8c-eaaaeb94a64a.png?v=1743681805&width=300"
                >
              </div>
            </div>
          </div>

          <div class="column info">
            <h3
              class="title h3 custom-font-bold "
              data-wow-delay="0.8s"
              style="
                visibility: visible;
                animation-delay: 0.8s;
                animation-name: fadeInUp;
              "
            >
              Gentle Alert
            </h3>
            <div
              class="subheading h5 custom-font-regular "
              data-wow-delay="1s"
              style="
                visibility: visible;
                animation-delay: 1s;
                animation-name: fadeInUp;
              "
            >
              A built-in waste ink alarm alerts you before spills threaten your floors. No more midnight cleanup
              surprises.
            </div>
            <div
              class="content text-base custom-font-regular "
              data-wow-delay="1s"
              style="
                visibility: visible;
                animation-delay: 1s;
                animation-name: fadeInUp;
              "
            ></div>
            <!-- 额外链接 -->
            <!-- 会员登录按钮 -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-media img {
      border-radius: 10px;
    }
    #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .heading {
      display: none;
    }
    #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .subheading {
      letter-spacing: 0;
      width: 70%;
      color: rgba(255, 255, 255, 0.80);
 
    font-family: mulish !important;
    font-size: 20px;
  
    font-weight: 400 !important;
    line-height: 1.25;
    }
    @media screen and (max-width: 768px) {
      #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-media img {
        border-radius: 5px;
      }
      #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .subheading {
        width: 100%;
        line-height: 1.3;
      }
      #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .title {
        display: none;
      }
      #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .custom-row {
        flex-direction: row;
        column-gap: 14px;
      }
      #shopify-section-template--18255381037237__custom_material_text_lr_WzNtq6 .info {
        flex: 0 0 51%;
      }
    }
  </style>
</section>
<style>
  #dklskocminmcslodokff-wrapper {
    padding-top: 80px;
    background-color: #000101;
  }
  #dklskocminmcslodokff-wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  #dklskocminmcslodokff-wrapper .title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
  }
  #dklskocminmcslodokff-wrapper .subheading {
    color: #fff;
leading-trim: both;
text-edge: cap;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-bottom: 60px;
    text-transform: none;
    letter-spacing: 0;
    
  }

  #dklskocminmcslodokff-wrapper .viewing-window {
    display: flex;
    gap: 16px;
  }

  #dklskocminmcslodokff-wrapper .video-container {
    position: relative;

    width: 60%;
    border-radius: 10px;
    overflow: hidden;
  }

  #dklskocminmcslodokff-wrapper .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #dklskocminmcslodokff-wrapper .image-container {
    flex: 1;
    padding-bottom: 95px;
  }

  #dklskocminmcslodokff-wrapper .image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }

  #dklskocminmcslodokff-wrapper .description {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
  }
          #dklskocminmcslodokff-wrapper .desktopShow {
        position: relative;
        display: block;
      }
      #dklskocminmcslodokff-wrapper .mobileShow {
        position: relative;
        display: none;
      }
  @media screen and (max-width: 768px) {
    #dklskocminmcslodokff-wrapper {
      padding-top: 50px;
      display: none;
    }
    #dklskocminmcslodokff-wrapper .title {
      font-size: 16px;

      margin-bottom: 20px;
      line-height: 1;
    }
    #dklskocminmcslodokff-wrapper .subheading {
      display: block;
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 1.4;
      color: #000;
      text-transform: none;
      letter-spacing: 0;
    }
    #dklskocminmcslodokff-wrapper .description {
      display: none;
    }
    #dklskocminmcslodokff-wrapper .container {
      padding: 0 24px;
    }

    #dklskocminmcslodokff-wrapper .viewing-window {
      flex-direction: column;
    }

    #dklskocminmcslodokff-wrapper .video-container {
      width: 100%;
      margin-bottom: 0;
      height: 184px;
    }
    #dklskocminmcslodokff-wrapper .viewing-window {
      display: flex;
      gap: 14px;
    }

    #dklskocminmcslodokff-wrapper .image-container {
      width: 100%;
       padding-bottom: 0;
    }
          #dklskocminmcslodokff-wrapper .desktopShow {
        position: relative;
        display: none;
      }
      #dklskocminmcslodokff-wrapper .mobileShow {
        position: relative;
        display: block;
      }
  }
</style>
<div id="dklskocminmcslodokff-wrapper">
  <div class="container">
    <h1 class="title">Gentle Alert</h1>
    <div class="subheading">
      <div class="desktopShow">A built-in waste ink alarm alerts you before spills threaten your floors.<br> No more midnight cleanup surprises.</div>
      <div class="mobileShow">A built-in waste ink alarm alerts you before spills threaten your floors. No more midnight cleanup surprises.</div>
      
    </div>
    <div class="viewing-window">
      <div class="video-container">
        <video
          playsinline="playsinline"
          autoplay="autoplay"
          loop="loop"
          muted="muted"
          preload="metadata"
          poster="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/ef2e3817968f46acaf7e6937f546cb4f.thumbnail.0000000000_small.jpg?v=1743681965"
        >
          <source
            src="https://cdn.shopify.com/videos/c/o/v/85f004ade09846e5b107f09fd944040b.mp4"
            type="video/mp4"
          >
          <img
          class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/9_549b3530-68b1-4050-8b8c-eaaaeb94a64a.png?v=1743681805?width=500"
          >
        </video>
      </div>
      <div class="image-container">
        <img
        class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/9_549b3530-68b1-4050-8b8c-eaaaeb94a64a.png?v=1743681805?width=500"
          alt="Gentle Alert"
        >
       
      </div>
    </div>
  </div>
</div>

<section
  id="shopify-section-template--18255381037237__custom_material_text_lr_TPDpFG"
  class="shopify-section"
>
  <style>
    :root {
      /* Font sizes */
      --text-h0-n: 56px;
      --text-h1-n: 40px;
      --text-h2-n: 30px;
      --text-h3-n: 26px;
      --text-h4-n: 24px;
      --text-h5-n: 20px;
      --text-h6-n: 16px;
      --text-xs-n: 12px;
      --text-sm-n: 14px;
      --text-base-n: 18px;
      --text-lg-n: 19px;
    }
    .text-xxs {
      font-size: 10px;
      line-height: 1.3;
    }

    .text-xs {
      font-size: var(--text-xs-n);
      line-height: 1.3;
    }

    .text-sm {
      font-size: var(--text-sm-n);
      line-height: 1.3;
    }

    .text-base {
      font-size: var(--text-base-n);
      line-height: 1.3;
    }
    .text-md {
      font-size: var(--text-md-n);
      line-height: 1.2;
    }

    .text-lg {
      font-size: var(--text-lg-n);
      line-height: 1.2;
    }
    /* 重置样式 start*/
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h0 {
      font-size: var(--text-h0-n);
      line-height: 1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG h1,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h1,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .prose
      h1:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h1-n);
      line-height: 1.1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG h2,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h2,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .prose
      h2:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h2-n);
      line-height: 1.1;
      font-family: "Mulish", sans-serif;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG h3,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h3,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .prose
      h3:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h3-n);
      line-height: 1.2;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG h4,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h4,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .prose
      h4:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h4-n);
      line-height: 1.3;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG h5,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h5,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .prose
      h5:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h5-n);
      line-height: 1.4;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG h6,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .h6,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .prose
      h6:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
      font-size: var(--text-h6-n);
      line-height: 1.4;
    }
    /* 重置样式 end*/
    /* 图片文字左右调换模块 */
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG {
      padding: 60px 24px 0px 24px;
      background: #000101;
      display: none;
      
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .other_url_link {
      display: block;
      margin-top: 10px;
      color: #007bff;
      font-size: 16px;
      text-decoration: underline;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .detail-container {
      max-width: 1200px;
      width: 100%;
      margin: auto;

      background: #000101;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .heading {
      text-align: start;
      color: #ffffff;
      margin-bottom: 60px;
      font-family: "Mulish";
      justify-content: start;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .subtitle {
      text-align: start;
      color: #ffffff;
      margin-bottom: 0px;
      font-family: ItalianPlateNo2Expanded-Regular !important;
      font-weight: 400;
      justify-content: start;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .custom-row {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      column-gap: 0px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .custom-media {
      flex: 1;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .custom-media video,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .custom-media img {
      /*border-radius: 20px;*/
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .info {
      flex: 0 0 50%;
      padding: 0;
      padding-left: 0px;
      padding-right: 0px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .title {
      text-align: center;
      margin-bottom: 0px;
      color: #ffffff;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .subheading {
      margin-bottom: 0px;
      color: #ffffff;
      text-transform: initial;
      letter-spacing: 1px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .title,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .subheading,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .content,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .info {
      text-align: start;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .content {
      margin-bottom: 0px;
      color: #ffffff;
      line-height: 1.3;
      text-align: start;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .button_link {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      text-align: start;
      border-radius: 42px;
      padding: 6px 20px;
      font-size: 16px;
      background: #fece67;
      font-family: "Mulish";
      line-height: 1;
      color: #0d0d0d;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .button_link .arrow-icon {
      background: #000;
      border-radius: 50%;
      padding: 10px;
      width: 33px;
      height: 33px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .button_link:hover {
      color: #0d0d0d;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-next,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-prev {
      position: absolute;
      top: 50%;
      width: 44px;
      height: 44px;
      margin-top: 0;
      background-color: #f5f5f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-next svg,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-prev svg {
      fill: #333333;
      width: 20px;
      height: 22px;
      padding: 5.5px;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .swiper-button-next.swiper-button-disabled
      svg,
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG
      .swiper-button-prev.swiper-button-disabled
      svg {
      fill: #c0c0c0;
      width: 20px;
      height: 20px;
      padding: 5.5px;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-next {
      left: 47%;
    }

    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-prev {
      left: 0;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .reverse {
      flex-direction: row-reverse;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .item-column-reverse {
      flex-direction: column-reverse;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .item-column {
      flex-direction: column;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .show_desktop {
      display: flex;
    }
    #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .show_mobile {
      display: none;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .title,
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .subheading,
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .content,
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .info {
        text-align: start;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .other_url_link {
        display: block;
        margin-top: 10px;
        color: #007bff;
        font-size: 16px;
        text-decoration: underline;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .heading {
        font-size: 24px;
        margin-bottom: 20px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .subtitle {
        font-size: 14px;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .info {
        padding-left: 0px;
        padding-right: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .custom-row {
        position: relative;
        display: flex;
        text-align: start;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 10px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-next,
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .swiper-button-prev {
        position: relative;
        top: auto;
        width: 44px;
        height: 44px;
        margin-top: 0;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
        left: auto;
        right: auto;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG {
        padding: 14px 24px 0px 24px;
        width: auto;
         display: block;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px !important;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .subheading {
        font-size: 14px !important;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .custom-row {
        flex-direction: column;
        margin-bottom: 65px;
        margin: 0;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .column {
        width: 100%;
        max-width: 100%;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .content {
        padding: 0;
        font-size: 14px !important;
        margin-bottom: 0px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .button_link {
        padding: 6px 15px;
        font-size: 14px;
        margin-bottom: 1px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .button_link .arrow-icon {
        padding: 9px;
        width: 28px;
        height: 28px;
      }

      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .button_link .arrow-icon svg {
        width: 10px;
        height: 10px;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .show_desktop {
        display: none;
      }
      #detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG .show_mobile {
        display: flex;
      }
    }
  </style>

  <!-- 图片文字左右、上下调换模块 -->

  <div id="">
    <div id="detail-section1-template--18255381037237__custom_material_text_lr_TPDpFG">
      <div class="detail-container">
        <div class=" custom-row   item-column  ">
          <div
            class="column custom-media   detail-section1-mySwiper-template--18255381037237__custom_material_text_lr_TPDpFG"
            data-wow-delay="0.8s"
            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">


                <div class="show_mobile">
                  <video
                
                 
                    playsinline="playsinline"
                    width="100%"
                    height="auto"
                    autoplay="true"
                    loop="loop"
                    muted="muted"
                    preload="none"
                    poster="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/gentle-alert.jpg?v=1743778380?width=200"
                  >
                    <source
                   src="https://cdn.shopify.com/videos/c/o/v/5465c505db6d4b5f9e2541e85b40d1ed.mp4"
                      type="video/mp4"
                    >
                    <img class="lazyload" src="http://cdn.shopify.com/s/files/1/0509/3454/6613/files/preview_images/ef2e3817968f46acaf7e6937f546cb4f.thumbnail.0000000000_small.jpg?v=1743681965?width=200"/>
                  </video>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <style>
    #shopify-section-template--18255381037237__custom_material_text_lr_TPDpFG .custom-media {
      border-radius: 20px;
    }
    @media only screen and (max-width: 768px) {
      #shopify-section-template--18255381037237__custom_material_text_lr_TPDpFG .custom-media {
        border-radius: 10px;
      }
    }
  </style>
</section>

