<div id="our-brand-gallery">
  <h2>Our Mission & Vision</h2>
  <p>
    We are dedicated to providing business opportunities of small budget and scale, lowering the bar for businesses,
    with a vision that our clients enjoy the lightweight printing in a friendly user experience
  </p>
</div>

<style>
  #our-brand-gallery {
    max-width: 1200px;
    margin: 100px auto 0;
  }
  #our-brand-gallery p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
  }
  #our-brand-gallery h2 {
    text-align: center;
    font-size: 34px;
    line-height: 1;
  }
  @media screen and (max-width: 767px) {
    #our-brand-gallery{
      margin: 20px 24px;
    }
    #our-brand-gallery h2 {
      font-size: 22px;
      text-align: left;
      margin-bottom: 10px;
    }
    #our-brand-gallery p {
      font-size: 14px;
      text-align: left;
      margin-bottom: 18px;
    }
  }
</style>
