<style>
  .mkt-select-country__popup__language-selector-popup-mask {
    display: block;
    position: fixed;
    inset: 0px;
    z-index: -9;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    opacity: 0;
  }
  .mkt-select-country__popup__language-selector-popup-mask.active {
    opacity: 1;
    z-index: 99999;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mkt-select-country__popup__language-selector-popup {
    z-index: 999;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
    padding: 0px 40px;
    width: 960px;
    max-height: 950px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    height: auto;
  }
  .mkt-select-country__popup__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding-top: 8px;
    margin-bottom: 10px;
    line-height: 1.5;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: #000;
    font-weight: 600;
    padding: 12px 0;
  }
  .mkt-select-country__popup__close-button {
    line-height: 0;
    cursor: pointer;
  }
  .mkt-select-country__popup__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 24px 0px;
    font-size: 14px;
    gap: 16px;
    max-height: 592px;
    overflow: hidden auto;
  }
  .mkt-select-country__popup__other_sites,
  .mkt-select-country__popup__recommended_visit {
    display: flex;
    flex-direction: column;
  }
  .mkt-select-country__popup__recommended_visit {
    margin-bottom: 20px;
  }
  .mkt-select-country__popup__recommended_visit_title,
  .mkt-select-country__popup__other_sites_title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .mkt-select-country__popup__country-item {
    width: calc(50% - 20px);
    display: flex;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    background: rgb(247, 248, 250);
    border-radius: 5px;
  }
  .mkt-select-country__popup__country-item:hover {
    background: rgb(240, 241, 242);
  }
  .mkt-select-country__popup__country-name {
    flex: 1 1 0%;
    text-align: left;
    font-size: 15px;
    line-height: 1.3;
    color: #333;
  }
  .mkt-select-country__popup__country-language {
    flex: 1 1 0%;
    color: #333;
    text-align: right;
    font-size: 14px;
    line-height: 1.3;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .mkt-select-country__popup__language-selector-popup {
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 20px;
    }
    .mkt-select-country__popup__title {
      font-size: 16px;
    }
    .mkt-select-country__popup__country-name {
      font-size: 14px;
    }
    .mkt-select-country__popup__country-language {
      font-size: 13px;
    }
    .mkt-select-country__popup__content {
      margin-left: 0;
      margin-right: 0;
    }
    .mkt-select-country__popup__country-item {
      width: 100%;
    }
    .mkt-select-country__popup__recommended_visit_title,
    .mkt-select-country__popup__other_sites_title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
</style>
<div class="mkt-select-country__popup__language-selector-popup-mask">
  <div class="mkt-select-country__popup__language-selector-popup">
    <div class="mkt-select-country__popup__title">
      <span class="mkt-select-country__popup__title-text">Select Your Country / Region</span>
      <div class="mkt-select-country__popup__close-button">
        <svg
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
        >
          <path d="M606.831242 520.060515c0.001007-2.168803-0.104715-4.337605-0.299041-6.499359l368.741734-375.125303c27.44532-27.916536 27.44532-73.131134 0-101.072842-13.711584-13.920007-31.683244-20.917768-49.661953-20.917768-17.974681 0-35.94332 6.997761-49.66598 20.917768L518.067411 401.478167 154.187862 37.503972c-14.052914-14.013646-32.449474-21.05873-50.856103-21.05873-18.403608 0-36.810237 7.045084-50.849055 21.05873-28.106835 28.124958-28.106835 73.649673 0 101.759529L433.187086 520.033329 52.481698 900.822288c-28.106835 28.106835-28.106835 73.624502 0 101.713213 28.092738 28.11791 73.609399 28.11791 101.705158 0l367.220351-367.274722 354.538797 360.676689c27.437265 27.930632 71.889661 27.930632 99.327933 0 27.44532-27.90546 27.44532-73.120059 0-101.036594L606.831242 520.060515z"></path>
        </svg>
      </div>
    </div>
    <div class="mkt-select-country__popup__recommended_visit">
      <div class="mkt-select-country__popup__recommended_visit_title">Recommended visit</div>
      <div class="mkt-select-country__popup__recommended_visit_content">
        <a
          class="mkt-select-country__popup__country-item mkt-select-country__popup__recommended_visit_country-url"
          href=""
        >
          <span
            class="mkt-select-country__popup__country-name mkt-select-country__popup__recommended_visit_country-name"
          ></span>
          <span
            class="mkt-select-country__popup__country-language mkt-select-country__popup__recommended_visit_country-language"
          ></span>
        </a>
      </div>
    </div>
    <div class="mkt-select-country__popup__other_sites">
      <div class="mkt-select-country__popup__other_sites_title">Other sites</div>
      <div class="mkt-select-country__popup__content">
        {% unless request.host contains 'www.procolored.com' %}
          <a class="mkt-select-country__popup__country-item" data-site-code="US" href="https://www.procolored.com/">
            <span class="mkt-select-country__popup__country-name">United States and others</span>
            <span class="mkt-select-country__popup__country-language">English&nbsp;/&nbsp;USD</span>
          </a>
        {% endunless %}
        {% unless request.host contains 'procolored.eu' %}
          <a class="mkt-select-country__popup__country-item" data-site-code="GB" href="https://procolored.eu/">
            <span class="mkt-select-country__popup__country-name">United Kingdom</span>
            <span class="mkt-select-country__popup__country-language">English&nbsp;/&nbsp;GBP</span>
          </a>
        {% endunless %}
        {% unless request.host contains 'procolored.eu' %}
          <a class="mkt-select-country__popup__country-item" data-site-code="EU" href="https://procolored.eu/">
            <span class="mkt-select-country__popup__country-name">EU Countries</span>
            <span class="mkt-select-country__popup__country-language">English&nbsp;/&nbsp;EUR</span>
          </a>
        {% endunless %}
        {% unless request.host contains 'fr.procolored.com' %}
          <a class="mkt-select-country__popup__country-item" data-site-code="FR" href="https://fr.procolored.com/">
            <span class="mkt-select-country__popup__country-name">Francophone</span>
            <span class="mkt-select-country__popup__country-language">French&nbsp;/&nbsp;EUR</span>
          </a>
        {% endunless %}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const closeBtn = document.querySelector('.mkt-select-country__popup__close-button');
    const mask = document.querySelector('.mkt-select-country__popup__language-selector-popup-mask');
    const titleText = document.querySelector('.mkt-select-country__popup__title-text');
    const recommendedVisitTitle = document.querySelector('.mkt-select-country__popup__recommended_visit_title');
    const otherSitesTitle = document.querySelector('.mkt-select-country__popup__other_sites_title');
    const recommendedVisitCountryUrl = document.querySelector('.mkt-select-country__popup__recommended_visit_country-url');
    const recommendedVisitCountryName = document.querySelector('.mkt-select-country__popup__recommended_visit_country-name');
    const recommendedVisitCountryLanguage = document.querySelector('.mkt-select-country__popup__recommended_visit_country-language');
    let geoDataRequest = null;

    const sites = {
      US: {
        code: 'US',
        url: 'https://www.procolored.com/',
      },
      GB: {
        code: 'GB',
        url: 'https://procolored.eu/',
      },
      EU: {
        code: 'EU',
        url: 'https://procolored.eu/',
      },
      FR: {
        code: 'FR',
        url: 'https://fr.procolored.com/',
      },
    };

    const localizedCopy = {
      EN: {
        popup: {
          title: 'Select Your Country / Region',
          recommendedTitle: 'Recommended visit',
          otherSitesTitle: 'Other sites',
        },
        sites: {
          US: { name: 'United States and others', language: 'English / USD' },
          GB: { name: 'United Kingdom', language: 'English / GBP' },
          EU: { name: 'EU Countries', language: 'English / EUR' },
          FR: { name: 'Francophone', language: 'French / EUR' },
        },
      },
      FR: {
        popup: {
          title: 'Selectionnez votre pays / region',
          recommendedTitle: 'Site recommande',
          otherSitesTitle: 'Autres sites',
        },
        sites: {
          US: { name: 'Etats-Unis et autres regions', language: 'Anglais / USD' },
          GB: { name: 'Royaume-Uni', language: 'Anglais / GBP' },
          EU: { name: "Pays de l'Union europeenne", language: 'Anglais / EUR' },
          FR: { name: 'Espace francophone', language: 'Francais / EUR' },
        },
      },
      DE: {
        popup: {
          title: 'Wahlen Sie Ihr Land / Ihre Region',
          recommendedTitle: 'Empfohlene Website',
          otherSitesTitle: 'Weitere Websites',
        },
        sites: {
          US: { name: 'Vereinigte Staaten und weitere Regionen', language: 'Englisch / USD' },
          GB: { name: 'Vereinigtes Konigreich', language: 'Englisch / GBP' },
          EU: { name: 'EU-Lander', language: 'Englisch / EUR' },
          FR: { name: 'Frankophoner Raum', language: 'Franzosisch / EUR' },
        },
      },
      ES: {
        popup: {
          title: 'Selecciona tu pais o region',
          recommendedTitle: 'Sitio recomendado',
          otherSitesTitle: 'Otros sitios',
        },
        sites: {
          US: { name: 'Estados Unidos y otros paises', language: 'Ingles / USD' },
          GB: { name: 'Reino Unido', language: 'Ingles / GBP' },
          EU: { name: 'Paises de la UE', language: 'Ingles / EUR' },
          FR: { name: 'Zona francofona', language: 'Frances / EUR' },
        },
      },
      JP: {
        popup: {
          title: '国または地域を選択',
          recommendedTitle: 'おすすめのサイト',
          otherSitesTitle: 'その他のサイト',
        },
        sites: {
          US: { name: '米国およびその他の地域', language: '英語 / USD' },
          GB: { name: '英国', language: '英語 / GBP' },
          EU: { name: 'EU諸国', language: '英語 / EUR' },
          FR: { name: 'フランス語圏', language: 'フランス語 / EUR' },
        },
      },
    };

    const europeanCountries = [
      'AT',
      'BE',
      'BG',
      'CY',
      'CZ',
      'DK',
      'EE',
      'FI',
      'FR',
      'DE',
      'GR',
      'HU',
      'IE',
      'IT',
      'LV',
      'LT',
      'LU',
      'MT',
      'NL',
      'PL',
      'PT',
      'RO',
      'SK',
      'SI',
      'ES',
      'SE',
      'GB',
      'CH',
      'HR',
      'AL',
      'AD',
      'AM',
      'BY',
      'BA',
      'FO',
      'GI',
      'IS',
      'IM',
      'XK',
      'LI',
      'MK',
      'MD',
      'MC',
      'ME',
      'NO',
      'RU',
      'SM',
      'RS',
      'TR',
      'UA',
      'VA',
    ];

    function fetchGeoData() {
      if (geoDataRequest) return geoDataRequest;

      geoDataRequest = fetch('https://dtc.mblock.cc/shopify/ip', {
        method: 'GET',
        mode: 'cors',
        credentials: 'omit',
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error(`geo request failed: ${response.status}`);
          }
          return response.json();
        })
        .then((resp) => {
          if (resp && resp.code === 0 && resp.data) {
            return resp.data;
          }
          return null;
        })
        .catch((error) => {
          geoDataRequest = null;
          console.error(error);
          return null;
        });

      return geoDataRequest;
    }

    function getCurrentSite() {
      const hostname = window.location.hostname;

      if (hostname.endsWith('procolored.com')) {
        if (hostname.startsWith('fr.')) return 'FR';
        if (
          hostname === 'procolored.com' ||
          hostname === 'www.procolored.com' ||
          hostname === 'www.procolored.com.'
        ) {
          return 'US';
        }
      } else if (hostname.endsWith('procolored.eu')) {
        return 'EU';
      }

      return 'US';
    }

    const isEuropeCountry = (countryCode) =>
      europeanCountries.includes(String(countryCode || '').toUpperCase());
    const isFrance = (countryCode) => String(countryCode || '').toUpperCase() === 'FR';
    const isCanada = (countryCode) => String(countryCode || '').toUpperCase() === 'CA';
    const isUnitedStates = (countryCode) => String(countryCode || '').toUpperCase() === 'US';
    const isUnitedKingdom = (countryCode) => String(countryCode || '').toUpperCase() === 'GB';

    function getLocaleKeyFromCountry(countryCode) {
      const code = String(countryCode || '').toUpperCase();

      if (['FR', 'BE', 'CH', 'LU', 'MC'].includes(code)) return 'FR';
      if (['DE', 'AT'].includes(code)) return 'DE';
      if (['ES', 'AR', 'CL', 'CO', 'MX', 'PE'].includes(code)) return 'ES';
      if (code === 'JP') return 'JP';

      return 'EN';
    }

    function getLocaleKeyFromNavigator() {
      const language = String(navigator.language || '').toLowerCase();

      if (language.startsWith('fr')) return 'FR';
      if (language.startsWith('de')) return 'DE';
      if (language.startsWith('es')) return 'ES';
      if (language.startsWith('ja')) return 'JP';
      if (getCurrentSite() === 'FR') return 'FR';

      return 'EN';
    }

    function getLocalePack(localeKey) {
      return localizedCopy[localeKey] || localizedCopy.EN;
    }

    function getLocalizedSite(siteCode, localeKey) {
      const localePack = getLocalePack(localeKey);
      return localePack.sites[siteCode] || localizedCopy.EN.sites[siteCode] || { name: '', language: '' };
    }

    function getCurrentSiteInfo() {
      const currentSite = getCurrentSite();

      if (currentSite === 'FR') return sites.FR;
      if (currentSite === 'EU') return sites.EU;
      return sites.US;
    }

    function getManualRecommendation(countryCode) {
      const currentSite = getCurrentSite();

      if (currentSite === 'US') {
        if (isUnitedStates(countryCode)) return sites.US;
        if (isEuropeCountry(countryCode)) {
          if (isFrance(countryCode)) return sites.FR;
          if (isUnitedKingdom(countryCode)) return sites.GB;
          return sites.EU;
        }
        return sites.US;
      }

      if (currentSite === 'EU') {
        if (isEuropeCountry(countryCode)) return sites.EU;
        if (isCanada(countryCode)) return sites.FR;
        if (isUnitedStates(countryCode) || (!isEuropeCountry(countryCode) && !isCanada(countryCode))) {
          return sites.US;
        }
        return sites.EU;
      }

      if (currentSite === 'FR') {
        if (isFrance(countryCode)) return sites.FR;
        if (isEuropeCountry(countryCode)) return sites.EU;
        if (isUnitedStates(countryCode) || (!isEuropeCountry(countryCode) && !isCanada(countryCode))) {
          return sites.US;
        }
        return sites.FR;
      }

      return getCurrentSiteInfo();
    }

    function closePopup() {
      if (mask) {
        mask.classList.remove('active');
      }
    }

    function renderPopupCopy(localeKey) {
      const localePack = getLocalePack(localeKey);

      if (titleText) {
        titleText.textContent = localePack.popup.title;
      }
      if (recommendedVisitTitle) {
        recommendedVisitTitle.textContent = localePack.popup.recommendedTitle;
      }
      if (otherSitesTitle) {
        otherSitesTitle.textContent = localePack.popup.otherSitesTitle;
      }

      document.querySelectorAll('.mkt-select-country__popup__country-item[data-site-code]').forEach((item) => {
        const siteCode = item.getAttribute('data-site-code');
        const siteCopy = getLocalizedSite(siteCode, localeKey);
        const nameElement = item.querySelector('.mkt-select-country__popup__country-name');
        const languageElement = item.querySelector('.mkt-select-country__popup__country-language');

        if (nameElement) {
          nameElement.textContent = siteCopy.name;
        }
        if (languageElement) {
          languageElement.textContent = siteCopy.language;
        }
      });
    }

    function showCountrySelect(siteInfo, localeKey) {
      const targetSite = siteInfo || getCurrentSiteInfo();
      const resolvedLocaleKey = localeKey || getLocaleKeyFromNavigator();
      const localizedSite = getLocalizedSite(targetSite.code, resolvedLocaleKey);

      if (!mask || !recommendedVisitCountryUrl || !recommendedVisitCountryName || !recommendedVisitCountryLanguage) {
        return;
      }

      renderPopupCopy(resolvedLocaleKey);
      recommendedVisitCountryUrl.href = targetSite.url;
      recommendedVisitCountryName.textContent = localizedSite.name;
      recommendedVisitCountryLanguage.textContent = localizedSite.language;
      mask.classList.add('active');
    }

    async function openCountryPopup() {
      try {
        const geoData = await fetchGeoData();
        const localeKey = geoData
          ? getLocaleKeyFromCountry(geoData.country_iso_code || '')
          : getLocaleKeyFromNavigator();
        const recommendation = geoData
          ? getManualRecommendation(geoData.country_iso_code || '')
          : getCurrentSiteInfo();

        showCountrySelect(recommendation, localeKey);
      } catch (error) {
        console.error(error);
        showCountrySelect(getCurrentSiteInfo(), getLocaleKeyFromNavigator());
      }
    }

    renderPopupCopy(getLocaleKeyFromNavigator());

    if (closeBtn) {
      closeBtn.addEventListener('click', closePopup);
    }

    if (mask) {
      mask.addEventListener('click', function (event) {
        if (event.target === mask) {
          closePopup();
        }
      });
    }

    const countrySwitcherFooters = document.querySelectorAll('.country-switcher-footer');
    if (countrySwitcherFooters && countrySwitcherFooters.length > 0) {
      countrySwitcherFooters.forEach(function (countrySwitcherFooter) {
        countrySwitcherFooter.addEventListener('click', function (event) {
          if (event) {
            if (typeof event.preventDefault === 'function') {
              event.preventDefault();
            }
            if (typeof event.stopImmediatePropagation === 'function') {
              event.stopImmediatePropagation();
            } else if (typeof event.stopPropagation === 'function') {
              event.stopPropagation();
            }
          }

          openCountryPopup();
        });
      });
    }
  });
</script>
