<style>
    /* 感谢页 弹出抽奖活动 statr*/
    #thank-you-popup-up {
      width: 560px;
      border-radius: 10px;
      cursor: auto;
    }
    .thank-you-popup-up-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .thank-you-popup-up-icon-group {
      display: flex;
      height: 165px;
    }
    .thank-you-popup-up-icon-left {
      height: 100%;
    }
    .thank-you-popup-up-icon-center {
    }
    .thank-you-popup-up-icon-right {
      height: 100%;
    }
    .thank-you-popup-up-title {
      color: #000;
      text-align: center;
  
      /* MB/H5五级标题 */
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22.4px; /* 140% */
      margin-bottom: 4px;
    }
    .thank-you-popup-up-desc {
      color: #000;
      text-align: center;
  
      /* MB/超小文本 */
      font-family: Mulish;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.8px; /* 140% */
      margin-bottom: 23px;
    }
    .thank-you-popup-up-desc span {
      color: #da291c;
    }
    .thank-you-popup-up-button {
      display: flex;
      width: 160px;
      height: 46px;
      padding: 8.918px 32px;
      justify-content: center;
      align-items: center;
      gap: 8.918px;
      flex-shrink: 0;
      border-radius: 4.459px;
      background: var(---1, #ff8f1c);
      color: #fff;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      #thank-you-popup-up {
        width: 90%;
  
        border-radius: 10px;
        cursor: auto;
      }
      .thank-you-popup-up-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .thank-you-popup-up-icon-group {
        display: flex;
        height: 165px;
      }
      .thank-you-popup-up-icon-left {
        height: 100%;
      }
      .thank-you-popup-up-icon-center {
      }
      .thank-you-popup-up-icon-right {
        height: 100%;
      }
      .thank-you-popup-up-title {
        color: #000;
        text-align: center;
  
        /* MB/H5五级标题 */
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.4px; /* 140% */
        margin-bottom: 4px;
      }
      .thank-you-popup-up-desc {
        color: #000;
        text-align: center;
  
        /* MB/超小文本 */
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.8px; /* 140% */
        margin-bottom: 23px;
      }
      .thank-you-popup-up-desc span {
        color: #da291c;
      }
      .thank-you-popup-up-button {
        display: flex;
        width: 160px;
        height: 46px;
        padding: 8.918px 32px;
        justify-content: center;
        align-items: center;
        gap: 8.918px;
        flex-shrink: 0;
        border-radius: 4.459px;
        background: var(---1, #ff8f1c);
        color: #fff;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
      }
    }
    /* 感谢页 弹出抽奖活动 end*/
  </style>
  <div style="display: none" id="thank-you-popup-up">
    <div class="thank-you-popup-up-wrapper">
      <div class="thank-you-popup-up-icon-group">
        <div class="thank-you-popup-up-icon-left">
          <img src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_498.png?v=1756025831" alt="">
        </div>
        <div class="thank-you-popup-up-icon-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="221" height="165" viewBox="0 0 221 165" fill="none">
            <mask id="mask0_6131_18351" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="221"
              height="165">
              <rect width="221" height="165" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_6131_18351)">
              <g filter="url(#filter0_i_6131_18351)">
                <circle cx="109.499" cy="82.5001" r="62.2162" fill="url(#paint0_linear_6131_18351)" />
              </g>
              <g filter="url(#filter1_d_6131_18351)">
                <g filter="url(#filter2_i_6131_18351)">
                  <path
                    d="M162.564 82.4548C162.572 91.7694 160.128 100.922 155.478 108.993C150.827 117.064 144.134 123.768 136.072 128.432L109.5 82.5004L162.564 82.4548Z"
                    fill="#FFE585" />
                </g>
                <g filter="url(#filter3_i_6131_18351)">
                  <path
                    d="M136.019 36.5316C144.085 41.1889 150.784 47.8876 155.441 55.9543C160.099 64.021 162.55 73.1716 162.55 82.4862L109.487 82.4862L136.019 36.5316Z"
                    fill="#FFCE24" />
                </g>
                <g filter="url(#filter4_i_6131_18351)">
                  <path
                    d="M82.9843 36.5352C91.0528 31.8808 100.204 29.4322 109.519 29.4356C118.833 29.4389 127.983 31.8941 136.048 36.5544L109.5 82.4994L82.9843 36.5352Z"
                    fill="#FFE585" />
                </g>
                <g filter="url(#filter5_i_6131_18351)">
                  <path
                    d="M56.4367 82.4996C56.4367 73.185 58.8886 64.0344 63.5459 55.9677C68.2033 47.9009 74.9019 41.2023 82.9687 36.545L109.501 82.4996L56.4367 82.4996Z"
                    fill="#FFCE24" />
                </g>
                <g filter="url(#filter6_i_6131_18351)">
                  <path
                    d="M82.9826 128.464C74.9141 123.81 68.2129 117.114 63.5526 109.049C58.8922 100.984 56.4369 91.8344 56.4334 82.5197L109.497 82.4998L82.9826 128.464Z"
                    fill="#FFE585" />
                </g>
                <g filter="url(#filter7_i_6131_18351)">
                  <path
                    d="M136.064 128.437C128.001 133.1 118.852 135.558 109.537 135.564C100.223 135.57 91.0705 133.125 83.0006 128.473L109.501 82.5002L136.064 128.437Z"
                    fill="#FFCE24" />
                </g>
              </g>
              <g filter="url(#filter8_di_6131_18351)">
                <path
                  d="M110.75 32.263C109.982 33.6067 108.045 33.6067 107.277 32.263L99.9005 19.354C98.7576 17.3541 100.202 14.8656 102.505 14.8656L115.522 14.8656C117.825 14.8656 119.269 17.354 118.127 19.354L110.75 32.263Z"
                  fill="url(#paint1_linear_6131_18351)" />
              </g>
              <g filter="url(#filter9_d_6131_18351)">
                <mask id="mask1_6131_18351" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="102" y="49" width="14"
                  height="14">
                  <path d="M108.837 49.8999L115.608 62.4269H102.065L108.837 49.8999Z"
                    fill="url(#paint2_linear_6131_18351)" />
                </mask>
                <g mask="url(#mask1_6131_18351)">
                  <rect x="99.2383" y="45.5249" width="9.59626" height="23.861" fill="#FAB340" />
                </g>
                <mask id="mask2_6131_18351" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="102" y="49" width="14"
                  height="14">
                  <path d="M108.836 49.8999L102.064 62.4269H115.607L108.836 49.8999Z" fill="#FAB340" />
                </mask>
                <g mask="url(#mask2_6131_18351)">
                  <path d="M118.432 45.525H108.835V69.386H118.432V45.525Z" fill="#F69426" />
                </g>
              </g>
              <g filter="url(#filter10_di_6131_18351)">
                <ellipse cx="108.527" cy="81.0405" rx="18.9765" ry="18.49" fill="url(#paint3_linear_6131_18351)" />
              </g>
              <g filter="url(#filter11_d_6131_18351)">
                <path
                  d="M109.015 60.6041C120.301 60.6043 129.45 69.7541 129.45 81.0406C129.45 92.3271 120.301 101.476 109.015 101.476C97.7281 101.476 88.5783 92.3272 88.5781 81.0406C88.5781 69.754 97.728 60.6041 109.015 60.6041ZM109.016 62.5504C98.8039 62.5504 90.5254 70.8289 90.5254 81.0406C90.5255 91.2522 98.804 99.5299 109.016 99.5299C119.227 99.5298 127.505 91.2522 127.505 81.0406C127.505 70.829 119.227 62.5506 109.016 62.5504Z"
                  fill="#FFFCC3" />
              </g>
              <g filter="url(#filter12_d_6131_18351)">
                <path
                  d="M109.057 81.3859C109.057 80.1365 109.289 79.0518 109.755 78.1318C110.232 77.2004 110.914 76.4792 111.8 75.9681C112.686 75.457 113.736 75.2014 114.951 75.2014C116.167 75.2014 117.217 75.457 118.103 75.9681C118.989 76.4792 119.671 77.2004 120.148 78.1318C120.636 79.0518 120.88 80.1308 120.88 81.3689C120.88 82.6296 120.636 83.7257 120.148 84.657C119.671 85.577 118.989 86.2983 118.103 86.8207C117.217 87.3318 116.167 87.5874 114.951 87.5874C113.736 87.5874 112.686 87.3318 111.8 86.8207C110.925 86.2983 110.249 85.5713 109.772 84.64C109.295 83.7086 109.057 82.6239 109.057 81.3859ZM111.834 81.3859C111.834 82.6239 112.089 83.595 112.6 84.2992C113.123 84.9921 113.907 85.3385 114.951 85.3385C115.974 85.3385 116.752 84.9921 117.286 84.2992C117.819 83.595 118.086 82.6239 118.086 81.3859C118.086 80.1365 117.819 79.1711 117.286 78.4896C116.763 77.7967 115.985 77.4503 114.951 77.4503C113.907 77.4503 113.123 77.7967 112.6 78.4896C112.089 79.1711 111.834 80.1365 111.834 81.3859Z"
                  fill="white" />
              </g>
              <g filter="url(#filter13_d_6131_18351)">
                <path
                  d="M102.667 87.5874C101.293 87.5874 100.134 87.3375 99.1914 86.8378C98.2601 86.3267 97.5559 85.6111 97.0788 84.6911C96.6018 83.7597 96.3633 82.675 96.3633 81.437C96.3633 80.1649 96.6188 79.0632 97.13 78.1318C97.6524 77.2004 98.4021 76.4792 99.3789 75.9681C100.356 75.457 101.526 75.2014 102.889 75.2014C103.763 75.2014 104.53 75.315 105.189 75.5422C105.859 75.758 106.444 76.0703 106.943 76.4792L106.091 78.5407C105.728 78.2795 105.387 78.075 105.069 77.9274C104.751 77.7683 104.422 77.6604 104.081 77.6037C103.74 77.5355 103.349 77.5014 102.906 77.5014C101.656 77.5014 100.713 77.8422 100.077 78.5237C99.4527 79.1938 99.1403 80.1706 99.1403 81.454C99.1403 82.7261 99.4356 83.6916 100.026 84.3504C100.617 85.0091 101.543 85.3385 102.803 85.3385C103.224 85.3385 103.655 85.2988 104.098 85.2192C104.541 85.1397 104.978 85.0205 105.41 84.8615L104.933 85.8837V82.6466H102.292V80.7555H107.131V86.6504C106.529 86.9457 105.83 87.1785 105.035 87.3489C104.251 87.5079 103.462 87.5874 102.667 87.5874Z"
                  fill="white" />
              </g>
            </g>
            <defs>
              <filter id="filter0_i_6131_18351" x="47.2832" y="20.2839" width="124.432" height="125.432"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix"
                  values="0 0 0 0 0.918269 0 0 0 0 0.594233 0 0 0 0 0.0470905 0 0 0 0.31 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter1_d_6131_18351" x="54.4336" y="29.4355" width="114.131" height="114.129"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dx="2" dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0.908654 0 0 0 0 0.63312 0 0 0 0 0.256287 0 0 0 1 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
              </filter>
              <filter id="filter2_i_6131_18351" x="109.5" y="82.4547" width="53.0645" height="46.9775"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="1.7" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter3_i_6131_18351" x="109.486" y="36.5316" width="53.0645" height="46.9546"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="1.7" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter4_i_6131_18351" x="82.9844" y="29.4355" width="53.0645" height="54.0638"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="1.7" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter5_i_6131_18351" x="56.4375" y="36.5449" width="53.0625" height="46.9547"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="1.7" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter6_i_6131_18351" x="56.4336" y="82.4999" width="53.0645" height="46.9646"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="1.7" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter7_i_6131_18351" x="83" y="82.5002" width="53.0645" height="54.0638"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="1.7" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6131_18351" />
              </filter>
              <filter id="filter8_di_6131_18351" x="95.5" y="12.8656" width="27.0254" height="26.4052"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="2" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0.866667 0 0 0 0 0.666667 0 0 0 0 0.160784 0 0 0 0.53 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="0.5" />
                <feGaussianBlur stdDeviation="0.5" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.65 0" />
                <feBlend mode="normal" in2="shape" result="effect2_innerShadow_6131_18351" />
              </filter>
              <filter id="filter9_d_6131_18351" x="98.5973" y="46.4327" width="20.4774" height="19.4614"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset />
                <feGaussianBlur stdDeviation="1.7336" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0.866987 0 0 0 0 0.667006 0 0 0 0 0.161171 0 0 0 1 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
              </filter>
              <filter id="filter10_di_6131_18351" x="86.777" y="61.1637" width="49.0482" height="48.075"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dx="2.77376" dy="4.16064" />
                <feGaussianBlur stdDeviation="2.77376" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0.706731 0 0 0 0 0.489558 0 0 0 0 0.172152 0 0 0 0.44 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="0.69344" />
                <feGaussianBlur stdDeviation="0.69344" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.65 0" />
                <feBlend mode="normal" in2="shape" result="effect2_innerShadow_6131_18351" />
              </filter>
              <filter id="filter11_d_6131_18351" x="87.1958" y="59.5673" width="43.6358" height="43.6368"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="0.345593" />
                <feGaussianBlur stdDeviation="0.691187" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0.866987 0 0 0 0 0.462393 0 0 0 0 0.288995 0 0 0 1 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
              </filter>
              <filter id="filter12_d_6131_18351" x="107.477" y="75.2014" width="14.9829" height="15.5447"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1.57934" />
                <feGaussianBlur stdDeviation="0.789671" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
              </filter>
              <filter id="filter13_d_6131_18351" x="94.7839" y="75.2014" width="13.9263" height="15.5447"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset dy="1.57934" />
                <feGaussianBlur stdDeviation="0.789671" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6131_18351" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6131_18351" result="shape" />
              </filter>
              <linearGradient id="paint0_linear_6131_18351" x1="109.499" y1="20.2839" x2="109.499" y2="144.716"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FDDB86" />
                <stop offset="1" stop-color="#FFBF81" />
              </linearGradient>
              <linearGradient id="paint1_linear_6131_18351" x1="109.013" y1="8.05351" x2="109.013" y2="35.3019"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FCCA53" />
                <stop offset="1" stop-color="#F48519" />
              </linearGradient>
              <linearGradient id="paint2_linear_6131_18351" x1="108.464" y1="51.093" x2="107.53" y2="66.5957"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F89E59" />
                <stop offset="1" stop-color="#F62B77" />
              </linearGradient>
              <linearGradient id="paint3_linear_6131_18351" x1="108.527" y1="111.857" x2="108.527" y2="62.5505"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FCCA53" />
                <stop offset="1" stop-color="#F48519" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="thank-you-popup-up-icon-right">
          <img src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_499.png?v=1756025846" alt="">
        </div>
      </div>
      <div class="thank-you-popup-up-title">Congratulations！</div>
      <div class="thank-you-popup-up-desc">You have <span>2</span> lottery chances</div>
      <div class="thank-you-popup-up-button" onclick="window.open('https://www.procolored.com', '_blank')">Draw Now</div>
    </div>
  </div>
  <script>
    const $thank_you_links = $('#thank-you-popup-up');
  
    /**
     * 判断URL路径是否包含"thank-you"
     * @param {string} url - 要检查的URL，如果不传则检查当前页面URL
     * @returns {boolean} - 如果路径包含"thank-you"返回true，否则返回false
     */
    function isThankYouPage(url = null) {
      const targetUrl = url || window.location.href;
      try {
        const urlObj = new URL(targetUrl);
        const pathname = urlObj.pathname.toLowerCase();
        return pathname.includes('thank-you');
      } catch (error) {
        // 如果URL格式不正确，使用字符串方法
        return targetUrl.toLowerCase().includes('thank-you');
      }
    }
  
    // 使用示例：
    if (isThankYouPage()) {
      console.log('当前页面是thank-you页面');
      {% for line_item in cart.items %}
    {% if line_item.title contains 'Deposit' %}
      
        TriplePixel('custom', 'Pay_K13lite_Deposit', {
          'deposit_value': 5
        });

        setTimeout(function () {
        window.location.href = '/pages/black-friday-luck-draw';
        }, 2000);
      
    {% endif %}
  {% endfor %}
      {% comment %} TriplePixel('custom', 'Pay_K13lite_Deposit', {
        deposit_value: 5,
      }); {% endcomment %}
      {% comment %} setTimeout(function () {
        $.fancybox.open($thank_you_links);
      }, 2000); {% endcomment %}
    } else {
    }
  </script>
  