<style>
  .edu-0622 {
    max-width: 1200px;
    margin: 0 auto;
  }
  .edu-0622-wrapper {
    width: 100%;
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .edu-info {
    margin-right: 8px;
    border-radius: 20px;
  }
  .edu-form {
    margin-left: 8px;
  }
  .edu-info .info-wrapper {
    height: 100%;
    position: relative;
  }
  .edu-info .info-bg {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #da291c;
    display: grid;
    grid-template-columns: 1fr;
  }
  .edu-info .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .edu-info .svg svg {
    height: 100%;
  }
  .edu-info .info-box {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .edu-info .info-box p {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #fff;
    text-align: center;
  }
  .edu-info .info-box p.info-big {
    line-height: 44px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .edu-info .info-box p.info-small {
    line-height: 22px;
    font-size: 18px;
  }
  .education-discount-0622 .globo-form-app .panels {
    z-index: 1;
  }
  .education-discount-0622 .wizard__content {
    padding: 30px 20px;
  }
  .education-discount-0622 .globo-form-control label {
    font-size: 20px;
  }
  .education-discount-0622 .globo-form-control input {
    background-color: #fff;
    border-radius: 8px;
  }
  :root .globo-form-app[data-id='27523'] {
    border-radius: 20px;
    margin: 0;
  }
  .globo-form-id-27523 .globo-form-app .globo-form-control label.globo-label span.label-content {
    font-weight: bold;
  }
  .education-discount-0622 .gfb__footer [type='submit'].flat-button {
    border-radius: 20px;
    background-color: #000;
    font-weight: bold;
    border: none;
    margin-left: 5px;
  }
  @media screen and (max-width: 1199px) {
    .edu-0622 {
      margin: 0 24px;
    }
    .edu-info .info-box {
      width: 85%;
    }
  }
  @media screen and (max-width: 767px) {
    .edu-0622-wrapper {
      width: 100%;
      margin: 25px 0;
      display: flex;
      flex-direction: column;
    }
    .edu-info,
    .edu-form {
      margin: 0;
      width: 100%;
    }
    .edu-info {
      margin-bottom: 18px;
    }
    .edu-info .info-bg {
      border-radius: 10px;
    }
    .edu-info .info-box {
      width: 90%;
    }
    .edu-info .info-box p.info-big {
      line-height: 30px;
      font-size: 26px;
    }
    .edu-info .info-box p.info-small {
      line-height: 16px;
      font-size: 12px;
      width: 95%;
      margin: 0 auto;
    }
    .education-discount-0622 .wizard__content {
      padding: 20px;
      margin-bottom: 46px;
    }
    .education-discount-0622 .globo-form-control {
      margin-bottom: 16px;
    }
    .education-discount-0622 .globo-form-control:last-child {
      margin-bottom: 20px;
    }
    .education-discount-0622 .gfb__footer .description {
      margin: 0;
    }
    :root .globo-form-app[data-id='27523'] {
      border-radius: 10px;
    }
    .education-discount-0622 .globo-form-control label {
      font-size: 14px;
    }
    .education-discount-0622 .gfb__footer [type='submit'].flat-button {
      width: 100%;
      margin: 0;
    }
    .edu-info .svg svg {
      min-height: 257px;
    }
  }
</style>
<div class="edu-0622">
  <div class="edu-0622-wrapper">
    <div class="edu-info">
      <div class="info-wrapper">
        <div class="info-bg">
          <div class="bg-svg">
            <div class="svg">
              <svg
                viewBox="0 0 592 666"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>pexels-vlad-chețan-2923156备份 2</title>
                <defs>
                    <rect id="path-1" x="0" y="0" width="592" height="666" rx="20"></rect>
                </defs>
                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="教育折扣" transform="translate(-360, -150)">
                        <g id="pexels-vlad-chețan-2923156备份-2" transform="translate(360, 150)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <use id="蒙版" fill="#DA291C" xlink:href="#path-1"></use>
                            <g id="编组" mask="url(#mask-2)" fill="#E73326">
                                <g transform="translate(116, 100)">
                                    <path d="M262.770341,135.762117 L260.441249,133.14567 C239.476582,111.45867 210.602211,99.1897456 180.417229,99.1477462 C148.514698,98.857156 118.092146,112.56087 97.1945448,136.63332 L93.1206237,140.410994 L89.6281229,136.63332 C89.1842428,135.821711 88.4607353,135.203072 87.5900256,134.888644 L41.9044781,105.829619 L180.417229,34.343851 L313.11123,105.539597 L262.770341,135.762117 Z M180.417229,296.456253 C134.121276,295.988585 96.6591606,258.707332 96.0288623,212.477942 C96.6546139,166.197473 134.072398,128.831653 180.417229,128.206203 C225.024052,130.824353 259.853008,167.71172 259.853008,212.331512 C259.853008,256.951304 225.024052,293.838103 180.417229,296.456253 L180.417229,296.456253 Z M182.746321,2.3811941 C178.958847,-0.793731367 173.437343,-0.793731367 169.652143,2.3811941 L5.82117636,89.8471556 C2.08940092,92.9199205 -0.0487256705,97.5137436 0.00120605112,102.342536 C0.295693446,107.884751 3.21245731,112.955323 7.85700024,116.001413 L72.4577501,157.845841 C73.4256474,158.816934 74.6294092,159.517302 75.9502509,159.881108 L80.6055924,159.881108 L78.5697685,164.239394 C72.1246979,179.00047 68.7572338,194.9188 68.6770967,211.023288 C68.0308846,240.784951 79.606436,269.513089 100.71319,290.53491 C121.81767,311.55673 150.617019,323.04072 180.417229,322.320488 C195.80924,322.380082 211.021653,319.003673 224.939368,312.439285 L228.431868,312.439285 C282.011775,330.993358 320.744148,377.854441 328.824926,433.90544 L328.824926,438.847177 L29.973709,438.847177 L29.973709,433.90544 C35.479868,391.764179 58.373509,353.837611 93.1206237,329.295221 C99.4497512,324.789938 101.228113,316.170418 97.1945448,309.534517 C95.3451392,306.439618 92.0680425,304.475296 88.4624404,304.302758 C84.5686856,304.007627 80.6635639,304.707995 77.1159334,306.338024 C28.7170907,338.8637 -0.215251745,393.378317 0.00120605112,451.633148 L0.00120605112,451.633148 C0.00120605112,458.854769 5.86493918,464.709141 13.0966039,464.709141 L341.919672,464.709141 C349.151337,464.709141 355.01385,458.854769 355.01385,451.633148 L355.01385,451.633148 C354.771734,385.86497 318.315027,325.561818 260.150255,294.713847 L254.913493,292.097967 L258.987414,288.029704 C278.910298,266.621943 290.026624,238.505634 290.122106,209.280882 C290.144272,193.040747 286.672232,176.987338 279.93844,162.204127 L278.191337,158.717044 L344.830184,116.001413 C348.432945,112.831028 350.544359,108.299636 350.648935,103.5066 C350.586985,98.6375106 348.344282,94.0527684 344.53919,91.0112193 L182.746321,2.3811941 Z" id="Fill-1"></path>
                                    <path d="M338.203963,87.7562327 C331.473961,88.1657931 326.064926,93.4787495 325.503388,100.229982 L325.503388,221.46384 L324.06064,221.46384 C319.044006,225.327756 316.15231,231.355036 316.26676,237.705772 C315.299854,246.129802 319.228931,254.365762 326.373321,258.884522 C333.515457,263.40045 342.604371,263.40045 349.748761,258.884522 C356.890897,254.365762 360.821665,246.129802 359.855323,237.705772 C359.967518,231.355036 357.075821,225.327756 352.060878,221.46384 L350.616439,221.46384 L350.616439,100.809485 C350.349765,93.9341943 345.026991,88.3380011 338.203963,87.7562327" id="Fill-3"></path>
                                </g>
                            </g>
                            <g id="文本" mask="url(#mask-2)">
                                <g transform="translate(88, 280)"></g>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="info-box">
          <p class="info-big">
            “Unlocking <br>
            Exclusive Discounts”
          </p>
          <p class="info-small">
            We Offer Exclusive Discounts For Educators. <br>
            Submit Your Information For Verification On The Right To Get Your Free Discount!
          </p>
        </div>
      </div>
    </div>
    <div class="edu-form">
      <div class="form-wrapper">
        <div class="globo-formbuilder" data-id="Mjc1MjM="></div>
      </div>
    </div>
  </div>
</div>
