<div class="affiliates">
  <div class="affiliates-banner">
    <div class="affiliate-wrapper">
      <div class="affiliate-text-wrapper">
        <h2>Hi, Welcome to Procolored!</h2>
        <p>
          I'm excited to introduce you a lineup of inkjet printers for product customization. Being a technology company
          that offers solutions of lightweight printing, Procolored aims to be your trusted partner in print-on-demand
          businesses.
        </p>
        <p>
          Start your business with us to personalize products with colorful and high-quality prints. Procolored keeps
          pursuing user-friendly experience and reliable technology to sparkle your joyful journey of producing
          attractive items.
        </p>
        <p>Message from CEO Kristina</p>
      </div>
      <img
        src="{{ 'smiling-face.png' | asset_url }}"
        alt="Our Brand"
        width="100%"
        height="auto"
      >
    </div>
  </div>

  <div class="pod-facts">
    <div class="pod-facts-wrapper">
      <div class="pod-title">
        Printers for Print-on-<br>
        demand Business
      </div>
      <div class="pod-content">
        Procolored is a leading manufacturer of DTF printers. We also produce UV, UV DTF,DTG printers. Start your
        business with us to personalize products with colorful design and high-quality prints. "Frieng dly user
        experience and reliable technology bring you a harvest smile of lightweight printing."
      </div>
      <hr>
      <div class="facts-title">Quick Facts</div>
      <div class="fact-cards">
        <div class="fact-card">
          <div class="fact-card-title">Sucessful Startups</div>
          <div class="fact-card-content">30K+</div>
        </div>
        <div class="fact-card">
          <div class="fact-card-title">Talented Engineers</div>
          <div class="fact-card-content">100+</div>
        </div>
        <div class="break"></div>
        <div class="fact-card">
          <div class="fact-card-title">Patents</div>
          <div class="fact-card-content">100+</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .affiliates .affiliates-banner {
    background-color: #DA291C;
    height: 700px;
  }

  .affiliates .affiliate-wrapper {
    max-width: 1248px;
    padding: 0 24px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .affiliates .affiliates-banner img {
    max-width: 500px;
    object-fit: contain;
  }

  .affiliates .affiliates-banner .affiliate-text-wrapper {
    max-width: 477px;
    color: white;
  }

  .affiliates .affiliates-banner .affiliate-text-wrapper h2 {
    font-size: 40px;
    line-height: 1.4;
    color: white;
    margin: 0;
  }

  .affiliates .affiliates-banner .affiliate-text-wrapper p {
    font-size: 18px;
    line-height: 1.1;
    margin: 20px 0 0;
  }

  @media (max-width: 1200px) {
    .affiliates .affiliates-banner {
      height: 45vw;
    }
    .affiliates .affiliates-banner img {
      width: 35%;
    }
    .affiliates .affiliates-banner .affiliate-text-wrapper {
      width: 40%;
    }
    .affiliates .affiliate-wrapper {
      justify-content: space-around;
    }
    .affiliates .affiliates-banner .affiliate-text-wrapper h2 {
      font-size: 2.6vw;
    }
    .affiliates .affiliates-banner .affiliate-text-wrapper p {
      font-size: 1.4vw;
      margin: 1.5vw 0 0;
    }
  }

  @media (max-width: 500px) {
    .affiliates .affiliates-banner {
      background-image: url({{ 'ourbrand-mobile.png' | asset_url }});
      height: 84vw;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .affiliates .affiliates-banner .affiliate-text-wrapper {
      width: 100%;
      text-align: center;
    }
    .affiliates .affiliates-banner img {
      display: none;
    }
    .affiliates .affiliates-banner .affiliate-text-wrapper h2 {
      font-size: 6vw;
    }
    .affiliates .affiliates-banner .affiliate-text-wrapper p {
      font-size: 3vw;
      margin-top: 3.5vw;
    }
  }

  .affiliates .pod-facts-wrapper {
    max-width: 1248px;
    padding: 0 24px;
    margin: 120px auto 50px;
  }

  .affiliates .pod-facts-wrapper hr {
    margin: 30px 0;
    border-color: #ccc;
  }

  .affiliates .fact-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    row-gap: 10px;
  }

  .affiliates .fact-cards .break {
    display: none;
    flex-basis: 100%;
    height: 0;
  }

  .affiliates .pod-title, .affiliates .fact-card-title {
    margin-bottom: 15px;
  }

  .affiliates .facts-title {
    margin-bottom: 30px;
  }

  .affiliates .pod-title, .affiliates .facts-title {
    font-size: 34px;
    line-height: 1.1;
    font-weight: bold;
  }

  .affiliates .pod-content, .affiliates .fact-card-title {
    font-size: 20px;
    line-height: 1.1;
  }

  .affiliates .fact-card-content {
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
  }

  @media (max-width: 768px) {
    .affiliates .pod-facts-wrapper {
      margin: 34px 0 21px;
    }
    .affiliates .fact-cards .break {
      display: block;
    }
    .affiliates .facts-title {
      margin-bottom: 20px;
    }
    .affiliates .pod-facts-wrapper hr {
      margin: 20px 0;
    }
    .affiliates .pod-title, .affiliates .fact-card-title {
      margin-bottom: 10px;
    }
    .affiliates .pod-title, .affiliates .facts-title {
      font-size: 22px;
    }
    .affiliates .pod-content, .affiliates .fact-card-title {
      font-size: 14px;
    }
    .affiliates .fact-card-content {
      font-size: 26px;
    }
  }
</style>

{% schema %}
{
  "name": "ourBrand",
  "settings": [],
  "presets":[
    {
      "name":"ourBrand"
    }
  ]
}
{% endschema %}
