<div class="new-function">
  <div class="nf-wrapper">
    <div class="nf-title">
      <div class="title">New Features</div>
    </div>
    <div class="nf-text-with-img">
      <div class="twi-box">
        <div class="nf-item">
          <div class="nf-item-box">
              <picture>
                <source
                  media="(min-width: 769px)"
                  srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_Printhead_Safeguard_PC_1.png"
                >
                <source
                  media="(max-width: 768px)"
                  srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_Printhead_Safeguard_ios_1.png"
                >
                <img src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_Printhead_Safeguard_PC_1.png">
              </picture>
          </div>
        </div>
        <div class="nf-item">
          <div class="nf-item-box">
              <picture>
                <source media="(min-width: 769px)" srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_Excellent_Speed_PC_1.png">
                <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_Excellent_Speed_ios_1.png">
                <img src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_Excellent_Speed_PC_1.png">
              </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Gen2 New Function",
  "settings": [],
  "presets": [
    {
      "name": "Gen2 New Function"
    }
  ]
}
{% endschema %}
