<div class="sale-campaign">
  <div class="sc-wrapper">
    <div class="sc-title">
      <div class="title">Sale Campaign T&amp;C</div>
      <div class="sc-content">
        <div class="sale-text">
          <p class="mb30">Procolored F8 DTF Printer Gen-2 Launch Event</p>
          <div class="p-span">
            <p>1. Event Date</p>
            <span class="dot">September 1st to 30th, 2024 [Eastern Time, UTC/GMT -5.00]</span>
          </div>
          <div class="p-span">
            <p>2. About the Procolored F8 DTF Printer Gen-2</p>
            <span class="dot">
              DTF printer is widely used for printing on T-shirts, banners, hats, fags, uniforms, sports jerseys etc.
              This newly upgraded printer offers exceptional value and user-friendly features. It is ideal for those
              looking to start a new on-demand printing business with limited budget or for smal-scale operations.
            </span>
          </div>
          <div class="p-span">
            <p>3. Technical Upgrades: Printhead Safeguard System</p>
            <span class="dot">
              This new function of ink counter auto-reset resolves the common blinking lighits issues of DTF printer
              caused by fault reports from the ink counter programs.
            </span>
             <span class="dot">
              Detects the printing film flatness with a photoelectric sensor and promptly halts the printing process when the film is arching.
            </span>
          </div>
          <div class="p-span">
            <p>4. Early Bird Specials</p>
            <span class="dot">
              F8 Printer Only: $1999 (Use a $100 coupon for a promotional price of$1899, imited to 100 coupons)
            </span>
            <span class="dot">
              F8 Printer + Oven: $2399 (Use a $150 coupon for a promotional price of $2249, limited to 200 coupons)
            </span>
          </div>
          <p>
            Upgrade your printing capabilties today with the Procolored F8 DTF Printer. Take advantage of these special
            offers and secure your discount coupon now!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Gen2 Sale Campaign",
  "settings": [],
  "presets": [
    {
      "name": "Gen2 Sale Campaign"
    }
  ]
}
{% endschema %}
