<style>
                  .improved-even-heating-container {
                    background-color: #fff;
                    padding: 100px 0 50px 0;
                  }
                  .improved-even-heating-content {
                    max-width: 1248px;
                    margin: 0 auto;
                    padding: 0 24px;
                  }
                  .improved-even-heating-title-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-bottom: 60px;
                  }
                  .improved-even-heating-title {
                    color: #000;

                    font-size: 56px;

                    font-weight: 800;
                    line-height: 1.14; /* 114% */
                    text-align: left;
                  }
                  .improved-even-heating-subtitle {
                    color: #000;

                    font-size: 18px;

                    font-weight: 400;
                    line-height: 1.38; /* 138% */
                    text-align: left;
                    max-width: 575px;
                  }
                  .improved-even-heating-img-wrap {
                    border-radius: 20px;
                    overflow: hidden;
                    aspect-ratio: 2 / 1;
                  }
                  .improved-even-heating-img-wrap video{
                    width: 100%;
                    }
                  {% comment %} .improved-even-heating-img-wrap img {
                    aspect-ratio: 2/1;
                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                  } {% endcomment %}
                  .improved-even-heating-img-wrap .pc {
                    display: block;
                  }
                  .improved-even-heating-img-wrap .mb {
                    display: none;
                  }
                  {% comment %} enhanced-filtration-system start {% endcomment %}
                   .enhanced-filtration-system-wrap{
                    background-color: #fff;
                    padding: 50px 0 50px 0;
                  }
                   .enhanced-filtration-system-container{
                    max-width: 1248px;
                    margin: 0 auto;
                    padding: 0 24px;

                  }
                  .enhanced-filtration-system-title-wrap{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-bottom: 60px;
                  }
                  .enhanced-filtration-system-title{
                    color: #000;

                    font-size: 56px;

                    font-weight: 800;
                    line-height: 1.14; /* 114% */
                    text-align: left;

                  }
                  .enhanced-filtration-system-subtitle{
                    color: #000;

                    font-size: 18px;

                    font-weight: 400;
                    line-height: 1.38; /* 138% */
                    text-align: left;
                    max-width: 828px;
                  }
                  .enhanced-filtration-system-content{
                    display: flex;
                    gap: 20px;

                  }
                  .enhanced-filtration-system-content-item{
                    width: 590px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: start;



                  }
                  .enhanced-filtration-system-content-item-img{
                    border-radius: 20px;
                    overflow: hidden;
                    aspect-ratio: 59/40;
                  }
                  .enhanced-filtration-system-content-item-img img{

                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                  }
                  .enhanced-filtration-system-content-item-img .pc{
                    display: block;
                  }
                  .enhanced-filtration-system-content-item-img .mb{
                    display: none;
                  }
                  .enhanced-filtration-system-content-item-content{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: start;
                    width: 100%;
                  }
                  .enhanced-filtration-system-content-item-content-title{
                    color: #000;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 1.26; /* 126% */
                  }
                  .enhanced-filtration-system-content-item-content-desc{
                    color: #000;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.38; /* 138% */
                    max-width: 502px;
                  }
                  .enhanced-filtration-system-content-item:nth-child(1) .enhanced-filtration-system-content-item-content-desc{
                    max-width: 443px;
                  }
                  {% comment %} smoke-free-oven-video-bg {% endcomment %}
                   .smoke-free-oven-video-bg{
                    width: 100%;
                    max-width: 100%;
                    aspect-ratio: 16/9;
                    padding-top: 50px;
                    padding-bottom: 100px;
                    background-color: #fff;
                  }
                  .smoke-free-oven-video-bg video{
                    width: 100%;
                  }
                  .smoke-free-oven-video-bg .pc{
                    display: block;
                  }
                  .smoke-free-oven-video-bg .mb{
                    display: none;
                  }
                  .dtf-transfer-workflow-wrap{
                    background-color: #fff;
                    padding-bottom: 50px;
                  }
                  .dtf-transfer-workflow-container{
                    max-width: 1248px;
                    margin: 0 auto;
                    padding: 0 24px;
                  }
                  .dtf-transfer-workflow-title-wrap{
                    margin-bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                  }
                .dtf-transfer-workflow-title{
                  color: #000;
              text-align: center;


              font-size: 56px;

              font-weight: 800;
              line-height: 1.14; /* 114% */
                }
                .dtf-transfer-workflow-subtitle{
                  color: #000;
            text-align: center;


            font-size: 18px;

            font-weight: 400;
            line-height: 1.38; /* 138% */
            max-width: 487px;
            text-align: center;
                }
                .dtf-transfer-workflow-content{
                  aspect-ratio: 2/1;
                  border-radius: 20px;
                  overflow: hidden;
                }
                .dtf-transfer-workflow-content video{
                  width: 100%;
                }
                .dtf-transfer-workflow-content .pc{
                  display: block;
                }
                .dtf-transfer-workflow-content .mb{
                  display: none;
                }
                {% comment %} essential-accessories {% endcomment %}
          .essential-accessories-wrap{
            background-color: #fff;
            padding-top: 50px;
                    padding-bottom: 100px;
          }
          .essential-accessories-container{
            max-width: 1248px;
            margin: 0 auto;
            padding: 0 24px;
          }
          .essential-accessories-title-wrap{
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }
          .essential-accessories-title{
            color: #000;
            text-align: center;


            font-size: 56px;

            font-weight: 800;
            line-height: 1.14; /* 114% */
          }
          .essential-accessories-subtitle{
            color: #000;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.38; /* 138% */
            text-align: center;
          }
          .essential-accessories-content{
            position: relative;
          }
          .essential-accessories-content-img{
            aspect-ratio: 2/1;
            overflow: hidden;
            border-radius: 20px;
          }
          .essential-accessories-content-img img{
            width: 100%;
            object-fit: cover;
          }
          .essential-accessories-content-img .pc{
            display: block;
          }
          .essential-accessories-content-img .mb{
            display: none;
          }
          .essential-accessories-content-text{
            display: flex;
            flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 60px;
          }
          .essential-accessories-content-text-item{
            display: flex;
            color: #FFF;


      font-size: 18px;

      font-weight: 400;
      line-height: 1.38; /* 138% */
          }
                  @media screen and (max-width: 768px) {
                    .improved-even-heating-container {
                      padding: 50px 0 25px 0;
                    }
                    .improved-even-heating-content {
                      max-width: 100%;
                    }
                    .improved-even-heating-title-wrap {
                      display: flex;
                      flex-direction: column;
                      gap: 15px;
                      margin-bottom: 20px;
                    }
                    .improved-even-heating-title {
                      color: #000;

                      font-size: 26px;

                      font-weight: 700;
                      line-height: 1.3; /* 114% */
                      text-align: left;
                    }
                    .improved-even-heating-subtitle {
                      color: #000;

                      font-size: 14px;

                      font-weight: 400;
                      line-height: 1.4; /* 138% */
                      text-align: left;
                      max-width: 100%;
                    }
                    .improved-even-heating-img-wrap {
                      border-radius: 10px;
                      overflow: hidden;
                      aspect-ratio: 326/ 222;
                    }
                    {% comment %} .improved-even-heating-img-wrap img {
                      aspect-ratio: 109/74;
                    } {% endcomment %}
                    .improved-even-heating-img-wrap .pc {
                      display: none;
                    }
                    .improved-even-heating-img-wrap .mb {
                      display: block;
                    }
                  {% comment %} enhanced-filtration-system start {% endcomment %}
                  .enhanced-filtration-system-wrap{
                    padding: 25px 0 25px 0;
                  }
                   .enhanced-filtration-system-container{
                    max-width: 100%;


                  }
                  .enhanced-filtration-system-title-wrap{

                    gap: 15px;
                    margin-bottom: 50px;
                  }
                  .enhanced-filtration-system-title{


                    font-size: 26px;

                    font-weight: 700;
                    line-height: 1.3; /* 114% */
                    text-align: left;

                  }
                  .enhanced-filtration-system-subtitle{


                    font-size: 14px;


                    line-height: 1.4; /* 138% */

                    max-width: 100%;
                  }
                  .enhanced-filtration-system-content{
                    flex-direction: column;
                    gap: 50px;

                  }
                  .enhanced-filtration-system-content-item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: start;



                  }
                  .enhanced-filtration-system-content-item-img{
                    border-radius: 10px;
                    overflow: hidden;
                    aspect-ratio: 59/40;
                  }
                  .enhanced-filtration-system-content-item-img img{

                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                  }
                  .enhanced-filtration-system-content-item-img .pc{
                    display: none;
                  }
                  .enhanced-filtration-system-content-item-img .mb{
                    display: block;
                  }
                  .enhanced-filtration-system-content-item-content{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: start;
                    width: 100%;
                  }
                  .enhanced-filtration-system-content-item-content-title{
                    color: #000;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.26; /* 126% */
                  }
                  .enhanced-filtration-system-content-item-content-desc{
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.38; /* 138% */
                    max-width: 100%;
                  }
                  .enhanced-filtration-system-content-item:nth-child(1) .enhanced-filtration-system-content-item-content-desc{
                    max-width: 100%;
                  }
                  .smoke-free-oven-video-bg{
  padding-top:25px;
                    padding-bottom: 50px;

                  }
                  .smoke-free-oven-video-bg .pc{
                    display: none;
                  }
                  .smoke-free-oven-video-bg .mb{
                    display: block;
                  }
                  .dtf-transfer-workflow-wrap{

                    padding-bottom: 25px;
                  }
                  .dtf-transfer-workflow-container{
                    max-width: 100%;

                  }
                  .dtf-transfer-workflow-title-wrap{
                    margin-bottom: 20px;

                    align-items: start;
                    gap: 15px;
                  }
                .dtf-transfer-workflow-title{
                  color: #000;
              text-align: center;


              font-size: 26px;

              font-weight: 700;
              line-height: 1.3; /* 114% */
                }
                .dtf-transfer-workflow-subtitle{
                  color: #000;



            font-size: 14px;

            font-weight: 400;
            line-height: 1.4; /* 138% */
            max-width: 100%;
            text-align: left;
                }
                .dtf-transfer-workflow-content{
                  aspect-ratio: 342/234;
                  border-radius: 10px;

                }

                .dtf-transfer-workflow-content .pc{
                  display: none;
                }
                .dtf-transfer-workflow-content .mb{
                  display: block;
                }
                           {% comment %} essential-accessories {% endcomment %}
          .essential-accessories-wrap{
    padding-top: 25px;
                    padding-bottom: 50px;
          }
          .essential-accessories-container{
            max-width: 100%;

          }
          .essential-accessories-title-wrap{
            margin-bottom: 20px;

            align-items: start;
            gap: 15px;
          }
          .essential-accessories-title{

            text-align: left;


            font-size: 26px;

            font-weight: 700;
            line-height: 1.3; /* 114% */
          }
          .essential-accessories-subtitle{

            font-size: 14px;
            font-weight: 400;
            line-height: 1.4; /* 138% */
            text-align: left;
            max-width: 220px;
          }

          .essential-accessories-content-img{
            aspect-ratio: 109/74;
            overflow: hidden;
            border-radius: 10px;
          }

          .essential-accessories-content-img .pc{
            display: none;
          }
          .essential-accessories-content-img .mb{
            display: block;
          }
          .essential-accessories-content-text{
            display: flex;
            flex-direction: column;
        gap: 20px;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
          }
          .essential-accessories-content-text-item{
            display: flex;
            color: #000;


      font-size: 14px;

      font-weight: 400;
      line-height: 1.38; /* 138% */
          }
                  }
</style>
<section id="improved-even-heating-wrap">
  <div class="improved-even-heating-container">
    <div class="improved-even-heating-content">
      <div class="improved-even-heating-title-wrap">
        <div class="improved-even-heating-title">Improved Even Heating</div>
        <div class="improved-even-heating-subtitle">
          From initial heat-up to the final transfer stage, every step is designed for stable, efficient, and
          outstanding results.
        </div>
      </div>
      <div class="improved-even-heating-img-wrap">
        <video
          autoplay
          muted
          loop
          playsinline
          webkit-playsinline
          x5-playsinline
          class="pc"
        >
          <source
            src="https://cdn.shopify.com/videos/c/o/v/f10c570d071e46b1be46594d2e9c86aa.mp4"
            type="video/mp4"
          >
          您的浏览器不支持视频播放
        </video>
        <video
          autoplay
          muted
          loop
          playsinline
          webkit-playsinline
          x5-playsinline
          class="mb"
        >
          <source
            src="https://cdn.shopify.com/videos/c/o/v/5a6090d3befa408d8d4362ff635413f1.mp4"
            type="video/mp4"
          >
          您的浏览器不支持视频播放
        </video>
        {% comment %}
          <img
            class="pc lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Improved_Even_Heating.jpg?v=1756539668"
            alt="Improved Even Heating"
          >
          <img
            class="mb lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Improved_Even_Heating_92deb596-b9f9-40ae-9963-38f00fd2a9e5.jpg?v=1756550640"
            alt="Improved Even Heating"
          >
        {% endcomment %}
      </div>
    </div>
  </div>
</section>
<section id="enhanced-filtration-system-wrap">
  <div class="enhanced-filtration-system-wrap">
    <div class="enhanced-filtration-system-container">
      <div class="enhanced-filtration-system-title-wrap">
        <div class="enhanced-filtration-system-title">Enhanced Filtration System</div>
        <div class="enhanced-filtration-system-subtitle">
          The apparel printing industry's first smoke-free oven, designed for home studios and small spaces, utilizes
          activated carbon filtration, powerful dual fans, and superior sealing to remove virtually all odors and ensure
          fresh air quality.
        </div>
      </div>
      <div class="enhanced-filtration-system-content">
        <div class="enhanced-filtration-system-content-item">
          <div class="enhanced-filtration-system-content-item-img">
            <img
              class="pc lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Activated_Carbon.jpg?v=1756539328"
              alt="Activated Carbon"
            >
            <img
              class="mb lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Activated_Carbon_fd3e7af7-37cc-4247-8a11-55118a224c66.jpg?v=1756548895"
              alt="Activated Carbon"
            >
          </div>
          <div class="enhanced-filtration-system-content-item-content">
            <div class="enhanced-filtration-system-content-item-content-title">Activated Carbon</div>
            <div class="enhanced-filtration-system-content-item-content-desc">
              Activated Carbon Filter Cotton effectively absorbs 98% of odors generated during baking and filters out
              fine particles.
            </div>
          </div>
        </div>
        <div class="enhanced-filtration-system-content-item">
          <div class="enhanced-filtration-system-content-item-img">
            <img
              class="pc lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/High-Power_Fans.jpg?v=1756539667"
              alt="High-Power Fans"
            >
            <img
              class="mb lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Mask_group-1.jpg?v=1756548895"
              alt="High-Power Fans"
            >
          </div>
          <div class="enhanced-filtration-system-content-item-content">
            <div class="enhanced-filtration-system-content-item-content-title">High-Power Fans</div>
            <div class="enhanced-filtration-system-content-item-content-desc">
              The powerful dual-fan design not only speeds up odor filtration at the source,but also balances the
              internal temperature of the oven.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 背景视频 -->
<section id="smoke-free-oven-video-bg-wrap">
  <div class="smoke-free-oven-video-bg">
    <video autoplay muted loop playsinline webkit-playsinline x5-playsinline class="pc">
      <source
        src="https://cdn.shopify.com/videos/c/o/v/27ffa6287cae40bd8baa7a5ee3f71d00.mp4"
        type="video/mp4"
      >
      您的浏览器不支持视频播放
    </video>
    <video autoplay muted loop playsinline webkit-playsinline x5-playsinline class="mb">
      <source
        src="https://cdn.shopify.com/videos/c/o/v/b889bf16b6e44b68a54743dd1902d1f1.mp4"
        type="video/mp4"
      >
      您的浏览器不支持视频播放
    </video>
  </div>
</section>
<section id="dtf-transfer-workflow-wrap">
  <div class="dtf-transfer-workflow-wrap">
    <div class="dtf-transfer-workflow-container">
      <div class="dtf-transfer-workflow-title-wrap">
        <div class="dtf-transfer-workflow-title">DTF Transfer Workflow</div>
        <div class="dtf-transfer-workflow-subtitle">
          A smoother printing experience with a simplified workflow, turning every idea into reality with ease.
        </div>
      </div>
      <div class="dtf-transfer-workflow-content">
        <video
          autoplay
          muted
          loop
          playsinline
          webkit-playsinline
          x5-playsinline
          class="pc"
        >
          <source
            src="https://cdn.shopify.com/videos/c/o/v/d0cfb4bd1ce94b45a96cd1e22461cf41.mp4"
            type="video/mp4"
          >
          您的浏览器不支持视频播放
        </video>
        <video
          autoplay
          muted
          loop
          playsinline
          webkit-playsinline
          x5-playsinline
          class="mb"
        >
          <source
            src="https://cdn.shopify.com/videos/c/o/v/4b458110679245bb8b7e4e92dc26bb41.mp4"
            type="video/mp4"
          >
          您的浏览器不支持视频播放
        </video>
      </div>
    </div>
  </div>
</section>
<section id="essential-accessories-wrap">
  <div class="essential-accessories-wrap">
    <div class="essential-accessories-container">
      <div class="essential-accessories-title-wrap">
        <div class="essential-accessories-title">Essential Accessories</div>
        <div class="essential-accessories-subtitle">
          Everything you need for a safe, smooth, and worry-free workflow.
        </div>
      </div>
      <div class="essential-accessories-content">
        <div class="essential-accessories-content-img">
          <img
            class="pc lazyload"
            style=""
            data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Essential_Accessories.jpg?v=1756542442"
            alt="Essential Accessories"
          >
          <img
            class="mb lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Essential_Accessories_94b1d9d4-6072-466e-9400-4493ef5935a9.jpg?v=1756549549"
            alt="Essential Accessories"
          >
        </div>
        <div class="essential-accessories-content-text">
          <div class="essential-accessories-content-text-item">1 * Heat-Resistant Gloves</div>
          <div class="essential-accessories-content-text-item">1 * Teflon High Temperature Mat</div>
          <div class="essential-accessories-content-text-item">1 * Cooling Glas</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Smoke Free Oven",
  "settings": [],
  "presets": [
    {
      "name": "Smoke Free Oven"
    }
  ]
}
{% endschema %}
