<div class="sale-campaign">
  <div class="sc-wrapper">
    <div class="sc-title">
      <div class="title">Sale Campaign T&C</div>
    </div>
    <div class="sc-content">
      <div class="sale-text">
        {% comment %} {{ section.settings.sale_text }} {% endcomment %}
        <p>1. Event Date</p>
        <span class="mgbt30">August 1st - August 31st | Time Zone: Eastern Standard Time - EST, UTC/GMT -5.00</span>
        <p>2. Unlock New Possibilities with the Procolored VF13 Pro Printer</p>
        <p class="mgbt30">
          Expand your business horizons and boost your revenue with the Procolored VF13 Pro - a compact and efficient UV
          DTF sticker printer that streamlines the printing and laminating process. This versatile machine allows you to
          create high-quality stickers, labels, and personalized decor for a wide range of applications, including
          tumblers, mugs, paper bags, wooden boards, helmets, so forth.
        </p>
        <p>3. Key Features:</p>
        <div class="mgbt30">
          <span>a. Combines printing and laminating into a single, seamless process</span>
          <span>b. Features an air filter to reduce the smell of UV inks</span>
          <span>c. Includes a built-in film cutter for easy finishing</span>
          <span>d. Optional stand available for added convenience</span>
        </div>
        <p>4. Why Choose the Procolored UV DTF Mini?</p>
        <div>
          <span>a. Simple, all-in-one workflow for effortless printing to finished product</span>
          <span>b. Unbeatable cost-effectiveness compared to other similar machines on the market</span>
          <span>c. Complement your existing processes with the unique UV DTF printing technology</span>
          <span>d. Limited Promotion - 10% Off promotional price</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "VF13Pro Sale Campaign",
  "settings": [
    {
      "type": "richtext",
      "id": "sale_text",
      "label": "文案编辑"
    }
  ],
  "presets": [
    {
      "name": "VF13Pro Sale Campaign"
    }
  ]
}
{% endschema %}
