  .comparison-wrapper {
    background: white;
    padding: 60px 100px;
    border-radius: 8px;
  }
  .comparison-section .comparison-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 20px;
  }
  .comparison-section .comparison-content .printer-selector-wrapper {
    padding: 0 5px;
    margin: auto;
  }
  .comparison-section .comparison-content .printer-selector-wrapper select {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin: 0;
    padding: 0 40px 0 20px;
    line-height: 1;
    background: #fff url('data:image/svg+xml, <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.17578 2.94141L4.99931 7.05905L8.82284 2.94141" stroke="black" stroke-width="1.5"/></svg>') no-repeat 94% center;
  }
  .comparison-section h2 {
    font-size: 24px;
    line-height: 1;
    margin: 20px 0;
  }
  .comparison-section h3 {
    font-size: 18px;
    line-height: 1;
    margin: 0 0 10px;
  }
  .comparison-section p {
    
    line-height: 1.2;
    max-width: 200px;
  }
  .comparison-section hr {
    margin: 0 0 40px;
    border-color: #F0F0F0;
  }
  .comparison-section:first-child .compared-product {
    padding-bottom: 70px;
  }
  .comparison-section:not(:first-child) .comparison-content {
    /* column-gap: 45px; */
    padding-bottom: 40px;
  }
  .comparison-section:first-child .product-info-wrapper {
    text-align: center;
  }
  .product-info-wrapper[data-product-active='false'] {
    display: none;
  }
  .product-info-wrapper #quantity {
    display: none;
  }
  .product-info-wrapper div.price {
    margin: auto;
  }
  .product-info-wrapper span.price {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .product-info-wrapper .price del+ins {
    margin-left: 0;
  }
  .product-info-wrapper .btn {
    background-color: #FF8F1C;
    font-size: 12px;
    padding:8px 30px;
    margin: 10px auto;
  }
  .product-info-wrapper .learn-more {
    color: #B0B0B0;
    font-size: 14px;
  }
  @media only screen and (min-width: 1068px) {
    .template-page-compare .multi-page-with-navigation--inner {
      gap: 30px;
    }
  }
  .template-page-compare .multi-page-with-navigation--content {
    max-width: 920px;
  }
  @media only screen and (max-width: 1068px) {
    .comparison-wrapper {
      padding: 20px;
      border-radius: 10px;
    }
    /* .comparison-section .comparison-content {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      column-gap: 10px;
    } */
    /* .comparison-section .comparison-content > div:nth-child(3) {
      display: none;
    } */
    .comparison-section .comparison-content .printer-selector-wrapper select {
      font-size: 14px;
      padding: 0 32px 0 16px;
      line-height: 1;
    }
    .product-info-wrapper span.price {
      font-size: 14px ;
    }
    .product-info-wrapper .btn {
      font-size: 10px;
    }
    .product-info-wrapper .learn-more {
      font-size: 12px;
    }
    .comparison-section h2 {
      font-size: 20px;
    }
    .comparison-section h3 {
      font-size: 16px;
    }
    .comparison-section hr {
      margin-bottom: 20px;
    }
    .comparison-section:not(:first-child) .compared-product {
      padding-bottom: 20px;
    }
  }