  #coupon_countdown.grid-container {
    display: grid;
    grid-template-columns: auto 5px auto 5px auto 5px auto;
  }
  #coupon_countdown .grid-value {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    height: 23px;
    width: 23px;
    line-height: 23px;
    padding: 2px 1px;
    text-align: center;
    border-radius: 4px;
    color: #FFFFFF;
    background: #00a2fe;
    justify-self: center;
  }
  #coupon_countdown .grid-colon {
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    color: #00a2fe;
  }
  #coupon_countdown .grid-label {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #00a2fe;
  }