  .custom-select {
    padding-left: 16px;
    width: 100%;
  }

  .custom-select .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    margin-top: 3px;
    border-radius: 10px;
    overflow: hidden;
  }

  .custom-select .options li {
    padding: 14px;
    cursor: pointer;
    font-size: 17px;
    color: #333;
    text-align: center;
  }

  .custom-select .options li:hover {
    background-color: #eee;
  }
  .selected-value {
    font-size: 22px;
    width: 100%;
  }