.mega-menu-product-cols {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .mega-menu-product-cols {
    padding: 0;
  }
}

.sub-menu.mega-menu-container {
  border-top: 1px solid var(--color-border, #dadce0);
  border-bottom-right-radius: 0;
}

.mega-menu-col.left {
  width: 25%;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  .menu-btn a {
    display: flex;
    background-color: #d8281c;
    border-radius: 50px;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    &:focus,
    &:hover {
      path {
        stroke: white;
      }
    }
    svg {
      position: relative;
    }
    * {
      color: white;
    }
    &::after {
      display: none;
    }
    &:hover {
      * {
        color: white;
      }
      &::after {
        display: none;
      }
    }
  }
}

.mega-menu-col.right {
  width: 100%;
}

.mega-menu-col .product-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 10px);
  margin: 0;
  position: relative;
  gap: 0;
  border-radius: 10px;
  background: #f9f9f9;
  padding: 0 14px
}
.mega-menu-col.right .series-name-wrap {
  margin-bottom: 20px;
  margin-top: 12px;
}
.mega-menu-col.right .series-name-wrap .series-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.mega-menu-col.right
  .series-name-wrap
  .series-name-container
  .series-name-left {
  width: 50%;
}
.mega-menu-col.right
  .series-name-wrap
  .series-name-container
  .series-name-right {
  display: flex;

  align-items: center;
  flex: 1;
  width: 50%;
}
.mega-menu-col.right
  .series-name-wrap
  .series-name-container
  .series-name-right
  .series-name-right-item {
  line-height: 1;
  width: 50%;
}
.mega-menu-col.right
  .series-name-wrap
  .series-name-container
  .series-name-right
  .series-name-right-item-name {
  display: flex;
  align-items: center;
}
.mega-menu-col.right
  .series-name-wrap
  .series-name-container
  .series-name-right
  .series-name-right-item-name
  span:last-child {
  padding-left: 0;
}
.mega-menu-col.right
  .series-name-wrap
  .series-name-container
  .series-name-right
  .series-name-right-item
  .dividing-line {
  height: 14px;
  display: inline-block;
  width: 1px;
  flex-shrink: 0;
  background: rgba(153, 153, 153, 0.8);
}
.product-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-section-title {
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  max-width: 100%;
  text-wrap: wrap;
  white-space: normal; /* text wrap fix for safari */
  padding: 10px 0;
  width: max-content;
}
.product-section-title.menu-btn {
  padding-top: 30px;
  padding-bottom: 0;
}

.product-section-title svg {
  position: absolute;
  right: 0;
}

.product-section-title.active {
  color: #da291c;
}

.product-section-title.active svg {
  stroke: #da291c;
  margin-left: 25px;
  margin-right: 13px;
}

.mega-menu-col .product-card img {
  width: 100%;
}

.product-section-item:hover .name {
  color: #da291c;
}

.product-section-item .name {
  width: 100%;
  text-align: center;
  white-space: normal; /* text wrap fix for safari */
  font-size: 16px;
  text-wrap: wrap;
  transition: color 0.2s ease;
  line-height: 1.4;
  word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.right .view-all-button {
  border-radius: 50px;
  font-size: 16px;
  background: white;
  color: #000;
  font-weight: 700;
  border: 1px solid #da291c;
  transition: all 0.2s ease;
  width: auto !important;
  margin-top: 0 !important;
}

.right .view-all-button:hover {
  background: #da291c;
  color: white;
}

.product-section {
  cursor: pointer;
  gap: 10px;
}

.product-section-bottom {
  position: relative;
  width: 100%;
  text-align: right;
  margin: 50px 0 22px 0;
}

.product-section-outer {
  display: none;
  flex-direction: column;
  /* gap: 2rem; */
}

[id^="__product_section_for_"] {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.product-section-bottom .view-all-button-btm {
  color: black;
  font-weight: 700;
  transition: all 0.3s ease;
  padding: 0.5rem 1.25rem;
  border: 1px solid #da291c;
  border-radius: 20px;
  font-size: 0.8125rem;
}

.product-section-bottom .view-all-button-btm:hover {
  color: white;
}

.product-section-bottom .view-all-button-btm-wrapper::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: #da291c;
  border-radius: 20px;
  z-index: -1;
  transition: all 0.3s ease;
  transform: translate(-100%);
}

.product-section-bottom .view-all-button-btm-wrapper {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}

.product-section-bottom .view-all-button-btm-wrapper:hover::before {
  transform: translateZ(0);
}

.product-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 创建4列，每列宽度相等 */
  gap: 10px; /* 列间距为10px */
}
.product-section-grid .grid-item {
  text-align: center;
  width: 100%;
  justify-content: center;
  gap: 0;
}

/* 第二列的两个元素 */
.product-section-grid .column-2 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px; /* 行间距为10px */
}

.product-section-grid .column-2-item {
  text-align: center;
  width: 100%;
  padding: 18px 22px;
  gap: 0;
}
.product-section-grid .column-2 img {
padding: 0 25px;
}
.product-section-other-grid  .product-section-item{
  padding: 12px 12px 22px 12px;
    justify-content: start;

}


