.banner-wrapper {
  height: 37.5vw;
  background-size: cover;
  @media (max-width: 767px) {
    height: 60vw;
  }
  .banner-content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    img {
      position: absolute;
      top: 56px;
      left: 0;
      width: 220px;
    }
    .content-center {
      height: 100%;
      align-content: center;
      h1 {
        font-size: 30px;
        line-height: 1.1;
        margin-bottom: 16px;
      }
      p {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 13px;
      }
      h4 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        display: flex;
        align-items: center;
      }
      * {
        color: white;
      }
    }
    @media (max-width: 1200px) {
      padding: 24px;
      img {
        top: 24px;
        left: 24px;
      }
      .content-center {
        align-content: flex-end;
      }
    }
    @media (max-width: 767px) {
      .content-center {
         h1 {
           font-size: 3vw;
         }
         p, h4 {
           font-size: 2.5vw; 
         }
      }
    }
  }
}
.sign-up-form {
  background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/t/123/assets/2024-d.png);
  background-size: cover;
  background-position: center;
  height: 718px;
  position: relative;
  @media (max-width: 767px) {
    background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/t/123/assets/2024-m.png);
    height: 430px;
  }
  .globo-formbuilder .globo-form .globo-form-app {
    margin-top: 0;
    max-width: 900px;
    background: transparent;
    box-shadow: none;
    .g-container {
      padding-top: 0;
      @media (max-width: 767px) {
        padding: 0 24px;
      }
    }
    .globo-heading {
      padding-top: 120px;
      font-size: 80px;
      line-height: 1.05;
      color: white;
      @media (max-width: 767px) {
        padding-top: 54px;
        font-size: 40px;
        text-align: left;
      }
    }
    .header {
      text-transform: uppercase;
      text-align: center;
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
      &:before {
        background: transparent;
      }
      h3 {
        font-family: Oswald;
      }
    }
    .globo-formbuilder-wizard {
      width: 450px;
      margin: auto;
      max-width: 100%;
      .wizard__content {
        position: relative;
        .gfb__footer.wizard__footer {
          position: absolute;
          right: 6px;
          top: 10px;
          .globo-description {
            display: none;
          }
          button[type=submit] {
            background-color: #07A4D8;
            border-radius: 30px;
            min-width: 48px;
            width: 48px;
            height: 48px;
            font-size: 28px;
            padding: 0;
            border: 0;
            &::after {
              content: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/t/123/assets/arrow.svg);
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .globo-form-input input {
        border-radius: 30px;
        height: 60px;
        padding-left: 20px;
        font-family: ItalianPlate2;
        font-size: 20px;
        border: none;
        &:focus {
          box-shadow: none;
        }
        &::placeholder {
          color: #666;
        }
      } 
    }
    .gfb__footer.wizard__footer {
      text-align: center;
    }
    .message.success {
      background: transparent;
      color: #fff;
      box-shadow: none;
      padding: 0 24px;
      .dismiss {
        display: none;
      }
      .gfb__content-title {
        font-size: 80px;
        font-family: Oswald;
        padding-top: 120px;
        margin-bottom: 40px;
        line-height: 1;
        @media (max-width: 767px) {
          font-size: 40px;
          padding-top: 34px;
          margin-bottom: 10px;
          text-align: left;
        }
      }
      .content {
        font-size: 20px;
        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
          text-align: left;
        }
        & > p:last-child{
          margin-top: 60px;
          display: block;
          a {
            display: block;
            &::before {
              content: "";
              display: block;
              height: 234px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url(https://ucarecdn.com/83e4c6ae-9948-479c-a053-3c854f2603fe/-/format/auto/-/preview/3000x3000/-/quality/lighter/%E5%85%B3%E6%B3%A8%E6%9D%BF%E5%9D%97-.png);
            }
          }
          @media (max-width: 767px) {
            margin-top: 10px;
            a::before {
              background-image: url(https://ucarecdn.com/67517a5c-99fa-4207-bc85-3b0615cad396/-/format/auto/-/preview/3000x3000/-/quality/lighter/%E5%85%B3%E6%B3%A8-.png);
            }
          }
        }
      }
    }
  }
}

.booth-wrapper, .welcome-wrapper, .products-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
  @media (max-width: 767px) {
    padding: 34px 24px 30px !important;
  }
  h2 {
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 48px;
    @media (max-width: 767px) {
      text-align: left;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 18px;
    }
  }
  .booth-grid-wrapper, .welcome-grid-wrapper, .products-grid-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    @media (max-width: 767px) {
      grid-template-columns: auto !important;
      gap: 15px;
    }
    row-gap: 32px;
    .booth-grid-item, .welcome-grid-item {
      background-color: #fff;
      border-radius: 20px;
      overflow: hidden;
      @media (max-width: 767px) {
        border-radius: 10px;
      }
      .booth-grid-content, .welcome-grid-content {
        padding: 0 40px;
        height: 129px;
        align-content: center;
        p {
          margin: 0;
          font-size: 20px;
          line-height: 24px;
        }
        @media (max-width: 767px) {
          p {
            font-size: 14px;
            line-height: 18px;
          }
          padding: 20px;
          height: auto;
        }
      }
    }
  }
}

.booth-wrapper {
  @media (max-width: 767px) {
    h2 {
      margin-bottom: 20px;
    }
  }
}

.welcome-wrapper, .products-wrapper {
  @media (max-width: 767px) {
    padding-top:0 !important;
  }
}

.welcome-wrapper {
  padding: 0;
  .welcome-grid-wrapper {
    grid-template-columns: auto auto auto;
    .welcome-grid-item {
      display: flex;
      flex-direction: column;
      &:first-child svg {
        width: 200px;
      }
      &:nth-child(2) svg {
        width: 190px;
      }
      &:last-child svg {
        width: 130px;
      }
      @media (max-width: 767px) {
        &:first-child svg {
          width: 88px;
        }
        &:nth-child(2) svg {
          width: 80px;
        }
        &:last-child svg {
          width: 56px;
        }
      }
    }
    .welcome-grid-bg {
      background: linear-gradient( 316deg, #CFEAC8 0%, #07A4D8 100%);
      height: 320px;
      align-content: center;
      text-align: center;
    }
    .welcome-grid-content {
      height: 108px !important;
    }
    @media (max-width: 767px) {
      .welcome-grid-item {
        flex-direction: row;
        .welcome-grid-bg {
          height: 125px;
          min-width: 140px;
          svg {
            height: 85px;
          } 
        }
        .welcome-grid-content p {
          line-height: unset;
        }
      }
    }
  }
}

.products-wrapper {
  .products-grid-wrapper {
    row-gap: 16px;
    .products-grid-item {
      display: flex;
      background-color: #fff;
      border-radius: 20px;
      min-height: 250px;
      padding: 50px 30px;
      overflow: hidden;
      align-items: center;
      gap: 27px;
      @media (max-width: 767px) {
        padding: 20px;
        min-height: auto;
      }
      .img-wrapper {
        flex-basis: 200px;
        img {    
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        @media (min-width: 768px) {
          width: 200px;
          min-width: 200px;
        }
      }
      &:nth-child(8){
        .img-wrapper {
          height: 177px;
          min-width: auto;
        }
      }
      .products-grid-item-content {
        h3 {
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
          line-height: 1.2;
          color: #666;
        }
        @media (max-width: 767px) {
          h3 {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          p {
            font-size: 10px;
            line-height: 16px;
          }
        }
      }
      a {
        background: linear-gradient( 140deg, #CFEAC8 0%, #07A4D8 100%);
        border-radius: 20px;
        display: inline-block;
        width: 100px;
        height: 30px;
        text-align: center;
        align-content: center;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}

