@font-face {
  font-family: 'iconfont'; /* Project id 4665661 */
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAUsAAsAAAAACrAAAATcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACEAgqHEIYLATYCJAMkCxQABCAFhGcHgRAbVQkRFaTtkP04cGOnQedP/4ucVFH+OXgg3PTf3UUgeCgVmKilTFzpROSyfQO+iCj97gmAzakFdUxABUgmLJ28/X/6WZLtLPkUuePi0jjpeAGra2mgUSu1UamNApaJhoLBUKvfO73wz4u8qL6FeXVSvQJW3B75HATg0IN65MjRE2cSX79s+0ayGKh+AU2+WL+mYRmh3IixQBKENBb1qIE4GRNkUT4PnFT8vPiGXiIEElOhbjS1MGolD1dy3+xROtCg3kcfrgnLJWACCuhyYWZx6rLzeFVFuqBwplINlgJJfRMFlVylVaVtZXFj+68Pf7MnCAZcbVqhFDvxgHP/yQMLgxA2ConABGGhlFGG2xwNQSVnGbCg0ooBAypthMuqttBjQ7UYDChobM+AhK8PMyDgmz0VmACE/REXSIKIgNiJUo8s3BKhd1goRMZt4qaMNkaYFdVlErX7SjNfB6JnvYGU57yF+LPfvNe8padffuW5QvnnXXVFZtkZ5+iz90WVf23pamTUTT37mkhM6mvK1wkVizj8a/edWapaWVh1us6sOqNc03CWv60jWwmRnLIgRXLfmU5y9pnQO6WJYCQya9EZflqifJZ/phOfvcEX1R+uWXDW3I3zE9tLL+tXyq/5r84sXetfV75GX71iILhgUSpKRSk/NewuXbrCvwlF+XYU+sYuvGT2tY9fj9Q3PNF5znW33bpv+Zmlq3VmVtyTr4kkZp5+jnLNirP8FmrWoQ35NZ63Jr/hf8MLo9d4G/L/D7aN+sW56egedZc4S51L6noc3TrXSu1q+v50kVcfa5VtFasfHnfD7ONH5OMtsy3jeS/WMucyZLlXyBQuuujqi3ZWfZcp3HNTQ6bh1pt2p3ns5FUrC1UfpAszVbiQ/qCq0H06hw7RHep/vnBNNN3ipppnwxudDzIfOPOb3bSc0NfhCVlS//jEFRKc573aBUd1Km6eJ/JTvl7Qq7U72h1jM1q12puY1UzTTt7butXopuFWWii9enH7Be1OOKHdgvaLXza8wKt57cGL2788Md068sah9fm1nrc2v/5/wwuj13rr8/8PprfIXrv5VvFUK1rfKR+tz3t73170n3YWQTHnZovPPrs9lsqmYtvLUDHr5opjO7Ic0gDBtepNNbu4SaC0/B9QL8pRAPK57lQtNARnqT/UukDptcFrANQheck/+Has+yvZZEliyG+hiAHAZ859VxbN9GgICZnw/zrhQoMgwMgjEDaY6sYSg0B0iChhJvIHDEnA0V4I4HX58LDqNDkXBCHSDUhscqAI0Qpl4DqBSYReYBHCA4fOjDo5QprNKIQRBtpxJAJBkmtAEuceUCR5CmXg3gKTahrBIsl/4DBbxM4XoZ2QNmfBSrGF+guu4YmMRotxH2jCUMlY8A9ldvBDnmT9+B0nlH3smF+mUCUg4RFu6c1wGBi8cIeNJlbVn9KUpr4kaXiMzoKVYgv1F1zDE/ne2v19DzRhqISI+ovI7DA+5ElGQN2VE6nthcyeX6ZQpXgVCY9w43YcdITBTy/qsNHE7hDyp5T1IqoyOb16fKOHAAf1DWEhhRKGMIUlbBESYeGQ6NXHUOyH6nt20gy47FxlK86PH1dNxsm7Yq9y2FYi/I7FGavrIX/Frn9eGQ7v0Fhc1ExU3+bLITVEEQAAAA==')
      format('woff2'),
    url('iconfont.woff?t=1726286630596') format('woff'),
    url('iconfont.ttf?t=1726286630596') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-24gf-playCircle:before {
  content: '\ea82';
}

.icon-jiahao1:before {
  content: '\e727';
}

.icon-xiangxiajiantou:before {
  content: '\e65e';
}

.icon-arrow-right:before {
  content: '\e622';
}

.icon-jianhao_o:before {
  content: '\eb79';
}

.icon-gouwuche:before {
  content: '\e61b';
}

.icon-bofang:before {
  content: '\e625';
}

.icon-youjiantou:before {
  content: '\e624';
}
