.image-with-text--image-media:not(html)  {
    height: 100%;
    border-radius: 0;
}

.image_first .image-with-text--image-media:not(html) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text_first .image-with-text--image-media:not(html) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image-with-text--content:not(html) {
    border-radius: 0;
}

.image-with-text--content:not(html) {
    background: transparent;
}

.image-with-text:not(html) {
    background: white;
    border-radius: 20px;
}

.image-with-text.section-spacing:not(html) {
    margin-top: 24px !important;
}