.image-with-text--image-media,
.image-with-text--content {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px);
}

.image-with-text--image-media {
  box-shadow: var(--block-shadows);
}

.image-with-text {
  display: grid;
  grid-auto-flow: dense;
}

.image-with-text.use-modal .image-with-text--image-media {
  position: relative;
}

.image-with-text.use-modal .image-with-text--image-media .play-btn {
  background: #da291c;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 38px;
  bottom: 38px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s cubic-bezier(0.104, 0.204, 0.492, 1)
}

.image-with-text.use-modal .image-with-text--image-media .play-btn:hover {
  background-color: rgb(186, 35, 24)
}

.image-with-text.use-modal .image-with-text--image-media .play-btn::after {
  display: block;
  content: "";
  width: 18px;
  height: 21px;
  background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Fill_1.svg?v=1716197336)
}

@media only screen and (min-width: 768px) {
  .image-with-text {
    grid-template-areas: "media content";
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .image-with-text.text_first {
    grid-template-areas: "content media";
  }
}

.image-with-text--image {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .image-with-text--image {
    grid-area: media;
  }
}

.image-with-text--image svg,
.image-with-text--image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-with-text--image svg {
  padding: 50px;
  fill: var(--bg-body, #fff);
  opacity: 0.5;
  background: var(--color-accent);
}

.image-with-text--image-media {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: var(--ratio-percent);
}

.image-with-text--image-media.aspect-ratio--small {
  padding-bottom: 75%;
}

.image-with-text--image-media.aspect-ratio--large {
  padding-bottom: 100%;
}

.image-with-text--image-media iframe,
.image-with-text--image-media video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-with-text--content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding: 25px;
  align-items: center;
  background: var(--color-bg);
}

@media only screen and (min-width: 768px) {
  .image-with-text--content {
    padding: 45px;
    grid-area: content;
  }
}

@media only screen and (min-width: 1068px) {
  .image-with-text--content {
    padding: 70px;
  }
}

.image-with-text--content--inner {
  max-width: 600px;
  margin: 0 auto;
}

.image-with-text--content--image {
  margin-bottom: 30px;
}

.image-with-text--content--image svg {
  width: 100px;
  height: 100px;
  fill: var(--bg-body, #fff);
  opacity: 0.5;
  background: var(--color-accent);
  margin-bottom: 20px;
}

.image-with-text--content p,
.image-with-text--content h3 {
  color: var(--color-text, --color-body);
}

.image-with-text--content .text-button {
  color: var(--color-text, --color-body);
}

.image-with-text--content .text-button:before {
  background: rgba(var(--color-text-rgb), 0.4);
}

.image-with-text--content .text-button:after {
  background: var(--color-text, --color-body);
}

.image-with-text--content .accordion summary {
  color: var(--color-text, --color-body);
}

.image-with-text--content .accordion summary span:before,
.image-with-text--content .accordion summary span:after {
  background: var(--color-text, --color-body);
}

@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-small {
    grid-template-columns: 4fr 6fr;
  }
}

@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-small.text_first {
    grid-template-columns: 6fr 4fr;
  }
}

@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-large {
    grid-template-columns: 6fr 4fr;
  }
}

@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-large.text_first {
    grid-template-columns: 4fr 6fr;
  }
}