.media-grid--item.has-link--true .media-grid--bg img,
.media-grid--item.has-link--true .media-grid--bg video {
  transition: all 1s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.media-grid--item {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px);
}

.media-grid--item {
  box-shadow: var(--block-shadows);
}

.media-grid--inner {
  padding: 0 15px;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .media-grid--inner {
    padding: 0 50px;
  }
}

.media-grid--inner {
  display: grid;
  grid-auto-flow: dense;
  width: 100%;
  align-items: start;
  grid: auto-flow dense var(--mobile-height) / repeat(2, minmax(0, 1fr));
}
@media only screen and (min-width: 768px) {
  .media-grid--inner {
    grid: auto-flow dense var(--desktop-height) / repeat(4, minmax(0, 1fr));
  }
}

.media-grid--item {
  background: var(--color-bg-gradient, var(--color-bg, #fff));
  color: var(--color-text, var(--color-body, #2c2d2e));
  overflow: hidden;
  padding: 25px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: span var(--row-span) / span var(--column-span--mobile);
}
@media only screen and (min-width: 768px) {
  .media-grid--item {
    padding: 35px;
    grid-area: span var(--row-span) / span var(--column-span);
  }
}
.media-grid--item h4 {
  color: var(--color-text, var(--color-body, #2c2d2e));
}
.media-grid--item h4.media-grid--heading-no-margin {
  margin-bottom: 0;
}
.media-grid--item.content-top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.media-grid--item.content-top-center {
  justify-content: center;
  align-items: flex-start;
}
.media-grid--item.content-top-right {
  justify-content: flex-end;
  align-items: flex-start;
}
.media-grid--item.content-middle-left {
  justify-content: flex-start;
  align-items: center;
}
.media-grid--item.content-middle-center {
  justify-content: center;
  align-items: center;
}
.media-grid--item.content-middle-right {
  justify-content: flex-end;
  align-items: center;
}
.media-grid--item.content-bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}
.media-grid--item.content-bottom-center {
  justify-content: center;
  align-items: flex-end;
}
.media-grid--item.content-bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.media-grid--item.has-link--true:hover .media-grid--bg img,
.media-grid--item.has-link--true:hover .media-grid--bg video {
  transform: scale(1.07);
}
.media-grid--item.has-link--true .text-button {
  position: relative;
  z-index: 22;
}

.media-grid--link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
}

.media-grid--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: var(--color-bg-gradient, var(--color-bg, #fff));
}
.media-grid--bg img,
.media-grid--bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.media-grid--bg:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background: rgba(var(--overlay-color-rgb), var(--overlay-opacity));
}

.media-grid--content {
  z-index: 2;
}
.media-grid--content > *:last-child {
  margin-bottom: 0;
}

.media-grid {
  margin-bottom: 0;
}
/* .text-button {
  display: none;
} */
.content-heading {
  background-repeat: no-repeat;
  background-position-x: 200px;
  background-position-y: 20px;
  font-size: 60px;
  font-weight: bold;
  p {
    line-height: 1.01;
  }
}
.content-subheading p {
  font-size: 20px;
  line-height: 1.05;
  margin-bottom: 15px;
}
.media-grid--content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  pointer-events: none;
  justify-content: space-between;
}

/* 17278958665909 */
div[id$='__f896bcf0-40bd-4c23-8c79-b4d0863d7715'] {
  .media-grid--item.has-link--true .media-grid--bg img {
    transform: scale(1) !important;
  }
  .media-grid--inner > .media-grid--item:first-child .media-grid--bg {
    background-color: #da291c;
  }
  .media-grid--inner > .media-grid--item:first-child .media-grid--bg img {
    opacity: 0.08;
    filter: invert();
    object-fit: contain;
    padding: 37px;
    transform: translateX(28%);
  }
  .media-grid--inner > .media-grid--item:first-child .content-heading {
    background-image: url(//cdn.shopify.com/s/files/1/0509/3454/6613/t/123/assets/long-right-arrow.svg);
  }

  @media only screen and (min-width: 768px) and (max-width: 1120px) {
    .content-heading {
      background-position-x: 20vw;
      background-position-y: 2vw;
      background-size: 14vw;
      font-size: 5.5vw;
    }
    .content-subheading p {
      font-size: 2vw;
      br {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .media-grid--inner {
      grid: unset;
      display: grid;
      grid-gap: 15px;
      grid-auto-flow: column;
      grid-auto-columns: 260px;
      overflow-x: auto;
      grid-template-columns: repeat(auto-fill, 260px);
      width: 100%;
      padding: 0 24px 10px;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
    }
    .media-grid--inner > .media-grid--item:first-child {
      height: 125px;
      background: #da291c;
      border-radius: 10px;
      padding: 12px;
      width: calc(100% - 48px);
      position: absolute;
      margin-top: 0;
      --row-span: 1 !important;
    }
    .media-grid--inner .media-grid--item:not(:first-child) {
      margin-top: 140px;
      width: 260px;
      height: 210px;
      border-radius: 10px;
    }
    .media-grid--inner > .media-grid--item:first-child .media-grid--bg img {
      object-position: right !important;
      padding: 10px;
      transform: translateX(30px);
    }
    .media-grid--inner > .media-grid--item:first-child .content-heading {
      background-image: url(//cdn.shopify.com/s/files/1/0509/3454/6613/t/123/assets/long-right-arrow-mobile.svg);
      background-position-x: 100px;
      background-position-y: 10px;
      font-size: 24px;
      background-size: 87px;
      p {
        line-height: 28px;
         margin-bottom: 18px;
      }
    }
    .content-subheading p {
      font-size: 12px;
      letter-spacing: 0;
      line-height: 1.3;
      p {
        line-height: 1.2;
      }
    }
  }
}
