.section-header {
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 1068px) {
    .section-header h3:not(html) {
        font-size: calc(var(--font-heading-scale) * 30px);
    }
}

.toggle-boxes button.toggle-box--button:not(html) {
    height: 120px;
    pointer-events: none;
    text-align: left;
}

.product-section:not(html) {
    cursor: initial;
} /* fix */

.mega-menu-product-cols .product-section:not(html) {
    cursor: pointer;
}

#shopify-chat {
    display: none !important;
    pointer-events: none;
}

.modal-body:not(html) {
    height: calc(100vh - 45px - 100px);
}

/* Specific for template-product-dtf-l800-2 */
.template-product-dtf-l800-2 .section-header {
  align-items: start;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.template-product-dtf-l800-2 .section-header h3 {
  font-size: 34px;
  line-height: 64px;
}

.template-product-dtf-l800-2 .toggle-box {
  margin: 0;
}

.template-product-dtf-l800-2 .toggle-boxes--inner.column-spacing--medium {
  max-width: 1200px;
  padding: 0;
  gap: 16px;
}

.template-product-dtf-l800-2 .toggle-box--button {
  display: none;
}

.template-product-dtf-l800-2 .toggle-box--content {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 40px 40px;
  height: auto;
  border-radius: 0;
}

.template-product-dtf-l800-2 .toggle-box--content .toggle-box--content-inner > div {
  padding: 0;
}

.template-product-dtf-l800-2 .toggle-box--content .toggle-box--content-inner > div p {
  text-align: center;
}

.template-product-dtf-l800-2 .section-image-with-text h3 {
  font-size: 30px;
  line-height: 34px;
}

.template-product-dtf-l800-2 .rich-text__inner {
  max-width: 100%;
}
.template-product-dtf-l800-2 .rich-text__inner .rte {
  margin: 0;
}
.template-product-dtf-l800-2 .rich-text__inner p,
.template-product-dtf-l800-2 .section-image-with-text p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
}

.template-product-dtf-l800-2 .section-image-with-text img {
  object-fit: contain;
}
.template-product-dtf-l800-2 .section-image-with-text .image-with-text--content {
  padding: 0 40px;
}
.template-product-dtf-l800-2 .image-with-text.section-spacing.section-spacing--disable-top.section-spacing--disable-bottom {
  gap: 0;
  margin-top: 0 !important;
}
.template-product-dtf-l800-2 .section-image-with-text .image-with-text {
  /* margin: 100px auto 0 !important; */
  height: 454px;
}
@media screen and (max-width: 767px) {
  .template-product-dtf-l800-2 .section-image-with-text h3 {
    font-size: 18px;
    line-height: 1;
  }
  .template-product-dtf-l800-2 .rich-text__inner p,
  .template-product-dtf-l800-2 .section-image-with-text p {
    font-size: 14px;
    line-height: 18px;
  }
  .template-product-dtf-l800-2 .section-image-with-text .image-with-text {
    margin: 20px auto 0 !important;
    padding: 0;
    height: auto;
  }
  .template-product-dtf-l800-2 .single-image {
    padding: 0 24px;
  }

  .template-product-dtf-l800-2 .section-image-with-text .image-with-text--content {
    padding: 20px 20px 30px;
  }
  .template-product-dtf-l800-2 .section-header {
    align-items: start;
    justify-content: left;
    text-align: left;
  }
  .template-product-dtf-l800-2 .section-header h3 {
    font-size: 22px;
    line-height: 26px;
  }
  .template-product-dtf-l800-2 .toggle-boxes--inner {
    padding: 0 24px;
  }
  .template-product-dtf-l800-2 .toggle-boxes--inner.column-spacing--medium {
    gap: 15px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .template-product-dtf-l800-2 *[id$="__toggle_boxes_hrjU6r"]  .section-header--title::after {
    content: "1-6";
  }
}

@media only screen and (max-width: 1200px) {
  .template-product-dtf-l800-2 .section-image-with-text .image-with-text {
     height: auto; 
  }
}

@media only screen and (min-width: 1200px) {
  .template-product-dtf-l800-2 .single-image.full-width--false {
    padding: 0;
  }
  .template-product-dtf-l800-2 .single-image.full-width--false img {
    max-width: 1200px;
  }
  .template-product-dtf-l800-2 .row {
    padding: 0;
    max-width: 1200px;
  }  
  .template-product-dtf-l800-2 .row .columns {
    padding: 0;
  }
}
