@media (min-width: 783px) {
    .mobile-item-number:not(html) {
        display: none;
    }
}

@media (max-width: 783px) {
    .flickity-page-dots:not(html) {
        display: none;
    }

    .thb-product-detail .product-images__slide:not(html) {
        width: 100%;
    }

    .thb-product-detail .product-title:not(html) {
        font-size: calc(var(--font-heading-scale) * 1.5rem);
    }

    .share-article label:not(html) {
        width: 100%;
        margin-bottom: .5rem;
    }

    .share-article {
        flex-wrap: wrap;
    }

    .breadcrumbs-section+.product-section .thb-product-detail:not(html):not(body) {
        margin-bottom: 0;
    }

    .image_first .image-with-text--image-media:not(html):not(body),
    .text_first .image-with-text--image-media:not(html):not(body) {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    h3:not(html),
    .h3:not(html) {
        font-size: calc(var(--font-heading-scale) * 20px);
        line-height: calc(var(--font-heading-line-height-scale) * calc(var(--font-heading-scale) * 25px));
        margin-bottom: .5rem;
    }

    .image-with-text--content p:not(html) {
        line-height: calc(var(--font-body-line-height-scale) * 1.3);
        margin-bottom: 0 !important;
    }

    .image-with-text--content:not(html) {
        padding: 20px;
    }

    .toggle-boxes .toggle-boxes--inner.swipe-on-mobile {
        display: flex;
        flex-direction: column;
    }

    [id*='toggle_boxes_hrjU6r'] .toggle-boxes--inner {
        display: grid !important;
    }

    .section-spacing:not(html) {
        margin-bottom: 0;
    }

    .section-header:not(html) {
        padding: 16px 0;
        align-items: flex-start;
    }

    .product-add-to-cart-sticky-l1800:not(html) .inner {
        padding: 10px 24px;
        padding-top: 16px;
        flex-direction: column;
        gap: 13px;
        width: 100vw;
    }

    .product-add-to-cart-sticky-l1800:not(html) .inner .spacer {
        display: none;
    }

    .product-add-to-cart-sticky-l1800 .left-box:not(html) {
        display: flex;
        /* align-items: center; */
        /* gap: .5rem; */
        flex-direction: column-reverse;
        transform: scale(1.1);
        transform-origin: left;

    }

    .product-add-to-cart-sticky-l1800 .left-box .product-name:not(html) {
        font-size: 10px;
    }

    /* .variations .product-form__input--block:not(html) label:not(html) {
        flex: 1;
    } */
    
    .product-add-to-cart-sticky-l1800 {
        width: 100vw !important;
    }
}

.mobile-item-number {
    background: rgba(0, 0, 0, .4);
    color: white;
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    z-index: 2;
    border-radius: 15px;
    font-size: .9rem;
    padding: 0.1rem 0.5rem;
}