.multi-contact-forms-container {
  max-width: 1200px;
  margin: 100px auto 0;
}

.multi-contact-forms-container p {
  color: black !important;
}

.multi-contact-forms-container hr {
  border-color: #CCCCCC;
  margin: 30px 0;
}

@media only screen and (max-width: 1067px) {
  .multi-contact-forms-container {
    padding: 0 24px;
    margin: 0;
  }

  .multi-contact-forms-container hr {
    margin: 21px 0 0 ;
  }

}

.multi-contact-forms-header h1 {
  font-size: 34px;
  margin: 0;
  line-height: 1;
}

@media only screen and (max-width: 758px) {
  .multi-contact-forms-container {
    margin-top: 24px;
  }
  .multi-contact-forms-header h1 {
    font-size: 22px;
  }
}

.multi-page-with-navigation--menu button {
  transition: all .25s cubic-bezier(.104, .204, .492, 1)
}

.multi-page-with-navigation--button {
  padding: 22px 20px 21px;
  border-radius: 8px;
  background: #2525250d;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 1;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600 !important;
  height: 56px;
}

.multi-page-with-navigation--menu>div.multi-page-with-navigation__button-group {
  display: none
}

.multi-page-with-navigation--select {
  border-radius: 10px;
  background: #fff;
  color: #000;
  font-size: 22px !important;
  line-height: 50px;
  border: 1px solid #ccc;
  display: none !important;
}

.multi-page-with-navigation--select::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 50px;
  background-image: url(/cdn/shop/files/support_bottomSVG.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 30px;
}


.multi-page-with-navigation--button svg {
  transition: all .25s cubic-bezier(.104, .204, .492, 1)
}

.multi-page-with-navigation--button:hover svg {
  color: #000
}

.multi-page-with-navigation--button.active {
  background: #da291c;
  color: #fff
}

.multi-page-with-navigation--button.active svg {
  color: #fff
}

.multi-page-with-navigation--button svg {
  position: absolute;
  right: 17px;
  margin: 4px 0;
  color: #b2b2b2
}

.multi-page-with-navigation--menu {
  width: 250px
}

@media only screen and (max-width: 1067px) {
  .multi-page-with-navigation--menu {
    position: sticky;
    top: 0px;
    z-index: 2;
    background: #f5f5f5;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding: 21px 15px 10px;
    border-bottom: 1px solid #F5F5F5
  }
}

.multi-page-with-navigation--inner {
  padding: 0;
  max-width: 1380px;
  position: relative;
  margin-left: auto;
  margin-right: auto
}

@media only screen and (max-width: 1067px) {
  .multi-page-with-navigation--inner {
    padding: 0;
  }

  .navigation-mobile--hide .multi-page-with-navigation--menu {
    display: none
  }
}

.multi-page-with-navigation {
  display: block
}

.multi-page-with-navigation--inner {
  display: grid;
  grid-gap: 30px
}

@media only screen and (max-width: 768px) {
  .multi-page-with-navigation--inner {
    display: grid;
    grid-gap: 10px
  }
}

@media only screen and (min-width: 1068px) {
  .multi-page-with-navigation--inner {
    grid-gap: 60px;
    grid-template-columns: 250px 1fr
  }
}

.multi-page-with-navigation--menu button.active {
  opacity: 1
}

.multi-page-with-navigation--menu>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: 1068px) {
  .multi-page-with-navigation--menu>div {
    position: sticky;
    left: 0;
    top: 20px
  }

  .header-sticky--active .multi-page-with-navigation--menu>div {
    top: calc(var(--header-height, 0px) + 20px)
  }
}

.multi-page-with-navigation--content {
  overflow: hidden;
  max-width: 900px;
  margin: auto;
}

.multi-page-with-navigation--content table td,
.multi-page-with-navigation--content table th {
  border: 1px solid var(--color-border, #dadce0)
}

.multi-page-with-navigation--content .thb-placeholder {
  width: 120px;
  height: 120px
}

.multi-page-with-navigation--page {
  margin-bottom: 30px;
}

.multi-page-with-navigation--page>h2,
.multi-page-with-navigation--page .rte:after {
  display: none
}

.multi-page-with-navigation--page h3 {
  font-size: 20px;
  margin: 0;
  line-height: calc(var(--font-body-line-height-scale)* 1.6);
}

.multi-page-with-navigation--page p {
  font-size: 17px;
  margin: 0;
}

.multi-page-with-navigation--page strong {
  font-weight: bold;
}

.multi-page-with-navigation--page .rte p,
.multi-page-with-navigation--page .rte li,
.multi-page-with-navigation--page .rte>div {
  font-size: 20px
}

.multi-page-with-navigation--content .multi-page-switch .rte:not(.active) {
  display: none;
}

@media only screen and (min-width: 1068px) {
  .multi-page-with-navigation--page {
    margin-bottom: 60px
  }

  .multi-page-with-navigation--menu>div.multi-page-with-navigation__button-group {
    display: block
  }
}

@media only screen and (max-width: 1067px) {
  .multi-page-with-navigation--page h2 {
    margin-bottom: 24px
  }

  .multi-page-with-navigation--page:first-child {
    padding-top: 65px;
    margin-top: -65px
  }
  
  .multi-page-with-navigation--page {
    padding-top: 45px;
    margin-top: -45px
  }

  .multi-page-with-navigation--select {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  .multi-page-with-navigation--page {
    margin-bottom: 0;
  }

  .globo-formbuilder-wizard {
    padding: 20px !important;
  }

  .multi-page-with-navigation--page .globo-form-app {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .multi-page-with-navigation--page h3, .multi-page-with-navigation .g-container .header h3 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 768px) {
  .multi-page-with-navigation--page .rte p,
  .multi-page-with-navigation--page .rte li,
  .multi-page-with-navigation--page .rte>div {
    font-size: 14px
  }
}

/* forms */
.globo-formbuilder-wizard {
  background-color: white;
  padding: 60px 40px;
  border-radius: 8px;
}

.multi-page-with-navigation .g-container,
.multi-page-with-navigation .g-container .header * {
  background-color: #f6f6f6;
  margin: 0;
}

.multi-page-with-navigation .g-container .header {
  margin-bottom: 1rem;
  z-index: 0;
}

.multi-page-with-navigation .g-container .header h3 {
  font-size: 20px;
}

/* Override globo formbuilder css */
:root:root {
  --color-accent: black;
  --gfb-rounded-radius: 8px;
  --gfb-form-default-font-size: 18px;
}

.globo-form-input input.classic_rounded-input, .globo-form-input textarea.classic_rounded-input, .globo-form-input select.classic_rounded-input {
  background-color: inherit !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: none !important;
}

.gfb__dropzone {
  border-radius: 8px !important;
  border-color: #ccc !important;
  width: 256px;
  height: 160px;
}

.gfb__dropzone .gfb__dropzone--placeholder--title, 
.gfb__dropzone .gfb__dropzone--placeholder--description {
  color: #b0b0b0 !important;
  font-size: 10px !important;
  line-height: 0.5;
}

.gfb__dropzone .gfb__dropzone--placeholder--title {
  font-size: 20px !important;
}

.globo-form-input input::placeholder, .globo-form-input textarea::placeholder {
  color: #ccc;
}

.globo-form-input input.classic_rounded-input:focus, .globo-form-input textarea.classic_rounded-input:focus {
  border-color: var(--color-accent);
}

.globo-form-control label {
  font-weight: bold !important;
}

.globo-form-control .gfb__rating-stars fieldset label [data-icon-solid] {
  color: #FFD700;
}

.globo-form-control .gfb__rating-stars fieldset label [data-icon-light] span {
  display: none;
}

.globo-form-control .gfb__rating-stars fieldset label svg {
  color: #ccc;
}

.gfb__rating-stars {
  width: 180px;
}

.gfb__rating-stars .fa-star.svg-inline--fa {
  height: auto;
}

.globo-formbuilder-wizard button {
  font-size: 12px !important;
  font-weight: bold !important;
  min-width: 97px;
  height: 40px;
}

.gfb__dropzone--placeholder {
  gap: 10px;
}

.globo-formbuilder-wizard .gfb__dropzone--placeholder button {
  height: 25px;
  width: 80px;
}

.globo-formbuilder-wizard button[type="submit"] {
  border-radius: 20px !important;
}

.globo-form-control input, .globo-form-control textarea, .globo-form-control select {
  height: 50px !important;
}

.globo-form-control .checkbox-wrapper label {
  font-weight: normal !important;
}

@media only screen and (max-width: 768px) {
  .globo-formbuilder-wizard button[type="submit"] {
    width: 100%;
  }
  .globo-form-control .globo-list-control.option-2-column {
    width: 50% !important;
  }
  .globo-formbuilder-wizard div[data-id="36107"] > div:nth-last-child(2) > label > span {
    margin-right: -5px;
  }
}

