.affiliates .affiliates-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  /* padding: 8rem 0; */
}

@media (max-width: 900px) {
  .affiliates .affiliates-banner:not(html) {
    height: 35vh;
    padding: 1rem 0;
  }

  .affiliates-banner .title:not(html) {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .affiliates-banner .subtitle:not(html) {
    font-size: 0.85rem;
  }
}

.affiliates .affiliates-banner .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.affiliates-banner .title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.affiliates-banner .subtitle {
  text-align: left;
  max-width: 25%;
  line-height: 1.2;
  font-size: 0.85rem;
}

.affiliates-banner .subtitle2 {
  text-align: left;
  max-width: 25%;
  line-height: 1.2;
  font-size: 0.85rem;
  margin-top: 20px;
}

@media (min-width: 900px) {
  .affiliates-banner .subtitle {
    max-width: 25%;
    line-height: 1.2;
  }
}

.apply-button {
  margin: 2rem 0;
  background: #da291c;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
}

.affiliates .sections {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .affiliates .sections:not(html) {
    max-width: 90%;
  }
}

.affiliates .section-headers {
  text-align: left;
  padding: 5rem 0rem 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.affiliates .section-headers .section-header-1 {
  font-weight: bold;
  font-size: 1.6rem;
  max-width: 30%;
  line-height: 1.1;
}

.affiliates .section-headers .section-header-2 {
  line-height: 1.2;
  margin-top: 6px;
  font-size: 1rem;
  /* max-width: 450px; */
}

.affiliates .section-headers .section-line {
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #cccccc;
  /* max-width: 450px; */
}

.section-cards {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  column-gap: 5rem;
}

@media (max-width: 900px) {
  .section-cards {
    flex-wrap: wrap;
    column-gap: 0rem;
    row-gap: 5rem;
  }

  .section-card:not(html) {
    width: calc(50% - 0.5rem) !important;
    padding: 1rem 0.75rem;
  }

  .section-card-icon img:not(html) {
    height: 50px;
  }

  .section-card .section-card-title:not(html) {
    font-size: 1.2rem;
  }
}

.section-card {
  color: black;
  text-align: left;
  /* padding: 3rem 1rem; */
  width: 18%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.section-card .section-card-title {
  font-size: 0.9rem;
  /* font-size: 24px */
}

.section-card .section-card-content {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.2;
  /* font-size: 20px; */
}

/*分割线*/
.section-boxs {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}

@media (max-width: 900px) {
  .section-boxs {
    flex-wrap: wrap;
  }

  .section-box:not(html) {
    width: calc(50% - 0.5rem) !important;
    padding: 1rem 0.75rem;
  }

  .section-box img:not(html) {
    height: 50px;
  }

  .section-box .section-box-title:not(html) {
    font-size: 1.2rem;
  }
}

.section-box {
  background: #da291c;
  color: white;
  text-align: center;
  padding: 2.9rem 3.7rem;
  width: 25%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.section-box .section-box-title {
  font-size: 1.5rem;
  /* font-size: 24px */
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-card .section-box-content {
  font-size: 1.2rem;
  line-height: 1.2;
  /* font-size: 20px; */
}

.section-box img {
  height: 80px;
}

.section-box {
  margin-bottom: 1rem;
}

section.how-to {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  margin-top: 6rem;
}

@media (min-width: 1200px) {
  section.how-to {
    height: 500px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  section.how-to {
    height: 400px;
  }
}

section.how-to .right p:last-child {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  section.how-to:not(html) {
    height: initial;
    flex-direction: column;
    gap: 0;
    margin-top: 2rem;
  }

  section.how-to .left:not(html) {
    height: 300px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  section.how-to .right:not(html) {
    padding: 1.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  section.how-to .right h1:not(html) {
    font-size: 1.5rem;
  }

  section.how-to .left,
  section.how-to .right {
    width: 100% !important;
  }
}

section.how-to .left,
section.how-to .right {
  border-radius: 20px;
  width: 50%;
}

section.how-to .left {
  display: block;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.how-to .right {
  background: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.how-to .right h1 {
  font-size: 2rem;
  margin: 0;
}

strong:not(html) {
  font-weight: bold;
}

section.join {
  display: flex;
  align-items: stretch;
  height: 400px;
  gap: 1rem;
}

@media (max-width: 900px) {
  section.join {
    height: initial;
  }

  section.join .left,
  section.join .right {
    height: 170px;
    width: calc(50% - 0.5rem) !important;
  }

  section.join .signup-button:not(html) {
    border: none;
    background: black;
    color: white;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
  }
}

section.join .left,
section.join .right {
  border-radius: 20px;
  background: white;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.join .left .image-section,
section.join .right .image-section {
  display: flex;
  height: 80%;
  align-items: center;
}

.signup-button {
  font-weight: bold;
  border-radius: 40px;
  border: 1px solid #eaf1f6;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  background: white;
}

section.join .left .signup-button-section,
section.join .right .signup-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

@media (max-width: 900px) {
  section.join .left .signup-button-section,
  section.join .right .signup-button-section {
    height: 40%;
    width: 100%;
  }

  section.join .left .image-section,
  section.join .right .image-section {
    width: 80%;
  }
}

section.faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}

@media (max-width: 900px) {
  section.faq {
    background: white;
    padding: 1.5rem;
    border-radius: 20px;
  }

  section.faq .faq-obj .faq-obj-head {
    font-weight: bold;
  }

  section.faq .faq-obj:last-child {
    border-bottom: none;
  }
}

section.faq .faq-obj .faq-obj-head {
  width: 100%;
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

section.faq .faq-obj {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.faq .faq-obj .faq-obj-head .spacer {
  flex: 1;
}

section.faq .faq-obj-head svg {
  stroke: black;
  transform: rotate(0deg) scale(1.5);
  transition: all 0.2s ease;
  min-width: 10px;
}

section.faq .faq-obj.active .faq-obj-head svg {
  transform: rotate(180deg) scale(1.5);
}

section.faq .faq-obj .faq-obj-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

section.faq .faq-obj.active .faq-obj-content {
  margin: 1rem 0;
  max-height: 200px;
}

.section-card-icon img {
  height: 80px;
}

.section-card-icon {
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .affiliates .section-headers .section-header-1:not(html) {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .affiliates .section-headers:not(html) {
    text-align: left;
    padding: 1.5rem 0;
    align-items: flex-start;
  }

  .affiliates .affiliates-banner.pc:not(html) {
    display: none;
  }
}

@media (min-width: 500px) {
  .apply-button.mobile {
    display: none;
  }

  .affiliates-banner.mobile {
    display: none;
  }
}

.apply-button.mobile {
  text-align: center;
  margin: 1.5rem 1rem;
}

.globo-form-app.boxed-layout {
  border-radius: 10px !important;
  box-shadow: none !important;
}

select.classic-input:not(html) {
  border: 1px solid var(--color-form-border);
}

.globo-form-input {
  border-radius: 10px !important;
  box-shadow: none !important;
}

.label-content {
  font-weight: bold !important;
  box-shadow: none !important;
}

.classic-input {
  border-radius: 10px !important;
  box-shadow: none !important;
  background-color: white !important;
}

.classic-input:focus {
  border-color: black !important;
}

.gfb__footer wizard__footer {
  border-radius: 40px !important;
}

.action.next.submit.classic-button {
  border-radius: 40px !important;
}
@media (max-width: 768px) {
  .affiliates .affiliates-banner .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 100%;
    /* margin: 0 44px; */
    width: 100%;
    padding: 0 2.6rem;
        gap: 10px;
  }
  .affiliates-banner .subtitle {
    text-align: center;
    max-width: 100%;
    line-height: 16px;
    font-size: 0.85rem;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .affiliates .section-headers .section-header-1 {
    font-weight: 700;
    font-size: 1.6rem;
    max-width: 60%;
    line-height: 1.1;
}
  .section-cards{
    gap:0;
  }
}
