@font-face {
  font-family: "Miskan";
  src: url("https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Miskan.woff?v=1753251604")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* flash-activity-banner start */
.flash-activity-banner-wrapper {
  overflow: hidden;
}

.flash-activity-banner-container {
}

.flash-activity-banner-container-top {
  position: relative;
  background: linear-gradient(174deg, #ffd0d0 22.32%, #fff6d1 86.43%);
}
.flash-activity-banner-container-top-content {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  box-sizing: border-box;
}
.flash-activity-banner-container-top-icon1 {
  width: 87px;
  height: 89px;
  position: absolute;
  top: 0;
  right: -220px;
}

.flash-activity-banner-container-top-icon2 {
  width: 74px;
  height: 77px;
  position: absolute;
  top: 50%;
  right: -110px;
  transform: translateY(-50%);
}

.flash-activity-banner-container-top-icon3 {
  width: 76px;
  height: 141px;
  position: absolute;
  bottom: 62px;
  right: 0;
}

.flash-activity-banner-container-top-left {
  width: 50%;
  position: relative;
}

.flash-activity-banner-container-top-left-title-top-icon {
  width: 171px;
  height: 163px;
  position: absolute;
  top: -22%;
  left: -23%;
}

.flash-activity-banner-container-top-left-title {
  color: #00172f;
  font-size: 56px;
  font-weight: 800;
  line-height: 120%;
  position: relative;
}

.flash-activity-banner-container-top-left-title-bottom-icon {
  width: 80%;
}

.flash-activity-banner-container-top-right {
  width: 50%;
  position: relative;
}

.flash-activity-banner-container-top-right-gif {
}

.flash-activity-banner-container-top-right-gif img.pc {
  display: block;
}

.flash-activity-banner-container-top-right-gif img.mb {
  display: none;
}

.flash-activity-banner-container-bottom {
  background: #fff;
  padding-top: 72px;
  padding-bottom: 74px;
}

.flash-activity-banner-container-bottom-container {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  position: relative;
}

.flash-activity-banner-container-bottom-container-box {
  display: flex;
  padding: 30px 50px 50px 50px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: #fff6d1;
  box-sizing: border-box;
  height: 453px;
}

.flash-activity-banner-container-bottom-container-box-icon1 {
  width: 124px;
  height: 93px;
  position: absolute;
  top: -30px;
  left: -11px;
}

.flash-activity-banner-container-bottom-container-box-icon2 {
  width: 136px;
  height: 137px;
  position: absolute;
  bottom: -58px;
  right: -30px;
}

.flash-activity-banner-container-bottom-container-box-right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flash-activity-banner-container-bottom-container-box-right-content-text {
  color: #00172f;

  font-size: 20px;
  font-weight: 500;
  line-height: 140%; /* 28px */
}

.flash-activity-banner-container-bottom-container-box-right-img {
}

.flash-activity-banner-container-bottom-container-box-right-img img.pc {
  display: block;
}

.flash-activity-banner-container-bottom-container-box-right-img img.mb {
  display: none;
}
@media screen and (max-width: 768px) {
  .flash-activity-banner-wrapper {
  }

  .flash-activity-banner-container {
    background: linear-gradient(174deg, #ffd0d0 22.32%, #fff6d1 86.43%);
  }

  .flash-activity-banner-container-top {
    position: relative;
    background: transparent;
  }
  .flash-activity-banner-container-top-content {
    max-width: 1048px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    flex-direction: column;
  }
  .flash-activity-banner-container-top-icon1 {
    width: 87px;
    height: 89px;
    position: absolute;
    top: -131px;
    right: -82px;
  }

  .flash-activity-banner-container-top-icon2 {
    width: 74px;
    height: 77px;
    position: absolute;
    top: 50%;
    right: -110px;
    transform: translateY(-50%);
  }

  .flash-activity-banner-container-top-icon3 {
    width: 143px;
    height: 155px;
    position: absolute;
    bottom: -54px;
    right: auto;
    left: 1px;
    transform: rotate(180deg);
  }

  .flash-activity-banner-container-top-left {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }

  .flash-activity-banner-container-top-left-title-top-icon {
    width: 171px;
    height: 163px;
    position: absolute;
    top: -39%;
    left: -17%;
  }

  .flash-activity-banner-container-top-left-title {
    color: #00172f;
    font-size: 42px;
    font-weight: 800;
    line-height: 120%;
    position: relative;
  }

  .flash-activity-banner-container-top-left-title-bottom-icon {
    width: 100%;
  }

  .flash-activity-banner-container-top-right {
    width: 100%;
    position: relative;
  }

  .flash-activity-banner-container-top-right-gif {
  }

  .flash-activity-banner-container-top-right-gif img.pc {
    display: none;
  }

  .flash-activity-banner-container-top-right-gif img.mb {
    display: block;
    transform: scale(1.1);
  }

  .flash-activity-banner-container-bottom {
    background: transparent;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .flash-activity-banner-container-bottom-container {
    max-width: 1048px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    position: relative;
  }

  .flash-activity-banner-container-bottom-container-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
    height: auto;
    min-height: 655px;
  }

  .flash-activity-banner-container-bottom-container-box-icon1 {
    width: 73px;
    height: 73px;
    position: absolute;
    top: -38px;
    left: -11px;
  }

  .flash-activity-banner-container-bottom-container-box-icon2 {
    width: 86px;
    height: 95px;
    position: absolute;
    bottom: -24px;
    right: 22px;
  }

  .flash-activity-banner-container-bottom-container-box-right-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .flash-activity-banner-container-bottom-container-box-right-content-text {
    color: #00172f;

    font-size: 16px;
    font-weight: 500;
    line-height: 140%; /* 28px */
  }

  .flash-activity-banner-container-bottom-container-box-right-img {
  }

  .flash-activity-banner-container-bottom-container-box-right-img img.pc {
    display: none;
  }

  .flash-activity-banner-container-bottom-container-box-right-img img.mb {
    display: block;
  }
}
/* flash-activity-banner end */
/* activities start */
.flash-activity-activities-wrapper {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

.flash-activity-activities-container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-activities-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  margin-bottom: 60px;
}

.flash-activity-activities-list.pc {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.flash-activity-activities-list.mb {
  display: none;
}

.flash-activity-activities-list.pc .flash-activity-activities-item {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.flash-activity-activities-list.pc .flash-activity-activities-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.flash-activity-activities-list.pc .flash-activity-activities-item-icon {
  width: 56px;
  height: 56px;
  margin-bottom: 30px;
  flex-shrink: 0;
}

.flash-activity-activities-list.pc .flash-activity-activities-item-title {
  color: #00172f;
  font-family: Miskan;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 14px;
}

.flash-activity-activities-list.pc .flash-activity-activities-item-desc {
  color: #00172f;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  /* 25.2px */
}

.flash-activity-activities-list.pc .flash-activity-activities-item-img {
  width: 650px;
  height: 400px;
  box-sizing: border-box;
}

.flash-activity-activities-list.pc
  .flash-activity-activities-item:nth-child(1) {
  background-color: #eafff8;
  padding-left: 56px;
  gap: 46px;
}

.flash-activity-activities-list.pc
  .flash-activity-activities-item:nth-child(2) {
  background-color: #e6f2ff;
  padding-right: 37px;
  flex-direction: row-reverse;
  gap: 65px;
}

.flash-activity-activities-list.pc
  .flash-activity-activities-item:nth-child(3) {
  background-color: #fff1fd;
  padding-left: 56px;

  gap: 46px;
}

.flash-activity-activities-list.pc
  .flash-activity-activities-item:nth-child(4) {
  background-color: #fef2f1;
  padding-right: 37px;
  flex-direction: row-reverse;
  gap: 65px;
}

.flash-activity-activities-list.pc
  .flash-activity-activities-item:nth-child(5) {
  background-color: #fffdf5;
  padding-left: 56px;
  gap: 46px;
}

@media screen and (max-width: 768px) {
  .flash-activity-activities-wrapper {
    background-color: #deeeff;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-activities-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .flash-activity-activities-container .title {
    font-size: 42px;

    margin-bottom: 36px;
  }

  .flash-activity-activities-list.pc {
    display: none;
  }

  .flash-activity-activities-list.mb {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .flash-activity-activities-list.mb .flash-activity-activities-item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 36px 24px;
    border-radius: 28px;
  }

  .flash-activity-activities-list.mb .flash-activity-activities-item-icon {
    position: absolute;
    width: 70px;
    height: 70px;
  }

  .flash-activity-activities-list.mb
    .flash-activity-activities-item:nth-child(1)
    .flash-activity-activities-item-icon {
    top: -10px;
    left: -10px;
    transform: rotate(-20deg);
  }

  .flash-activity-activities-list.mb
    .flash-activity-activities-item:nth-child(2)
    .flash-activity-activities-item-icon {
    top: -10px;
    right: -10px;
    transform: rotate(20deg);
  }

  .flash-activity-activities-list.mb
    .flash-activity-activities-item:nth-child(3)
    .flash-activity-activities-item-icon {
    top: -10px;
    left: -10px;
    transform: rotate(-20deg);
  }

  .flash-activity-activities-list.mb
    .flash-activity-activities-item:nth-child(4)
    .flash-activity-activities-item-icon {
    top: -10px;
    right: -10px;
    transform: rotate(20deg);
  }

  .flash-activity-activities-list.mb
    .flash-activity-activities-item:nth-child(5)
    .flash-activity-activities-item-icon {
    top: -10px;
    left: -10px;
    transform: rotate(-20deg);
  }

  .flash-activity-activities-list.mb .flash-activity-activities-item-title {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #deeeff;
    color: #00172f;
    text-align: center;
    font-family: Miskan;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    width: max-content;
    margin: 0 auto;
  }

  .flash-activity-activities-list.mb .flash-activity-activities-item-img {
    padding: 16px 0px;
    min-height: 176px;
    box-sizing: content-box;
  }

  .flash-activity-activities-list.mb .flash-activity-activities-item-img img {
    border-radius: 20px;
  }

  .flash-activity-activities-list.mb .flash-activity-activities-item-desc {
    color: #00172f;
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
  }
}

/* activities end */

/* promotion start */
.flash-activity-promotion-wrapper {
  background: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flash-activity-promotion-container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-promotion-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  /* margin-bottom: 60px; */
}
.flash-activity-promotion-container .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(218, 41, 28);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    /* 40px */
    margin-top: 20px;
    margin-bottom: 60px;
  }

.flash-activity-promotion-list {
  display: flex;
  gap: 24px;
}

.flash-activity-promotion-item {
  display: flex;
  padding: 30px 22px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  width: 33%;
  box-sizing: border-box;
}

.flash-activity-promotion-item-img {
  /* min-height: 212px; */
}

.flash-activity-promotion-item-product-name {
  color: #00172f;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 6px;
  margin-top: 14px;
}

.flash-activity-promotion-item-online-discount,
.flash-activity-promotion-item-additional-event-discount {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.flash-activity-promotion-item-online-discount {
  margin-top: 10px;
  margin-bottom: 6px;
}

.flash-activity-promotion-item-additional-event-discount {
  margin-bottom: 10px;
}

.flash-activity-promotion-item-online-discount > span,
.flash-activity-promotion-item-additional-event-discount > span {
  color: #ff8f1c;
}

.flash-activity-promotion-item-button {
  margin-top: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  display: flex;
  height: 46px;
  padding: 9px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #ff8f1c;
  text-decoration: none;
  box-sizing: border-box;
}
.flash-activity-promotion-item-button:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .flash-activity-promotion-wrapper {
    background: #fff8ff;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-promotion-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .flash-activity-promotion-container .title {
    font-size: 42px;
    /* margin-bottom: 25px; */
  }
  .flash-activity-promotion-container .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(218, 41, 28);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    /* 40px */
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .flash-activity-promotion-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .flash-activity-promotion-item {
    padding: 36px 24px;
    border-radius: 20px;
    width: 100%;
  }

  .flash-activity-promotion-item-img {
    min-height: 176px;
  }

  .flash-activity-promotion-item-product-name {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 26px;
    line-height: 1.27;
  }

  .flash-activity-promotion-item-online-discount,
  .flash-activity-promotion-item-additional-event-discount {
    font-size: 14px;
    line-height: 1.28;
  }

  .flash-activity-promotion-item-online-discount {
    margin-top: 0;
    margin-bottom: 0;
  }

  .flash-activity-promotion-item-additional-event-discount {
    margin-bottom: 0;
  }

  .flash-activity-promotion-item-button {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    height: 46px;
    padding: 9px 24px;
  }
}

/* promotion end */

/* free-giveaways start */
.flash-activity-free-giveaways-wrapper {
  background: #e9f4ff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flash-activity-free-giveaways-container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-free-giveaways-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  margin-bottom: 60px;
}

.flash-activity-free-giveaways-list {
  display: flex;
  justify-content: space-between;
}

.flash-activity-free-giveaways-item {
  display: flex;
  flex-direction: column;
  padding: 50px 26px;
  width: 500px;
  box-sizing: border-box;
  border-radius: 20px;
}

.flash-activity-free-giveaways-item:nth-child(1) {
  background-color: #fff8ff;
}

.flash-activity-free-giveaways-item:nth-child(2) {
  background-color: #fff6d1;
}

.flash-activity-free-giveaways-item-title {
  position: relative;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  background-color: #e59bdc;
  border-radius: 50px;
  margin-bottom: 16px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.flash-activity-free-giveaways-item:nth-child(2)
  .flash-activity-free-giveaways-item-title {
  background-color: #ffd700;
}

.flash-activity-free-giveaways-item-title svg {
  width: 69px;
  height: 70px;
  position: absolute;
  top: -54px;
  left: -9px;
}

.flash-activity-free-giveaways-item-title-text {
  color: #00172f;
  text-align: center;
  font-family: Miskan;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.22;
}

.flash-activity-free-giveaways-item-date {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 100px;
  background: #13a513;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin: 0 auto;
}

.flash-activity-free-giveaways-item-content {
  padding: 0 24px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

.flash-activity-free-giveaways-item-content-item-title {
  color: #00172f;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  /* 24px */
  margin-bottom: 9px;
}
.flash-activity-free-giveaways-item-button {
  display: flex;
  height: 40px;
  padding: 8.918px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #ff8f1c;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: auto;
}
.flash-activity-free-giveaways-item-button.soon {
  background: #ffdfa8;
  cursor: not-allowed;
  color: #00172f;
}
.flash-activity-free-giveaways-item-button:hover {
  color: #fff;
}
.flash-activity-free-giveaways-item-button.soon:hover {
  color: #00172f;
}

.flash-activity-free-giveaways-item-content-item > ul {
  margin: 0;
}

.flash-activity-free-giveaways-item-content-item > ul > li {
  color: #00172f;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.flash-activity-free-giveaways-item-content-item-desc {
  color: #00172f;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

@media screen and (max-width: 768px) {
  .flash-activity-free-giveaways-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-free-giveaways-container {
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .flash-activity-free-giveaways-container .title {
    font-size: 42px;
    margin-bottom: 36px;
  }

  .flash-activity-free-giveaways-list {
    flex-direction: column;
    gap: 36px;
    justify-content: center;
  }

  .flash-activity-free-giveaways-item {
    padding: 36px;
    width: 100%;

    border-radius: 28px;
  }

  .flash-activity-free-giveaways-item:nth-child(1) {
    background-color: #fff8ff;
  }

  .flash-activity-free-giveaways-item:nth-child(2) {
    background-color: #fff6d1;
  }

  .flash-activity-free-giveaways-item-title {
  }

  .flash-activity-free-giveaways-item-title svg {
    width: 54px;
    height: 55px;

    top: -41px;
    left: -12px;
  }

  .flash-activity-free-giveaways-item-title-text {
    font-size: 18px;
  }

  .flash-activity-free-giveaways-item-date {
    font-size: 18px;

    line-height: 1.28;
  }

  .flash-activity-free-giveaways-item-content {
    padding: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .flash-activity-free-giveaways-item-content-item-title {
    font-size: 15px;
  }

  .flash-activity-free-giveaways-item-content-item > ul {
    margin: 0;
    padding-left: 30px;
  }

  .flash-activity-free-giveaways-item-content-item > ul > li {
    font-size: 15px;

    line-height: 1.26;
    /* 22.4px */
  }

  .flash-activity-free-giveaways-item-content-item-desc {
    font-size: 15px;
    line-height: 1.26;
    /* 22.4px */
  }
}

/* free-giveaways end */

/* more-perks start */
.flash-activity-more-perks-wrapper {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 65px;
}

.flash-activity-more-perks-container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-more-perks-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  margin-bottom: 100px;
}

.flash-activity-more-perks-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
}

.flash-activity-more-perks-item {
  box-sizing: border-box;
  border-radius: 99px;
  background: #ffebfd;
  display: flex;
  width: 550px;
  height: 138px;
  padding: 0px 22px 9px 52px;
}

.flash-activity-more-perks-item:nth-child(1) {
  background: #ffebfd;
}

.flash-activity-more-perks-item:nth-child(2) {
  background: #deeeff;
}

.flash-activity-more-perks-item:nth-child(3) {
  background: #fededa;
}

.flash-activity-more-perks-item:nth-child(4) {
  background: #e5ffbe;
}

.flash-activity-more-perks-item-content {
  flex: 1;
  margin-top: -20px;
}

.flash-activity-more-perks-item-icon {
  min-width: 188px;
  position: relative;
}

.flash-activity-more-perks-item-icon svg {
  position: absolute;
  flex-shrink: 0;
}

.flash-activity-more-perks-item:nth-child(1)
  .flash-activity-more-perks-item-icon
  svg {
  width: 187px;
  height: 185px;
  top: -60px;
}

.flash-activity-more-perks-item:nth-child(2)
  .flash-activity-more-perks-item-icon
  svg {
  width: 148px;
  height: 145px;
  top: -30px;
  right: 0;
}

.flash-activity-more-perks-item:nth-child(3)
  .flash-activity-more-perks-item-icon
  svg {
  width: 137px;
  height: 149px;
  top: -27px;
  right: 20px;
}

.flash-activity-more-perks-item:nth-child(4)
  .flash-activity-more-perks-item-icon
  svg {
  width: 188px;
  height: 151px;
  top: -23px;
  right: 9px;
}

.flash-activity-more-perks-item-content-title {
  display: flex;
  box-sizing: border-box;
  color: #00172f;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: max-content;
}

.flash-activity-more-perks-item:nth-child(1)
  .flash-activity-more-perks-item-content-title {
  background: #e59bdc;
}

.flash-activity-more-perks-item:nth-child(2)
  .flash-activity-more-perks-item-content-title {
  background: #4ec3e0;
}

.flash-activity-more-perks-item:nth-child(3)
  .flash-activity-more-perks-item-content-title {
  background: #ff8f1c;
}

.flash-activity-more-perks-item:nth-child(4)
  .flash-activity-more-perks-item-content-title {
  background: #7acc00;
}

.flash-activity-more-perks-item-content-desc {
  margin-top: 18px;
  color: #00172f;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  /* 25.2px */
}

@media screen and (max-width: 768px) {
  .flash-activity-more-perks-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-more-perks-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .flash-activity-more-perks-container .title {
    font-size: 42px;

    margin-bottom: 60px;
  }

  .flash-activity-more-perks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .flash-activity-more-perks-item {
    box-sizing: border-box;
    border-radius: 99px;
    background: #ffebfd;
    display: flex;
    width: 100%;
    min-height: 102px;
    padding: 30px 40px;
    height: 102px;
  }

  .flash-activity-more-perks-item:nth-child(2),
  .flash-activity-more-perks-item:nth-child(3),
  .flash-activity-more-perks-item:nth-child(4) {
    height: 123px;
  }

  .flash-activity-more-perks-item-content {
    flex: 1;
    margin-top: -38px;
  }

  .flash-activity-more-perks-item-icon {
    min-width: 55px;
    position: relative;
  }

  .flash-activity-more-perks-item:nth-child(2)
    .flash-activity-more-perks-item-icon {
    min-width: 59px;
  }

  .flash-activity-more-perks-item-icon svg {
    position: absolute;
    flex-shrink: 0;
  }

  .flash-activity-more-perks-item:nth-child(1)
    .flash-activity-more-perks-item-icon
    svg {
    width: 136px;
    height: 134px;
    top: -44px;
    left: -26px;
  }

  .flash-activity-more-perks-item:nth-child(2)
    .flash-activity-more-perks-item-icon
    svg {
    width: 127px;
    height: 124px;
    top: -30px;
    right: -52px;
  }

  .flash-activity-more-perks-item:nth-child(3)
    .flash-activity-more-perks-item-icon
    svg {
    width: 117px;
    height: 126px;
    top: -30px;
    right: -50px;
  }

  .flash-activity-more-perks-item:nth-child(4)
    .flash-activity-more-perks-item-icon
    svg {
    width: 143px;
    height: 121px;
    top: -37px;
    right: -47px;
    transform: rotate(-5deg);
  }

  .flash-activity-more-perks-item-content-title {
    display: flex;
    box-sizing: border-box;
    color: #00172f;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.25;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: max-content;
  }

  .flash-activity-more-perks-item:nth-child(1)
    .flash-activity-more-perks-item-content-title {
    background: #e59bdc;
  }

  .flash-activity-more-perks-item:nth-child(2)
    .flash-activity-more-perks-item-content-title {
    background: #4ec3e0;
  }

  .flash-activity-more-perks-item:nth-child(3)
    .flash-activity-more-perks-item-content-title {
    background: #ff8f1c;
  }

  .flash-activity-more-perks-item:nth-child(4)
    .flash-activity-more-perks-item-content-title {
    background: #7acc00;
  }

  .flash-activity-more-perks-item-content-desc {
    margin-top: 13px;
    color: #00172f;
    font-family: Mulish;
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    /* 25.2px */
  }

  .flash-activity-more-perks-item:nth-child(3)
    .flash-activity-more-perks-item-content-desc {
    width: 80%;
  }

  .flash-activity-more-perks-item:nth-child(4)
    .flash-activity-more-perks-item-content-desc {
    width: 75%;
  }
}

/* more-perks end */

/* address-date start */
.flash-activity-address-date-wrapper {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden;
}

.flash-activity-address-date-container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-address-date-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  margin-bottom: 60px;
}

.flash-activity-address-date-list {
  padding: 30px 30px 55px 30px;
  background-color: #deeeff;
  position: relative;
  border-radius: 28px;
}

.flash-activity-address-date-top-icon {
  position: absolute;
  top: -66px;
  right: -70px;
  width: 140px;
  height: 137px;
}

.flash-activity-address-date-top-icon img {
}

.flash-activity-address-date-bottom-icon {
  position: absolute;
  bottom: -47px;
  left: -64px;
  width: 128px;
  height: 95px;
}

.flash-activity-address-date-img {
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.flash-activity-address-date-img img.pc {
  display: block;
}

.flash-activity-address-date-img img.mb {
  display: none;
}

.flash-activity-address-date-content {
  display: flex;
  gap: 30px;
}

.flash-activity-address-date-content-item {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 19px;
  border-radius: 20px;
  width: 50%;
}

.flash-activity-address-date-content-item:nth-child(1) {
  background: #fff8ff;
}

.flash-activity-address-date-content-item:nth-child(2) {
  background: #fff6d1;
}

.flash-activity-address-date-content-item-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.flash-activity-address-date-content-item-title {
  color: #00172f;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
}

.flash-activity-address-date-content-desc {
  margin-top: 9px;
  color: #00172f;

  font-size: 18px;

  font-weight: 500;
  line-height: 150%;
}

.flash-activity-address-date-content-desc > span {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .flash-activity-address-date-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-address-date-container .title {
    font-size: 42px;

    margin-bottom: 30px;
  }

  .flash-activity-address-date-list {
    padding: 24px;
  }

  .flash-activity-address-date-top-icon {
    position: absolute;
    top: -35px;
    right: -20px;
    width: 74px;
    height: 70px;
  }

  .flash-activity-address-date-bottom-icon {
    position: absolute;
    bottom: -35px;
    left: -14px;
    width: 80px;
    height: 56px;
  }

  .flash-activity-address-date-img {
    margin-bottom: 14px;
    border-radius: 20px;
    overflow: hidden;
  }

  .flash-activity-address-date-img img.pc {
    display: none;
  }

  .flash-activity-address-date-img img.mb {
    display: block;
  }

  .flash-activity-address-date-content {
    display: flex;
    gap: 12px;
  }

  .flash-activity-address-date-content-item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 19px 10px;
    border-radius: 28px;
    width: 50%;
  }

  .flash-activity-address-date-content-item-icon {
    width: 40px;
    height: 40px;
  }

  .flash-activity-address-date-content-item-title {
    font-size: 15px;
  }

  .flash-activity-address-date-content-desc {
    margin-top: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

/* address-date end */

/* kaChing-story start */
.flash-activity-kaChing-story-wrapper {
  background: linear-gradient(180deg, #fededa 0%, #fff6d1 58.33%, #fdfcf8 100%);
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.flash-activity-kaChing-story-container {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-kaChing-story-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  margin-bottom: 60px;
  position: relative;
}

.flash-activity-kaChing-story-container .title .title-icon {
  width: 107px;
  position: absolute;
  right: 12%;
}

.flash-activity-kaChing-story-list {
  padding: 50px;
  background-color: #fff;
  position: relative;
  border-radius: 20px;
}

.flash-activity-kaChing-story-top-icon {
  position: absolute;
  top: -45px;
  left: -44px;
  width: 88px;
  height: 93px;
}

.flash-activity-kaChing-story-bottom-icon {
  position: absolute;
  bottom: -45px;
  right: -45px;
  width: 90px;
  height: 90px;
}

.flash-activity-kaChing-story-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.flash-activity-kaChing-story-content-item-desc {
  color: #00172f;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  /* 25.2px */
}

@media screen and (max-width: 768px) {
  .flash-activity-kaChing-story-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-kaChing-story-container {
    max-width: 1048px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .flash-activity-kaChing-story-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00172f;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    line-height: 1;
    /* 40px */
    margin-bottom: 30px;
    position: relative;
    text-align: center;
  }

  .flash-activity-kaChing-story-container .title .title-icon {
    width: 76px;
    position: absolute;
    right: -22px;
    top: -41px;
  }

  .flash-activity-kaChing-story-list {
    padding: 24px;
    border-radius: 16px;
  }

  .flash-activity-kaChing-story-top-icon {
    position: absolute;
    top: -27px;
    left: -20px;
    width: 52px;
    height: 54px;
  }

  .flash-activity-kaChing-story-bottom-icon {
    position: absolute;
    bottom: -30px;
    right: -19px;
    width: 60px;
    height: 60px;
  }

  .flash-activity-kaChing-story-content {
    gap: 50px;
  }

  .flash-activity-kaChing-story-content-item-desc {
    font-size: 16px;
    line-height: 140%;
    /* 25.2px */
  }
}

/* kaChing-story end */

/* faq start */

.flash-activity-faq-wrapper {
  background: #fdfcf8;
  padding-top: 60px;
  padding-bottom: 100px;
}

.flash-activity-faq-container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.flash-activity-faq-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00172f;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  /* 40px */
  margin-bottom: 60px;
  position: relative;
}

.flash-activity-faq-item-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.flash-activity-faq-item-content {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flash-activity-faq-item-content-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  background-color: #deeeff;
  cursor: pointer;
}

.flash-activity-faq-item-content-item-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00172f;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  /* 25.2px */
}

.flash-activity-faq-item-content-item-question svg {
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}

.flash-activity-faq-item-content-item.active .flash-activity-faq-arrow-icon {
  transform: rotate(180deg);
}

.flash-activity-faq-item-content-item-answer {
  color: #626262;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  /* 25.2px */
  opacity: 0;
  display: none;
}

.flash-activity-faq-item-content-item.active
  .flash-activity-faq-item-content-item-answer {
  opacity: 1;
  display: block;
}

@media screen and (max-width: 768px) {
  .flash-activity-faq-wrapper {
    background: #fdfcf8;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flash-activity-faq-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .flash-activity-faq-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00172f;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    line-height: 1;
    /* 40px */
    margin-bottom: 30px;
    position: relative;
  }

  .flash-activity-faq-item-title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
  }

  .flash-activity-faq-item-content {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .flash-activity-faq-item-content-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 16px;
    background-color: #deeeff;
  }

  .flash-activity-faq-item-content-item-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00172f;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    /* 25.2px */
  }

  .flash-activity-faq-item-content-item-question svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .flash-activity-faq-item-content-item-question svg.show {
    transform: rotate(180deg);
  }

  .flash-activity-faq-item-content-item-answer {
    color: #626262;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    /* 25.2px */
  }
}

/* faq end */
