.vf13pro-0719-content {
    margin: 0 auto;
}

.hot-selling {
    background-color: #1C1F26;
    color: #fff;
    padding: 90px 0;
}

.hs-wrapper,
.nf-wrapper,
.sc-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hs-title,
.nf-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hs-title .title,
.nf-title .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    margin: 0 15px;
}

.hs-title .title-img-l img {
    max-height: 61px;
    width: auto;
}

.hs-title .title-img-r img {
    max-height: 61px;
    width: auto;
}

.nf-title .title-img-l img {
    max-height: 60px;
    width: auto;
}

.nf-title .title-img-r img {
    max-height: 68px;
    width: auto;
}

.hs-product {
    margin-top: 45px;
}

.product-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 15px;
}

.item-content {
    padding: 60px 40px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.item-content .item-img {
    padding: 0 38px;
}

.item-content .item-img-sec {
    margin-top: 20px;
    padding: 0 38px;
    display: flex;
    justify-content: flex-end;
}

.item-content .item-img-sec img {
    max-width: 156px;
}

.item-content .item-title {
    font-size: 20px;
    line-height: 18px;
    color: #000;
}

.box-item {
    position: relative;
}

.box-item .item-sale {
    max-width: 70px;
    position: absolute;
    top: 0;
    left: 40px;
}

.box-item.l .item-content .item-title {
    margin: 115px 0 0;
}

.box-item.r .item-content .item-title {
    margin: 42px 0 0;
}

.item-content .item-price {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.item-price .new-price {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    margin-right: 8px;
}

.item-price .old-price {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    line-height: 18px;
    text-decoration: line-through;
}

.item-btn .btn-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.btn-adt {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 39px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    -ms-border-radius: 39px;
    -o-border-radius: 39px;
}

.btn-adt span.adt-info {
    color: #000;
    font-size: 16px;
    line-height: 18px;
    padding: 13px 12px 13px 28px;
    background-color: #FBE601;
    white-space: nowrap;
}

.btn-adt span.adt-icon {
    display: flex;
    padding: 13px 19px 13px 14px;
    background-color: #FEA60E;
}

.btn-adt span.adt-icon div.icon {
    display: flex;
    height: 18px;
}

a.btn-r {
    box-sizing: border-box;
    margin-left: 20px;
    color: #000;
    font-size: 16px;
    line-height: 18px;
    padding: 13px 44px;
    background-color: #FBE601;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    white-space: nowrap;
}

/* NF Begin */
.new-function {
    background-color: #0E1116;
    color: #fff;
    padding: 90px 0;
}

.nf-text-with-img {
    margin-top: 45px;
}

.twi-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 17px;
}

.nf-item {
    position: relative;
    background-color: #181818;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nf-item-box {
    display: flex;
    justify-content: flex-end;
}

.nf-item-img {
    max-width: 280px;
}

.nf-item-img.right {
    max-width: 228px;
}

.nf-item-info {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 265px;
}

.nf-item-info p.info-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}

.nf-item-info p.info-desc {
    color: #949494;
    margin: 10px 0 0;
    font-size: 18px;
    line-height: 24px;
}

/* NF End */

/* SC Begin */
.sale-campaign {
    background-color: #1C1F26;
    color: #fff;
    padding: 15px 0 90px;
}

.sc-title .title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.sale-text p,
.sale-text span {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    display: block;
    color: #fff;
}

.sale-text p.mb30,
.sale-text div.p-span {
    margin-bottom: 30px;
}

.sale-text p.ccc {
    color: #666;
}

.sale-text span.dot {
    position: relative;
    color: #666;
    padding-left: 22px;
}

.sale-text span.dot::before {
    background-color: #666;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}

/* SC End */
@media screen and (max-width:1248px) {

    .hot-selling,
    .new-function {
        padding-left: 13px;
        padding-right: 13px;
    }

    .sale-campaign {
        padding-left: 23px;
        padding-right: 23px;
    }

    .nf-item-img {
        max-width: 220px;
    }

    .nf-item-img.right {
        max-width: 200px;
    }

    .item-content {
        padding: 26px 15px;
    }

    a.btn-r {
        padding: 13px 25px;
    }
}

@media screen and (max-width:768px) {
    .hot-selling {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hs-title .title-img-l img,
    .hs-title .title-img-r img {
        max-height: 30px;
    }

    .hs-title .title,
    .nf-title .title {
        font-size: 30px;
        margin: 0 5px;
        line-height: 32px;
    }

    .hs-product,
    .nf-text-with-img {
        margin-top: 30px;
    }

    .product-box {
        display: flex;
        flex-direction: column;
    }

    .box-item .item-sale {
        max-width: 45px;
        left: 15px;
    }

    .item-content {
        padding: 26px 15px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .item-content .item-img {
        padding: 0 29px;
    }

    .item-content .item-title {
        font-size: 16px;
        line-height: 22px;
    }

    .box-item.l .item-content .item-title {
        margin: 68px 0 0;
    }

    .box-item.r .item-content .item-title {
        margin: 27px 0 0;
    }

    .item-content .item-price {
        margin-top: 14px;
    }

    .item-price .new-price {
        font-size: 24px;
        line-height: 26px;
        margin-right: 4px;
    }

    .item-price .old-price {
        font-size: 12px;
        line-height: 18px;
    }

    .btn-adt span.adt-icon div.icon {
        height: 16px;
    }

    .btn-adt span.adt-info {
        font-size: 12px;
        padding: 11px 12px 11px 38px;
    }

    .btn-adt span.adt-icon {
        padding: 12px 15px 12px 14px;
    }

    a.btn-r {
        font-size: 12px;
        padding: 11px 46px;
        margin-left: 11px;
    }

    .box-item.l {
        margin-bottom: 15px;
    }

    .item-btn .btn-info {
        margin-top: 11px;
    }

    .nf-title .title-img-l img,
    .nf-title .title-img-r img {
        max-height: 30px;
    }

    .new-function {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .twi-box {
        display: flex;
        flex-direction: column;
    }

    .nf-item {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .nf-item-img {
        max-width: 140px;
    }

    .nf-item-img.right {
        max-width: 115px;
    }

    .nf-item-info {
        max-width: 180px;
        top: 28px;
        left: 15px;
    }

    .nf-item-info p.info-title {
        font-size: 20px;
        line-height: 24px;
    }

    .nf-item-info p.info-desc {
        margin: 34px 0 0;
        font-size: 12px;
        line-height: 14px;
    }

    .twi-box .nf-item:first-child {
        margin-bottom: 15px;
    }

    .sc-title .title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .sale-campaign {
        padding-top: 15px;
        padding-bottom: 50px;
    }

    .sc-content {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .sale-text p,
    .sale-text span {
        font-size: 14px;
        line-height: 18px;
    }

    .sale-text p.mb30,
    .sale-text div.p-span {
        margin-bottom: 15px;
    }

    .sale-text span.dot::before {
        width: 2px;
        height: 2px;
        left: 10px;
        top: 7px;
    }

    .sale-text span.dot {
        padding-left: 18px;
    }

}