  /* banner图 */
  .lucky-wheel-activity-container {
    background: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20250804-131229.jpg?v=1754287983);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAFFD4;
    height: 23.44vw;


  }



  @media screen and (max-width: 768px) {
    .lucky-wheel-activity-container {
      background: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20250804-131219.jpg?v=1754288000);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 106.66vw;


    }
  }

  .lucky-wheel-activity-wrapper {
    padding-bottom: 100px;
    background-color: #fff;
    /* display: none; */
  }

  /* 奖品列表 */
  .activity-prizes-section {
    padding-top: 100px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, #ffe5e3 0%, #ffffff 100%);
  }

  .activity-prizes-list-container {
    max-width: 1200px;
    margin: 0 auto;

  }

  .activity-prizes-list-container .title {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    gap: 27px;
    margin-bottom: 50px;
  }

  .activity-prizes-list-container .title .title-text {
    font-weight: 800;
    font-size: 40px;
    color: #000000;
    line-height: 49px;
  }

  .activity-prizes-list-container .title .title-text span {
    color: #da291c;
  }

  .activity-prizes-list-container .prizes-list {
    overflow: hidden;
  }

  .prizes-list .swiper-wrapper,
  .notice-content .swiper-wrapper {
    transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
    -moz-transition-timing-function: linear !important;
    -ms-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
  }

  .activity-prizes-list-container .title .icon-left {
    display: block;
    width: 104px;
    height: 81px;
  }

  .activity-prizes-list-container .title .icon-right {
    width: 104px;
    height: 81px;
  }

  .activity-prizes-list-container .title img {
    width: 100%;
    max-width: 100%;
  }

  .activity-prizes-list-container .prizes-list .prize-item {
    width: 224px;
    /* height: 200px; */
    background: #ffffff;
    border-radius: 20px;
    border: 2px solid #f62727;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;


  }

  .activity-prizes-list-container .prizes-list .prize-item img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 192 / 115;
  }

  .activity-prizes-list-container .prizes-list .prize-item .prize-name {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    color: #000000;
    line-height: 1.3;
    text-align: center;
    min-height: 54px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  @media screen and (max-width: 768px) {
    .lucky-wheel-activity-wrapper {
      padding-bottom: 50px;
      background-color: #fff;

    }

    /* 奖品列表 */
    .activity-prizes-section {
      padding-top: 50px;
      padding-bottom: 50px;
      background: linear-gradient(180deg, #ffe5e3 0%, #ffffff 100%);
    }

    .activity-prizes-list-container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .activity-prizes-list-container .title {
      gap: 8px;
      margin-bottom: 20px;
      padding: 0 24px;
    }

    .activity-prizes-list-container .title .title-text {

      font-size: 24px;

      line-height: 1.3;
    }

    .activity-prizes-list-container .title .title-text span {
      color: #da291c;
    }

    .activity-prizes-list-container .prizes-list {
      overflow: hidden;
    }

    .prizes-list .swiper-wrapper,
    .notice-content .swiper-wrapper {
      transition-timing-function: linear !important;
      -webkit-transition-timing-function: linear !important;
      -moz-transition-timing-function: linear !important;
      -ms-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
    }

    .activity-prizes-list-container .title .icon-left,
    .activity-prizes-list-container .title .icon-right {
      display: block;
      width: 42px;
      height: 32px;
      flex-shrink: 0;
    }



    .activity-prizes-list-container .title img {
      width: 100%;
      max-width: 100%;
    }

    .activity-prizes-list-container .prizes-list .prize-item {
      width: auto;

      border-radius: 10px;
      border: 1px solid #f62727;
      padding: 8px 8px 6px 8px;
      gap: 4px;
    }

    .activity-prizes-list-container .prizes-list .prize-item img {
      width: 100%;
      max-width: 100%;
    }

    .activity-prizes-list-container .prizes-list .prize-item .prize-name {
      font-weight: bold;
      font-size: 14px;
      line-height: 1.4;
      min-height: 40px;
      padding: 0;

    }
  }

  /* 抽奖转盘 PC 端 */
  .lucky-wheel-activity-wrapper-pc {
    display: block;
  }

  .lucky-wheel-activity-wrapper-mb {
    display: none;
  }

  .lucky-wheel-activity-title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #000000;
    line-height: 49px;
    margin-bottom: 50px;
  }

  .lucky-wheel-activity-container-pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    padding-right: 36px;
    padding-left: 45px;
    overflow: hidden;
    width: 1200px;
    height: 522px;
    background: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Group_55060.png?v=1752905456) no-repeat center / cover;
  }

  .lucky-wheel-activity-container-pc-bottom {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 40px;
    background: #ff6464;
    border-radius: 0 0 20px 20px;
  }

  .lucky-wheel-activity-container-pc .panel-box {
    padding: 34px;
    height: 100%;
    position: relative;
    width: 520px;
    box-sizing: border-box;
  }

  .lucky-wheel-activity-container-pc .panel-box #my-lucky {
    position: absolute;
  }

  .lucky-wheel-activity-container-pc .panel-box .button-box {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .lucky-wheel-activity-container-pc .right-box {
    flex: 1;
    padding-left: 118px;
  }

  .lucky-wheel-activity-container-pc .right-box .before-winning-box .prize-item-title {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    line-height: 38px;
    text-align: left;
    margin-bottom: 20px;
  }

  .lucky-wheel-activity-container-pc .right-box .before-winning-box .prize-item-rules {}

  .lucky-wheel-activity-container-pc .right-box .before-winning-box .prize-item-rules .prize-item-rules-title {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .lucky-wheel-activity-container-pc .right-box .before-winning-box .prize-item-rules .prize-item-rules-desc {
    font-weight: 400;
    font-size: 16px;
    color: #3D3D3D;
    line-height: 1.4;
    margin-bottom: 6px;
  }

  .lucky-wheel-activity-container-pc .right-box .before-winning-box .activity-button {
    margin-top: 30px;
    width: max-content;
    background: linear-gradient(90deg, #ffbc38 0%, #ff8628 51%, #ff909d 100%);
    box-shadow: inset 0px 1px 9px 0px rgba(241, 117, 127, 0.85);
    border-radius: 99px;
    padding: 20px 28px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.47;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .lucky-wheel-activity-wrapper-mb .right-box .before-winning-box {
      display: flex;
      flex-direction: column;
      margin-top: 78px;
    }

    .lucky-wheel-activity-wrapper-mb .right-box .before-winning-box .prize-item-title {
      font-weight: bold;
      font-size: 20px;
      color: #000000;
      line-height: 1.33;
      width: 227px;
      text-align: center;
      margin-bottom: 14px;
      margin-left: auto;
      margin-right: auto;
    }

    .lucky-wheel-activity-wrapper-mb .right-box .before-winning-box .prize-item-rules {
      order: 3;
    }

    .lucky-wheel-activity-wrapper-mb .right-box .before-winning-box .prize-item-rules .prize-item-rules-title {
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      line-height: 1.4;
      margin-bottom: 10px;
    }

    .lucky-wheel-activity-wrapper-mb .right-box .before-winning-box .prize-item-rules .prize-item-rules-desc {
      font-weight: 400;
      font-size: 16px;
      color: #3D3D3D;
      line-height: 1.4;
      margin-bottom: 6px;
    }

    .lucky-wheel-activity-wrapper-mb .right-box .before-winning-box .activity-button {

      width: max-content;
      background: linear-gradient(90deg, #ffbc38 0%, #ff8628 51%, #ff909d 100%);
      box-shadow: inset 0px 1px 9px 0px rgba(241, 117, 127, 0.85);
      border-radius: 99px;
      padding: 14px 26px;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      color: #ffffff;

      line-height: 1.37;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 18px;

    }

  }

  /* 已登录显示 */
  .logined-winning-box {
    display: none;
  }

  .logined-winning-box-title {
    color: #000;


    font-size: 30px;

    font-weight: 700;
    line-height: 1.26;
    /* 126% */
    margin-bottom: 30px;
  }

  .logined-winning-box-content {
    display: flex;
    width: 449px;
    padding: 20px 26px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: #FFF5F5;


  }

  .logined-winning-box-content-title {
    color: #000;

    font-size: 16px;

    font-weight: 400;
    line-height: 1.4;
    /* 140% */
    margin-bottom: 8px;
  }

  .logined-winning-box-content-title>span {
    color: #DA291C;
  }

  .logined-winning-box-content-desc {
    color: #000;

    font-size: 16px;

    font-weight: 400;
    margin-bottom: 20px;


  }

  .logined-winning-box-content-share-box {
    display: flex;
    align-items: center;
    gap: 32px;

  }

  .logined-winning-box-content-share-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;


  }

  .logined-winning-box-content-share-item-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;

  }

  .logined-winning-box-content-share-item-content {
    display: flex;
    flex-direction: column;
    gap: 2px;

  }

  .logined-winning-box-content-share-item-content-name {
    color: #000;

    font-size: 14px;

    font-weight: 400;
    line-height: 1.4;
    /* 140% */

  }

  .logined-winning-box-content-share-item-content-num {
    color: #DA291C;


    font-size: 14px;

    font-weight: 400;
    line-height: 1.4;
    /* 140% */
  }

  @media screen and (max-width: 768px) {
    .logined-winning-box-title {
      margin-top: 60px;
      color: #000;
      text-align: center;
      width: 209px;
      font-size: 20px;

      font-weight: 700;
      line-height: 1.26;
      /* 126% */
      margin-bottom: 14px;
      margin-left: auto;
      margin-right: auto;
    }

    .logined-winning-box-content {

      width: calc(100vw - 48px);
      padding: 20px 18px;



    }

    .logined-winning-box-content-title {

      font-size: 16px;

    }


    .logined-winning-box-content-desc {

      margin-bottom: 18px;


    }

    .logined-winning-box-content-share-box {
      display: flex;
      align-items: center;
      column-gap: 45px;
      row-gap: 18px;
      flex-wrap: wrap;

    }

    .logined-winning-box-content-share-item {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;


    }

    .logined-winning-box-content-share-item-icon {
      width: 30px;
      height: 30px;
      flex-shrink: 0;

    }

    .logined-winning-box-content-share-item-content {
      display: flex;
      flex-direction: column;
      gap: 2px;

    }

    .logined-winning-box-content-share-item-content-name {
      color: #000;

      font-size: 14px;

      font-weight: 400;
      line-height: 1.4;
      /* 140% */

    }

    .logined-winning-box-content-share-item-content-num {
      color: var(---1, #DA291C);


      font-size: 14px;

      font-weight: 400;
      line-height: 1.4;
      /* 140% */
    }
  }

  /* 已中奖显示 */
  .lucky-wheel-activity-container-pc .right-box .after-winning-box {
    display: none;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-title {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    line-height: 1.26;
    text-align: left;
    margin-bottom: 16px;
    gap: 19px;
    align-items: center;
    justify-content: center;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-title i {
    display: block;
    width: 46px;
    height: 46px;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-title i img {
    width: 100%;
    max-width: 100%;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-desc {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
    margin-bottom: 18px;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px 14px 15px 14px;
    border-radius: 10px;
    background: #FFF5F5;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .prize-img {
    width: 123px;
    height: 123px;
    padding: 9px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .prize-img img {
    width: 100%;
    max-width: 100%;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .prize-item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .prize-item-right .prize-item-name {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    /* 133% */
    margin-bottom: 4px;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .prize-item-right .prize-item-rules {
    color: #6D6D6D;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
    margin-bottom: 10px;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .prize-item-right .prize-item-rules>a {
    color: #FF8F1C;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .prize-item-box .discount-code-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .discount-code-box .Discount-code-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .discount-code-box .Discount-code-top-left {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .discount-code-box .Discount-code-top-copy {
    width: 30px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .discount-code-box .Discount-code-bottom {}

  .lucky-wheel-activity-container-pc .right-box .after-winning-box .discount-code-box .Discount-code-content {
    color: #3D3D3D;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
  }

  /* 已中奖显示 移动端*/
  @media screen and (max-width: 768px) {
    .lucky-wheel-activity-container-mb .right-box .after-winning-box {
      display: none;

    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-title {
      display: flex;
      font-weight: 700;
      font-size: 20px;
      color: #000000;
      line-height: 1.3;
      text-align: left;
      margin-bottom: 14px;
      gap: 0px;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-title i {
      display: none;
      width: 46px;
      height: 46px;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-title i img {
      width: 100%;
      max-width: 100%;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-desc {
      color: #000;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
      /* 140% */
      margin-bottom: 18px;
      display: none;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 10px;
      border-radius: 10px;
      background: #FFF5F5;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .prize-img {
      width: 78px;
      height: 78px;
      padding: 0px;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 10px;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .prize-img img {
      width: 100%;
      max-width: 100%;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .prize-item-right {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .prize-item-right .prize-item-name {
      color: #000;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.3;
      /* 133% */
      margin-bottom: 4px;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .prize-item-right .prize-item-rules {
      color: #6D6D6D;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4;
      /* 140% */
      margin-bottom: 10px;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .prize-item-right .prize-item-rules>a {
      color: #FF8F1C;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .prize-item-box .discount-code-box {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      display: none;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .discount-code-box .Discount-code-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .discount-code-box .Discount-code-top-left {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      /* 140% */
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .discount-code-box .Discount-code-top-copy {
      width: 30px;
      height: 20px;
      flex-shrink: 0;
      cursor: pointer;
    }

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .discount-code-box .Discount-code-bottom {}

    .lucky-wheel-activity-container-mb .right-box .after-winning-box .discount-code-box .Discount-code-content {
      color: #3D3D3D;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4;
      /* 140% */
    }
  }

  /* 抽奖转盘 移动端 */
  @media screen and (max-width: 768px) {

    .lucky-wheel-activity-wrapper-pc {
      display: none;
    }

    .lucky-wheel-activity-wrapper-mb {
      display: block;
    }

    .lucky-wheel-activity-title {
      text-align: center;

      font-size: 24px;
      padding: 0 24px;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    .lucky-wheel-activity-container-mb {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      box-sizing: border-box;
      padding: 27px 24px 18px 24px;
      overflow: hidden;
      width: 100%;
      min-height: auto;
      background: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Group_55062.png?v=1752905456) no-repeat center;
      background-size: 100% 100%;
      min-height: 820px;
    }

    .lucky-wheel-activity-container-mb .right-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .lucky-wheel-activity-container-mb-bottom {
      width: 100%;
      border-radius: 0px 0px 10px 10px;

      box-sizing: border-box;
      padding: 16px 24px;
      background: #ff6464;

    }

    .lucky-wheel-activity-container-mb .panel-box {
      padding: 0;
      height: 100%;
      position: relative;
      width: 100%;
      box-sizing: border-box;
    }

    .lucky-wheel-activity-container-mb .panel-box #my-lucky-mb {
      margin: 0 auto;
    }

    .lucky-wheel-activity-container-mb .panel-box .button-box {
      position: absolute;
      left: 50%;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      color: rgba(0, 0, 0, 0.88);
      cursor: pointer;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      /* 防止移动端点击时出现背景闪烁 */
      -webkit-tap-highlight-color: transparent;
      touch-action: manipulation;
      background: transparent;
    }
  }

  /* 中奖底部内容 */
  .lucky-wheel-activity-container-pc-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-left {
    display: flex;
    gap: 10px;
    width: 40%;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-left .notice-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-left .notice-content {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 27px;
    overflow: hidden;
    flex: 1;
  }

  .Winners-list {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right {
    display: flex;
    gap: 37px;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right .rules,
  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right .my-prize {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right .rules .rules-icon,
  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right .my-prize .my-prize-icon {
    width: 24px;
    height: 25px;
    flex-shrink: 0;
  }

  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right .rules .rules-text,
  .lucky-wheel-activity-container-pc-bottom-content .notice-box-right .my-prize .my-prize-text {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 27px;
    text-decoration-line: underline;
    cursor: pointer;
  }

  .notice-box-mb {
    display: none;
  }

  /* 中奖底部内容 移动端*/
  @media screen and (max-width: 768px) {
    .lucky-wheel-activity-container-pc-bottom-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .lucky-wheel-activity-container-pc-bottom-content .notice-box-left {
      display: flex;
      gap: 10px;
      width: 100%;
    }

    .lucky-wheel-activity-container-pc-bottom-content .notice-box-left .notice-icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    .lucky-wheel-activity-container-pc-bottom-content .notice-box-left .notice-content {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      line-height: 1.35;
      overflow: hidden;
      flex: 1;

    }


    .lucky-wheel-activity-container-pc-bottom-content .notice-box-right {
      display: none;

    }

    .lucky-wheel-activity-container-mb .notice-box-mb {
      display: flex;
      margin-top: 22px;
      gap: 22px;
      width: 100%;
    }

    .lucky-wheel-activity-container-mb .notice-box-mb .rules,
    .lucky-wheel-activity-container-mb .notice-box-mb .my-prize {
      display: flex;
      column-gap: 8px;
      align-items: center;
    }

    .lucky-wheel-activity-container-mb .notice-box-mb .rules .rules-icon,
    .lucky-wheel-activity-container-mb .notice-box-mb .my-prize .my-prize-icon {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
    }

    .lucky-wheel-activity-container-mb .notice-box-mb .rules .rules-text,
    .lucky-wheel-activity-container-mb .notice-box-mb .my-prize .my-prize-text {
      font-weight: 400;
      font-size: 16px;
      color: #3D3D3D;
      line-height: 1.6;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }

  /* 未登录 奖品列表 */
  #rules-content,
  #my-prize-content {
    padding: 30px 20px;
    position: relative;
    max-width: 700px;
    width: 700px;
    cursor: auto;
    border-radius: 10px;
  }

  #my-prize-content {
    min-height: 513px;
  }

  #rules-content .rules-content-title,
  #my-prize-content .my-prize-content-title {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: 25px;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: 6px;
    top: 20px;
  }

  #rules-content .rules-content-desc,
  #my-prize-content .my-prize-content-desc {
    margin-top: 16px;
    border-top: 1px solid #f0f0f0;
    padding-top: 16px;
  }

  #rules-content .rules-content-desc-item {
    font-weight: 400;
    font-size: 14px;
    color: #3d3d3d;
    line-height: 20px;
    text-align: left;
  }

  #my-prize-content .my-prize-content-item-not-logged-in,
  .my-prize-content-item-logged-in-no-prizes {
    margin-top: 48px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-prize-content-item-logged-in.has-prizes {
    display: none;
  }

  .my-prize-content-item-logged-in-no-prizes {}

  #my-prize-content .my-prize-content-item-not-logged-in-icon {
    width: 94px;
    height: 94px;
    max-width: 100%;
    margin-bottom: 24px;
  }

  #my-prize-content .my-prize-content-item-not-logged-in-text {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    text-align: center;
  }

  #my-prize-content .my-prize-content-item-not-logged-in .my-prize-content-item-not-logged-in-button {
    color: #ff8f1c;
    cursor: pointer;
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {

    /* 未登录 奖品列表 */
    #rules-content,
    #my-prize-content {
      padding: 30px 20px;
      position: relative;
      max-width: 87.2%;
      width: 87.2%;

      border-radius: 10px;
    }

    #my-prize-content {
      min-height: 370px;
    }

    #rules-content .rules-content-title,
    #my-prize-content .my-prize-content-title {
      font-weight: bold;
      font-size: 16px;
      color: #000000;
      line-height: 1.4;
    }

    .fancybox-slide--html .fancybox-close-small {
      right: 6px;
      top: 20px;
    }

    #rules-content .rules-content-desc,
    #my-prize-content .my-prize-content-desc {
      margin-top: 14px;
      border-top: 1px solid #f0f0f0;
      padding-top: 14px;
    }

    #rules-content .rules-content-desc-item {
      font-weight: 400;
      font-size: 14px;
      color: #3d3d3d;
      line-height: 1.4;
      text-align: left;
    }

    #my-prize-content .my-prize-content-item-not-logged-in,
    .my-prize-content-item-logged-in-no-prizes {
      margin-top: 60px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .my-prize-content-item-logged-in-no-prizes {}

    #my-prize-content .my-prize-content-item-not-logged-in-icon {
      width: 64px;
      height: 64px;
      max-width: 100%;
      margin-bottom: 13px;
    }

    #my-prize-content .my-prize-content-item-not-logged-in-text {
      font-weight: bold;
      font-size: 14px;
      color: #000000;
      line-height: 1.4;
      text-align: center;
    }

    #my-prize-content .my-prize-content-item-not-logged-in .my-prize-content-item-not-logged-in-button {
      color: #ff8f1c;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  /* 已登录 奖品列表 */
  .my-prize-content-item-logged-in {}

  .my-prize-content-item-logged-in .my-prize-content-item-logged-in-item:first-child {
    margin-top: 0;
  }

  .my-prize-content-item-logged-in-item {
    background: #FE8F1C;
    border-radius: 5px;
    padding-top: 10px;
    margin-top: 12px;
  }
  .my-prize-content-item-logged-in-item.expired{
    background-color: rgb(156 163 175);
  }

  .my-prize-content-item-logged-in-item-content {
    background: #FFFDEF;
    border-radius: 0 0 5px 5px;
    padding: 20px 18px 16px 18px;
  }
  .my-prize-content-item-logged-in-item-content.expired{
    background: rgb(249 250 251);
  }

  .my-prize-content-item-logged-in .prize-detail {
    display: flex;
    align-items: start;
    gap: 14px;
  }

  .my-prize-content-item-logged-in .prize-detail .prize-img {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
  }

  .my-prize-content-item-logged-in .prize-detail .prize-img img {
    width: 100%;
    max-width: 100%;
  }

  .my-prize-content-item-logged-in .prize-detail .prize-detail-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
  }

  .my-prize-content-item-logged-in .prize-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .my-prize-content-item-logged-in .prize-name-value {
    font-weight: bold;
    font-size: 20px;
    color: #FF8F1C;
    line-height: 27px;
    text-align: left;
    font-style: normal;
    text-transform: none;
  }
  .my-prize-content-item-logged-in .prize-name-value.expired{
    color: rgb(156 163 175);
  }

  .my-prize-content-item-logged-in .prize-view {
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #FF8F1C;
    padding: 6px 16px;
    font-weight: bold;
    font-size: 14px;
    color: #FF8F1C;
  }
  .my-prize-content-item-logged-in .prize-view.expired{
    border-color: rgb(156 163 175);
    color: rgb(156 163 175);
  }

  .my-prize-content-item-logged-in .prize-view-mb {
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #FF8F1C;
    padding: 6px 16px;
    font-weight: bold;
    font-size: 12px;
    color: #FF8F1C;
    line-height: 1.25;
    display: none;
    margin-top: 10px;
    width: max-content;
  }
  .my-prize-content-item-logged-in .prize-view-mb{
    border-color: rgb(156 163 175);
    color: rgb(156 163 175);
  }

  .my-prize-content-item-logged-in .prize-model {
    font-weight: 400;
    font-size: 16px;
    color: #3D3D3D;
    line-height: 25px;
    text-align: left;
  }

  .my-prize-content-item-logged-in .prize-discount,.my-prize-content-item-logged-in .prize-expiration-date,.my-prize-content-item-logged-in .prize-usage-scope {
    font-weight: 400;
    font-size: 12px;
    color: #3D3D3D;
    line-height: 17px;
    text-align: left;
  }

  .my-prize-content-item-logged-in .copy-icon {
    width: 12px;
    cursor: pointer;
    display: inline-block;
    padding-left: 0;
    height: 12px;
    margin-left: 5px;
  }

  @media screen and (max-width: 768px) {

    /* 已登录 奖品列表 */
    .my-prize-content-item-logged-in {}

    .my-prize-content-item-logged-in .my-prize-content-item-logged-in-item:first-child {
      margin-top: 0;
    }

    .my-prize-content-item-logged-in-item {
      background: #FE8F1C;
      border-radius: 5px;
      padding-top: 10px;
      margin-top: 10px;
    }

    .my-prize-content-item-logged-in-item-content {
      background: #FFFDEF;
      border-radius: 0 0 5px 5px;
      padding: 10px;
    }

    .my-prize-content-item-logged-in .prize-detail {
      display: flex;
      align-items: start;
      gap: 14px;
    }

    .my-prize-content-item-logged-in .prize-detail .prize-img {
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      box-sizing: border-box;
      width: 68px;
      height: 68px;
    }

    .my-prize-content-item-logged-in .prize-detail .prize-img img {
      width: 100%;
      max-width: 100%;
    }

    .my-prize-content-item-logged-in .prize-detail .prize-detail-box {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 0;
    }

    .my-prize-content-item-logged-in .prize-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .my-prize-content-item-logged-in .prize-name-value {
      font-weight: bold;
      font-size: 14px;
      color: #FF8F1C;
      line-height: 1.4;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .my-prize-content-item-logged-in .prize-view {
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #FF8F1C;
      padding: 6px 16px;
      font-weight: bold;
      font-size: 14px;
      color: #FF8F1C;
      display: none;
    }

    .my-prize-content-item-logged-in .prize-view-mb {
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #FF8F1C;
      padding: 6px 16px;
      font-weight: bold;
      font-size: 12px;
      color: #FF8F1C;
      line-height: 1.25;
      display: block;
      margin-top: 10px;
      width: max-content;
    }

    .my-prize-content-item-logged-in .prize-model {
      font-weight: 400;
      font-size: 12px;
      color: #3D3D3D;
      line-height: 1.25;
      text-align: left;
    }

    .my-prize-content-item-logged-in .prize-discount,.my-prize-content-item-logged-in .prize-expiration-date,.my-prize-content-item-logged-in .prize-usage-scope {
      font-weight: 400;
      font-size: 10px;
      color: #3D3D3D;
      line-height: 1.25;
      text-align: left;
      margin-top: 10px;
    }

    .my-prize-content-item-logged-in .copy-icon {
      width: 12px;
      cursor: copy;
      display: inline-block;
    padding-left: 0;
    height: 12px;
    margin-left: 5px;
    }

  }

  /* facebook 群组 */
  .facebook-group-wrapper {
    background: #F8F9FD;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .facebook-group-title {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48.8px;
    /* 122% */
    margin-bottom: 50px;
  }

  .facebook-group-container {
    position: relative;
    max-width: 1200px;
    height: 20.31vw;
    margin: 0 auto;
    border-radius: 20px;
    background: #F5FEFE;
    background: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20250721-155711.png?v=1753084727) no-repeat center / cover;
  }

  .facebook-group-item-box {
    position: absolute;
    top: 50%;
    left: 8.333%;
    transform: translateY(-50%);
  }

  .facebook-group-item-title.pc {
    display: block;
  }

  .facebook-group-item-title.mobile {
    display: none;
  }

  .facebook-group-item-title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 37.8px;
    /* 126% */
    margin-bottom: 10px;
  }

  .facebook-group-item-title>span {
    color: #0164FF;
  }

  .facebook-group-item-subtitle {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    margin-bottom: 20px;
  }

  .facebook-group-item-button {
    display: inline-flex;
    min-height: 46px;
    padding: 8.918px 32px;
    justify-content: center;
    align-items: center;
    gap: 8.918px;
    color: #FFF;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    border-radius: 88.283px;
    background: #0164FF;
    text-decoration: none;
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {
    .facebook-group-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .facebook-group-title {
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    .facebook-group-container {
      position: relative;
      height: 128.53vw;
      border-radius: 0;
      background: #F5FEFE;
      background: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20250721-155808.png?v=1753084727) no-repeat center / cover;
    }

    .facebook-group-item-box {
      position: static;
      width: 100%;
      transform: none;
      text-align: center;
      padding-top: 50px;
    }

    .facebook-group-item-title.pc {
      display: none;
    }

    .facebook-group-item-title.mobile {
      display: block;
    }

    .facebook-group-item-title {
      font-size: 20px;
      line-height: 1.3;
      /* 126% */
      margin-bottom: 0;
    }

    .facebook-group-item-subtitle {
      margin-bottom: 14px;
    }

    .facebook-group-item-button {
      display: inline-flex;
      min-height: 46px;
      padding: 8.918px 32px;
      justify-content: center;
      align-items: center;
      gap: 8.918px;
      color: #FFF;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      border-radius: 88.283px;
      background: #0164FF;
      text-decoration: none;
      box-sizing: border-box;
    }
  }

  /* FAQ start*/
  .ugc-faq-wrapper {
    background: #F8F9FD;
    padding-bottom: 100px;
  }

  .ugc-faq-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .ugc-faq-container-title {
    color: #000;
    text-align: center;


    font-size: 40px;

    font-weight: 800;
    line-height: 1.22;
    /* 122% */
    margin-bottom: 50px;
  }

  .ugc-faq-container-content {
    display: flex;
    flex-direction: column;
  }

  .ugc-faq-container-content-item {
    padding: 24px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.40);


  }

  .ugc-faq-container-content-item-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .ugc-faq-container-content-item-question-title {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.38;
    /* 138% */
  }

  .ugc-faq-container-content-item-question-icon-plus {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 20px;

  }

  .ugc-faq-container-content-item-question-icon-minu {
    width: 18px;
    height: 18px;
    margin-left: 20px;
    flex-shrink: 0;
    display: none;
  }

  .ugc-faq-container-content-item.active .ugc-faq-container-content-item-question-icon-minu {
    display: block;
  }

  .ugc-faq-container-content-item.active .ugc-faq-container-content-item-question-icon-plus {
    display: none;
  }

  .ugc-faq-container-content-item:nth-child(1) {
    padding-top: 0;
  }

  .ugc-faq-container-content-item-answer {
    display: none;

  }

  .ugc-faq-container-content-item.active .ugc-faq-container-content-item-answer {
    display: flex;
    flex-direction: column;
  }

  .ugc-faq-container-content-item-answer-item {
    color: #2C2D2E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
    padding-right: 100px;
  }

  .ugc-faq-container-content-item-answer-item:nth-child(1) {
    padding-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .ugc-faq-wrapper {

      padding-bottom: 30px;
    }

    .ugc-faq-container {
      max-width: 1248px;
      margin: 0 auto;
      padding: 0 24px;
    }

    .ugc-faq-container-title {



      font-size: 26px;


      line-height: 1.3;
      /* 122% */
      margin-bottom: 14px;
    }

    .ugc-faq-container-content {
      display: flex;
      flex-direction: column;
    }

    .ugc-faq-container-content-item {
      padding: 20px 0;
    }

    .ugc-faq-container-content-item:last-child {
      border-bottom: none;
    }

    .ugc-faq-container-content-item-question {
      align-items: start;
      cursor: pointer;
    }

    .ugc-faq-container-content-item-question-title {

      font-size: 14px;

      line-height: 1.4;
      /* 138% */
    }

    .ugc-faq-container-content-item-question-icon-plus {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      margin-left: 10px;

    }

    .ugc-faq-container-content-item-question-icon-minu {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      margin-left: 10px;
      display: none;
    }

    .ugc-faq-container-content-item.active .ugc-faq-container-content-item-question-icon-minu {
      display: block;
    }

    .ugc-faq-container-content-item.active .ugc-faq-container-content-item-question-icon-plus {
      display: none;
    }

    .ugc-faq-container-content-item:nth-child(1) {
      padding-top: 0;
    }

    .ugc-faq-container-content-item-answer {
      display: none;

    }

    .ugc-faq-container-content-item.active .ugc-faq-container-content-item-answer {
      display: flex;
      flex-direction: column;
    }

    .ugc-faq-container-content-item-answer-item {
      color: #2C2D2E;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      /* 140% */
      padding-right: 30px;
    }

    .ugc-faq-container-content-item-answer-item:nth-child(1) {
      padding-top: 14px;
    }
  }

  /* FAQ end*/
  /* 移动端 中奖弹窗 start*/
  #pop-up-box-after-winning {
    width: 82.2vw;
    min-height: 427px;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 64px 16px 30px 16px;
    background: linear-gradient(180deg, #FFE5E3 0.38%, #FFF 80.54%);
  }

  #pop-up-box-after-winning .fancybox-slide--html .fancybox-close-small {
    right: 12px;
    top: 12px;
    padding: 0;
    width: 22px;
    height: 22px;
  }

  .pop-up-box-after-winning-wrapper-title-box {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }

  .pop-up-box-after-winning-wrapper-title-box-text {
    color: #000;
    text-align: center;

    font-size: 20px;

    font-weight: 700;
    line-height: 1.3;
    /* 133% */
  }

  .pop-up-box-after-winning-wrapper-title-box-left-icon,
  .pop-up-box-after-winning-wrapper-title-box-right-icon {
    width: 32px;
    height: 33px;
  }

  .pop-up-box-after-winning-wrapper-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;


    font-size: 14px;

    font-weight: 400;
    line-height: 1.4;
    /* 140% */
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .pop-up-box-after-winning-wrapper-prize-img {
    width: 135px;
    min-height: 92px;
    padding: 16px 10px 16px 10px;
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .pop-up-box-after-winning-wrapper-prize-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 20px;
  }

  .pop-up-box-after-winning-wrapper-prize-content-title {
    color: #000;
    text-align: center;


    font-size: 16px;

    font-weight: 700;
    line-height: 1.4;
    /* 140% */
  }

  .pop-up-box-after-winning-wrapper-prize-content-desc {
    color: #6D6D6D;
    text-align: center;


    font-size: 12px;

    font-weight: 400;
    line-height: 1.4;
    /* 140% */
  }

  .pop-up-box-after-winning-wrapper-prize-discount-box {
    width: 100%;
    min-height: 65px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFE6E4;
    padding: 12px 12px 12px 17px;
    display: flex;
    flex-direction: column;
    gap: 4px;

  }

  .pop-up-box-after-winning-wrapper-prize-discount-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .pop-up-box-after-winning-wrapper-prize-discount-box-top-name {
    color: #000;

    font-size: 14px;

    font-weight: 400;
    line-height: 1.4;
    /* 140% */
  }

  .pop-up-box-after-winning-wrapper-prize-discount-box-copy-icon {
    width: 30px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .pop-up-box-after-winning-wrapper-prize-discount-box-code {
    color: #3D3D3D;


    font-size: 12px;

    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
  }

  /* 移动端 中奖弹窗 end*/


      /* diy-printer-game 打印小游戏  start*/
    .diy-printer-game-wrapper {
      background-color: #fff;
      padding-bottom: 100px;
    }
    .diy-printer-game-container {
      max-width: 1248px;
      margin: 0 auto;
      padding: 0 24px;
    }
    .diy-printer-game-container-content {
      display: flex;
      align-items: center;
      gap: 80px;
      overflow: hidden;
      border-radius: 20px;
      background: #fffbf5;
    }
    .diy-printer-game-container-content-img {
      display: flex;
      width: 594px;
      aspect-ratio: 99 / 65;
      flex-shrink: 0;
    }
    .diy-printer-game-container-content-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 80px;
    }
    .diy-printer-game-container-content-box-title {
      color: #000;
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      line-height: 1.22; /* 122% */
      margin-bottom: 20px;
    }
    .diy-printer-game-container-content-box-desc {
      color: #3d3d3d;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: 35px;
    }
    .diy-printer-game-container-content-box-desc span {
      color: #ff8f1c;
      font-family: Mulish;
      font-size: 24px;

      font-weight: 700;
      line-height: 1.25;
    }
    .diy-printer-game-container-content-box-button {
      display: flex;
      min-width: 166px;
      min-height: 46px;
      padding: 10px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 99px;
      background: #ff8f1c;
      color: #fff;

      font-size: 16px;

      font-weight: 700;
      line-height: 1.4; /* 140% */
      cursor: pointer;
    }
    .diy-printer-game-container-content-box-button:hover,.diy-printer-game-container-content-box-button:focus{
      color:#fff;
    }
@media (max-width: 768px) {
    .diy-printer-game-wrapper {
 
      padding-bottom: 0
    }
    .diy-printer-game-container {
      max-width: 100%;
      padding: 0;
    }
    .diy-printer-game-container-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 50px 24px;
      overflow: hidden;
      border-radius: 0;
      background: #fffbf5;
    }
    .diy-printer-game-container-content-img {
      display: flex;
      width: 100%;
      border-radius: 10px;
      aspect-ratio: 99 / 65;
      flex-shrink: 0;
      overflow: hidden;
    }
    .diy-printer-game-container-content-box {

        padding: 0 12px;
    }
    .diy-printer-game-container-content-box-title {

      font-size: 24px;

      line-height: 1.33; /* 122% */
      margin-bottom: 8px;
    }
    .diy-printer-game-container-content-box-desc {
 
      font-size: 14px;
  
      line-height: 1.25;
      margin-bottom: 20px;
    }
    .diy-printer-game-container-content-box-desc span {

      font-size: 16px;

 
      line-height: 1.25;
    }
    .diy-printer-game-container-content-box-button {
      display: flex;
      min-width: 156px;
      min-height: 38px;
      padding: 10px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 99px;
      background: #ff8f1c;
      color: #fff;

      font-size: 16px;

      font-weight: 700;
      line-height: 1.4; /* 140% */
      cursor: pointer;
    }
}  
      /* diy-printer-game 打印小游戏  end*/