.vf13pro-0719-content {
    margin: 0 auto;
}

.hot-selling {
    background-color: #FBF5E8;
    padding: 103px 0 100px;
}

.hs-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hs-title,
.cr-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hs-title .title,
.cr-title .title {
    font-size: 34px;
    font-weight: bold;
    line-height: 56px;
    margin: 0 20px;
}

.cr-title .title {
    margin: 0 10px;
}

.hs-title .title-img-l img {
    max-height: 62px;
    width: auto;
}

.hs-title .title-img-r img {
    max-height: 70px;
    width: auto;
}

.cr-title .title-img-l img {
    max-height: 75px;
    width: auto;
}

.cr-title .title-img-r img {
    max-height: 61px;
    width: auto;
}

.hs-product {
    overflow: hidden;
    margin-top: 44px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hot-selling .product-box {
    display: grid;
    grid-template-columns: 60% 40%;
}

.box-l {
    display: flex;
}

.box-l .l-video {
    display: flex;
}

.box-l .l-video video {
    width: 100%;
    height: auto;
}

.box-r {
    position: relative;
}

.r-content {
    background-color: #fff;
    padding: 0 23px 36px;
    overflow: hidden;
}

.r-sale {
    max-width: 70px;
    position: absolute;
    top: 0;
    left: 23px;
}

.r-content img.r-img {
    margin-top: -55px;
}

.r-content p.r-title {
    margin: -90px 0 0;
    font-size: 22px;
    line-height: 26px;
}

.r-price {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.r-price .new-price {
    font-size: 28px;
    font-weight: bold;
    line-height: 24px;
    margin-right: 10px;
}

.r-price .old-price {
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
}

.btn-info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn-adt {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-adt span.adt-info {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 8px 14px 8px 23px;
    background-color: #FFF10C;
    white-space: nowrap;
}

.btn-adt span.adt-icon {
    display: flex;
    padding: 6px 23px 6px 13px;
    background-color: #FFB027;
}

.btn-adt span.adt-icon svg {
    height: 18px;
}

a.btn-r {
    color: #1677FF;
    font-size: 10px;
    line-height: 13px;
    text-decoration: none;
}

.choices-reach {
    padding: 75px 0 100px;
    background-color: #F8F9FD;
}

.choices-reach .swiper1 {
    margin-top: 35px;
}

.swiper1 .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.3;
}

.thumbs-box {
    max-width: 329px;
    margin: 0 auto;
}

.swiper2 {
    margin-top: 40px;
}

.swiper2 .swiper-slide {
    width: auto;
    cursor: pointer;
    margin-right: 20px;
    padding: 0 0 11px 0;
    font-size: 17px;
    line-height: 20px;
    color: #b4b4b4;
}

.swiper2 .swiper-slide:last-child {
    margin-right: 0;
}

.swiper2 .swiper-wrapper {
    position: relative;
    justify-content: space-between;
}

.swiper2 .swiper-wrapper::after {
    content: '';
    background: #D9D9D9;
    width: 343px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    display: inline-block;
}

.swiper2 .swiper-slide.swiper-slide-thumb-active {
    border-bottom: 1px solid #000;
    font-weight: bold;
    color: #000;
    z-index: 2;
}

.sale-campaign {
    background-color: #F8F9FD;
    padding-bottom: 120px;
}

.sc-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.sc-title .title {
    font-size: 34px;
    line-height: 56px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.sc-content {
    overflow: hidden;
    background-color: #fff;
    padding: 60px 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sale-text p {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin: 0;
}

.sale-text span {
    display: block;
    color: #000;
    font-size: 20px;
    line-height: 24px;
}

.sale-text .mgbt30 {
    margin-bottom: 20px;
}

@media screen and (max-width:1248px) {

    .hot-selling,
    .choices-reach,
    .sale-campaign {
        padding-left: 24px;
        padding-right: 24px;
    }

    .r-content p.r-title {
        margin: -50px 0 0;
        font-size: 18px;
    }

    .r-sale {
        max-width: 50px;
        position: absolute;
        top: 0;
        left: 20px;
    }
}


@media screen and (max-width:768px) {
    .hot-selling {
        padding: 34px 24px 30px;
    }

    .hs-title .title-img-l img,
    .hs-title .title-img-r img {
        max-height: 24px;
    }

    .hs-title .title,
    .cr-title .title {
        text-align: center;
        max-width: 160px;
        font-size: 24px;
        line-height: 28px;
        margin: 0 5px;
    }

    .cr-title {
        align-items: baseline;
    }

    .choices-reach .swiper1 {
        margin-top: 18px;
    }

    .choices-reach .swiper2 {
        margin-top: 20px;
    }

    .swiper2 .swiper-slide {
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 13px;
        margin: 0;
    }

    .hs-product {
        margin-top: 18px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .hot-selling .product-box {
        display: flex;
        flex-direction: column;
    }

    .r-content {
        padding: 0 20px 20px;
        margin: 0 auto;
        text-align: center;
    }

    .r-content img.r-img {
        margin-top: -33px;
        max-width: 210px;
        text-align: center;
    }

    .r-content p.r-title {
        margin: -42px 0 0;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }

    .r-price {
        margin-top: 10px;
        justify-content: center;
    }

    .r-price .new-price {
        font-size: 20px;
        line-height: 14px;
        margin-right: 6px;
    }

    .r-price .old-price {
        font-size: 10px;
        line-height: 14px;
    }

    .btn-adt {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .btn-info {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-adt span.adt-info {
        padding: 14px 62px 12px;
        font-size: 14px;
        line-height: 18px;
    }

    .btn-adt span.adt-icon {
        padding: 14px 40px 12px;
    }

    a.btn-r {
        margin-top: 10px;
    }

    .sale-campaign {
        padding-bottom: 46px;
    }

    .cr-title .title-img-l img {
        max-height: 31px;
    }

    .cr-title .title-img-r img {
        max-height: 26px;
    }

    .choices-reach {
        padding: 25px 24px 30px;
    }

    .sc-title .title {
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        margin-bottom: 18px;
    }

    .sc-content {
        padding: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .sale-text p {
        font-size: 14px;
        line-height: 18px;
    }

    .sale-text span {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
    }
}