li {
    list-style: none;
}

.support-0416-content {
    margin: 0 auto;
}

.s-banner {
    position: relative;
    background-color: #EAF1F6;
    width: 100%;
    min-height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-banner h3 {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
}

.s-banner .bottom,
.s-banner .top {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.s-banner .bottom {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(50%);
    width: 220px;
    height: 220px;
    border: 55px solid #DA291C;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.s-banner .top {
    position: absolute;
    top: 0;
    right: 15%;
    transform: translateY(-50%);
    width: 140px;
    height: 140px;
    border: 35px solid #DA291C;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.s-tab {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0 100px;
}

.title-box {
    position: relative;
}

.s-tab .tab-title {
    display: flex;
    justify-content: center;
}

.title-item {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #B0B0B0;
    padding: 0 15px;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
    z-index: 1;
}

.title-item.active {
    color: #000;
    border-bottom: 2px solid #DA291C;
}

.title-item:hover {
    color: #000;
    border-bottom: 2px solid #DA291C;
}

.tab-title-span {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

.s-tab .content-box {
    padding-top: 40px;
}

.mod-box {
    display: none;
    max-width: 848px;
    margin: 0 auto;
}

.content-box .mod-box:first-child {
    display: block;
}

.tab-mod {
    display: flex;
    flex-wrap: wrap;
}

.tab-mod .item-link:hover {
    color: inherit;
}

.mod-item {
    margin: 6px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mod-item .item-text {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.item-img {
    margin: 0 auto;
    padding: 0;
    max-width: 180px;
}

.s-faqs {
    max-width: 1200px;
    margin: 0 auto 100px;
}

.faqs-box {
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 60px 40px;
}

.faqs-title {
    text-align: center;
    margin-bottom: 60px;
}

.faqs-title h3.title {
    color: #000;
    margin: 0 0 15px;
    font-size: 34px;
    line-height: 1;
    font-weight: bold;
}

.faqs-title div.spec {
    font-size: 20px;
    line-height: 24px;
}

.faqs-title div.spec p {
    color: #000;
    margin: 0;
    line-height: 1.25;
}

.faqs {
    display: flex;
}

.faqs-tab {
    width: 30%;
    border-right: 1px solid #ccc;
}

.faqs-content {
    width: 70%;
    padding: 0 40px;
}

.faqs-tab .tab-ul {
    margin: 0;
}

.li-item {
    font-size: 30px;
    line-height: 1;
    color: #b0b0b0;
    cursor: pointer;
    padding: 15px 0;
}

.tab-ul .li-item:first-child {
    padding-top: 0;
}

.li-item:hover {
    color: #000;
    font-weight: bold;
}

.li-active {
    font-weight: bold;
    color: #000;
}

.faq-q {
    padding: 20px 0 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

.faq-a {
    color: #000;
    font-size: 20px;
    line-height: 1.2;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faqs-mod .faq-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.faqs-mod .faq-item:first-child .faq-q {
    padding-top: 0;
}

.s-online {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.online-title h3.title {
    color: #000;
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
}

.online-title div.spec p {
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.online-title div.spec p span {
    font-weight: bold;
    color: #000;
}

.s-time-table {
    margin: 60px 0;
}

.time-table {
    font-size: 20px;
    color: #000;
    border: none;
    background-color: #fff;
    text-align: center;
    margin: 0;
    border-radius: 20px;
}

.time-table tr td {
    border: 1px solid #F5F5F5;
    padding: 15px 0;
}

.time-table .bg0 {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.time-table .fw {
    font-weight: bold;
}

.time-table tr:first-child td {
    padding: 10px 0;
}

.time-table tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

.time-table.t-pc tr td:first-child,
.time-table.t-mb tr:first-child {
    background-color: #000;
    color: #fff;
}

.s-info {
    display: flex;
    margin-bottom: 120px;
}

.s-info .info-item {
    border-radius: 20px;
    background-color: #fff;
    width: 50%;
    text-align: left;
    margin: 0;
    padding: 60px 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.s-info .info-item p {
    margin: 0;
    line-height: 1.5;
    color: #000;
}

.s-info .info-item p.info-t {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
}

.info-spec p span {
    color: #000;
    font-weight: bold;
}

.s-info .info-item:first-child {
    margin-right: 10px;
}

.s-info .info-item:last-child {
    margin-left: 10px;
}

.select-tab {
    display: none;
}

.select-tab {
    max-width: 375px;
    margin: 0 auto;
}

.select-box {
    position: relative;
}

.dropbtn {
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 15px 16px;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    font-family: Italian Plate No2 Expanded;
}

.drop-svg {
    width: 16px;
    line-height: 1;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 3px;
    z-index: 1;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    text-align: center;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
    cursor: pointer;
}

.faqs-mod {
    display: none;
}

.f-drop {
    margin-bottom: 15px;
}

.t-mb {
    display: none;
    font-size: 14px;
}

@media screen and (max-width:878px) {
    .support-0416-content {
        margin: 0 24px;
    }

    .time-table {
        font-size: 14px;
        line-height: 1.5;
        border-radius: 15px;
    }

    .time-table tr:first-child td {
        padding: 11px 26px;
    }

    .time-table tr:first-child td:last-child {
        border-top-right-radius: 12px;
    }

    .s-info .info-item {
        border-radius: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:1440px) {
    .s-banner .bottom {
        left: 5%;
    }

    .s-banner .top {
        right: 10%;
    }

    .li-item {
        font-size: 26px;
    }
}

@media screen and (min-width:654px) and (max-width:878px) {
    .item-link {
        width: 33.333%;
    }

    .mod-item {
        width: auto;
        height: auto;
    }

    .item-img {
        margin: 0 auto;
    }

    .faqs-content {
        padding: 0 20px;
    }
}

@media screen and (min-width:427px) and (max-width:878px) {
    .faqs-box {
        padding: 30px 15px;
    }

    .s-banner .bottom {
        left: 5%;
    }

    .s-banner .top {
        right: 10%;
    }

    .s-banner h3 {
        font-size: 26px;
        text-align: center;
    }

    .faqs-title {
        margin-bottom: 20px;
    }

    .faqs-title h3.title,
    .online-title h3.title {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .faqs-title div.spec,
    .online-title div.spec p {
        font-size: 14px;
        line-height: 1.25;
    }

    .title-item {
        font-size: 18px;
    }

    .li-item {
        font-size: 20px;
        padding: 10px 0;
    }

    .faq-q {
        font-size: 18px;
    }

    .faq-a {
        font-size: 14px;
        line-height: 1.25;
    }

    .time-table tr td {
        padding: 10px 26px;
    }

    .s-info .info-item:first-child {
        margin-right: 5px;
    }

    .s-info .info-item:last-child {
        margin-left: 5px;
    }

    .s-info .info-item {
        padding: 20px;
        margin: 0;
    }

    .s-info .info-item p.info-t {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .s-info .info-item p {
        font-size: 16px;
    }
}

@media screen and (max-width: 427px) {
    .time-table tr td {
        padding: 15px;
    }
}

@media screen and (max-width:653px) {
    .s-banner {
        overflow: hidden;
    }

    .s-banner .bottom {
        left: -30%;
    }

    .s-banner .top {
        right: -18%;
    }

    .s-banner h3 {
        font-size: 26px;
        text-align: center;
    }

    .support-0416-content {
        margin: 0 24px;
    }

    .s-tab .tab-title,
    .tab-title-span {
        display: none;
    }

    .mod-item {
        width: auto;
    }

    .select-tab {
        display: block;
        max-width: 100%;
    }

    .s-tab .content-box {
        padding: 24px 0 0;
    }

    .faqs-tab {
        display: none;
    }

    .faqs-title,
    .online-title {
        text-align: left;
    }

    .faqs-box {
        padding: 20px;
        margin: 0;
        border-radius: 10px;
    }

    .faqs-content {
        width: 100%;
        padding: 0;
    }

    .faq-q {
        padding: 20px 0 10px;
    }

    .faq-item {
        padding-bottom: 20px;
    }

    .s-faqs {
        margin-bottom: 20px;
    }

    .s-info {
        flex-direction: column;
        margin-bottom: 46px;
    }

    .s-info .info-item {
        width: 100%;
        margin: 0;
        padding: 20px;
        font-size: 14px;
    }

    .s-info .info-item:first-child {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .s-info .info-item:last-child {
        margin-left: 0;
    }

    .s-time-table {
        margin: 20px 0;
    }

    .t-pc {
        display: none;
    }

    .t-mb {
        display: block;
    }

    .item-link {
        width: 50%;
    }

    .mod-item {
        width: auto;
        height: auto;
    }

    .title-item {
        font-size: 16px;
        padding: 0 8px;
        margin: 0 8px;
    }

    .s-tab {
        padding: 34px 0 20px;
    }

    .mod-item .item-text {
        font-size: 16px;
        line-height: 1;
        padding: 0 0 28px;
    }

    .item-img {
        max-width: 156px;
    }
}

@media screen and (max-width:475px) {
    .support-0416-content {
        max-width: 375px;
        margin: 0 auto;
    }

    .faqs-title,
    .online-title {
        text-align: left;
    }

    .s-time-table {
        margin: 20px 0;
    }

    .s-info .info-item {
        width: 100%;
        margin: 0;
    }

    .s-info {
        flex-direction: column;
        margin-bottom: 46px;
    }

    .s-info .info-item:first-child {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .s-info .info-item:last-child {
        margin-left: 0;
    }

    .faqs-title {
        margin-bottom: 20px;
    }

    .faqs-title h3.title,
    .online-title h3.title {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .faqs-title div.spec,
    .online-title div.spec p {
        font-size: 14px;
        line-height: 1.25;
    }

    .title-item {
        font-size: 18px;
    }

    .li-item {
        font-size: 20px;
        padding: 10px 0;
    }

    .faq-q {
        font-size: 18px;
    }

    .faq-a {
        font-size: 14px;
        line-height: 1.25;
    }

    .dropdown-content {
        margin-top: 0;
        top: 57px;
    }

    .s-info .info-item p {
        font-size: 14px;
    }

    .s-info .info-item p.info-t {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 1;
    }
}

@media screen and (max-width:423px) {
    .support-0416-content {
        max-width: 100%;
        margin: 0 24px;
    }

    .mod-item img {
        border-radius: 10px;
    }
}

@media screen and (min-width:879px) and (max-width:1248px) {
    .support-0416-content {
        max-width: 100%;
        margin: 0 24px;
    }
}