.sales-event-page {
  background-color: #EBF3FE; 
}

.gift-cards-section {
  padding: 120px 0;
  @media (max-width: 770px) {
    padding: 34px 24px 30px 24px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 67px;
    @media (max-width: 770px) {
      text-align: left;
      font-size: 24px;
      margin-bottom: 18px;
    }
  }
  .section-wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
    .flex-wrapper {
      display: flex;
      gap: 24px;
      @media (max-width: 770px) {
        flex-direction: column;
        gap: 10px;
      }
    }
    .card {
      width: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 34px 0 30px 0;
      border-radius: 10px;
      gap: 16px;
      align-items: center;
      .img-wrapper {
        width: 161px;
        flex-shrink: 0;
        flex-grow: 0;
        img {
          width: 100%;
        }
      }
      @media (max-width: 770px) {
        flex-direction: row;
        padding: 21px 18px 21px 18px;
        gap: 14px;
        .img-wrapper {
          width: 120px;
        }
      }
      .info-wrapper {
        h4 {
          color: #3C82FE;
          margin-bottom: 0;
          font-size: 24px;
          line-height: 29px;
        }
        p {
          margin-bottom: 0;
          margin-top: 18px;
          font-size: 16px;
          line-height: 19px;
        }
        @media (max-width: 770px) {
          text-align: left;
          h4 {
            margin-top: 9px;
            font-size: 20px;
            line-height: 20px;
          }
          p {
            margin-top: 10px;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
    .gift-card-decor {
      position: absolute;
      &.decor-0 {
        bottom: -30px;
        left: -26px;
      }
      &.decor-1 {
        right: 0px;
        top: -25px;
      }
      &.decor-2 {
        right: -30px;
        top: 15px;
      }
      @media (max-width: 770px) {
        &.decor-0 {
          height: 19px;
          top: -50px;
          left: 100px;
        }
        &.decor-1 {
          height: 20px;
          top: -7px;
        }
        &.decor-2 {
          height: 10px;
          right: -9px;
          top: 15px;
        }
      }
    }
  }
}

.sale-list-section {
  .section-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @media (max-width: 770px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 24px;
    }
    .products-grid-item {
      background-color: white;
      display: flex;
      flex-direction: row;
      padding: 42px 31px 46px 31px;
      border-radius: 20px;
      gap: 27px;
      .img-wrapper {
        width: 220px;
        flex-shrink: 0;
        align-content: center;
      }
      .products-grid-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      h3 {
        font-size: 22px;
        line-height: 26px;
      }
      p {
        font-size: 32px;
        .crt-price {
          color: #DA291C;
        }
        .compare {
          color: #666666;
          text-decoration: line-through;
          margin-left: 20px;
        }
      }
      .shop-btn {
        background-color: #FFF10C;
        border-radius: 20px;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        #quantity {
          display: none;
        }
        input[type=submit] {
          background-color: transparent;
          color: black;
          font-size: 12px;
          font-weight: bold;
          height: 100%;
          width: 100%;
          padding: 0;
        }
      }
      @media (max-width: 770px) {
        padding: 20px;
        border-radius: 10px;
        gap: 24px;
        .img-wrapper {
          width: 116px;
        }
        h3 {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 20px;
        }
        .shop-btn {
          width: 76px;
          height: 24px;
          font-size: 10px;
          line-height: 24px;
        }
      }
    }
  }
}

.event-intro-section {
  padding: 120px 0;
  @media (max-width: 770px) {
    padding: 30px 24px 46px 24px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 67px;
    @media (max-width: 770px) {
      text-align: left;
      font-size: 24px;
      margin-bottom: 18px;
    }
  }
  .section-wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 60px 40px;
    font-size: 20px;
    line-height: 24px;
    @media (max-width: 770px) {
      text-align: left;
      font-size: 14px;
      line-height: 18px;
      border-radius: 10px;
      padding: 20px;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    p {
      margin: 0;
    }
    .grey-text {
      color: #666;
    }
  }
}