@media (min-width: 768px) and (max-width: 1000px) {
    .distributor-banner {
        height: 339px !important;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .distributor-banner {
        height: 376px !important;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .distributor-banner {
        height: 397px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .distributor-banner {
        height: 479px !important;
    }
}

@media (min-width: 1300px) and (max-width: 1400px) {
    .distributor-banner {
        height: 527px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .distributor-banner {
        height: 568px !important;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .distributor-banner {
        height: 600px !important;
    }
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .distributor-banner {
        height: 600px !important;
    }
}

@media (min-width: 1700px) and (max-width: 1800px) {
    .distributor-banner {
        height: 617px !important;
    }
}

@media (min-width: 1800px) and (max-width: 1900px) {
    .distributor-banner {
        height: 662px !important;
    }
}

@media (min-width: 1900px) and (max-width: 2000px) {
    .distributor-banner {
        height: 697px !important;
    }
}

@media (min-width: 2000px) and (max-width: 2100px) {
    .distributor-banner {
        height: 724px !important;
    }
}

@media (min-width: 2100px) and (max-width: 2200px) {
    .distributor-banner {
        height: 774px !important;
    }
}

@media (min-width: 2200px) and (max-width: 2300px) {
    .distributor-banner {
        height: 818px !important;
    }
}

@media (min-width: 2300px) and (max-width: 2400px) {
    .distributor-banner {
        height: 829px !important;
    }
}

@media (min-width: 2400px) and (max-width: 2500px) {
    .distributor-banner {
        height: 884px !important;
    }
}

@media (min-width: 2500px) {
    .distributor-banner {
        height: 900px !important;
    }
}

@media (max-width: 768px) {
    .distributor-banner {
        height: 232px !important;
    }
}

.globo-form-id-27527 .globo-form-app .globo-label,
.globo-form-id-27527 .globo-form-app .globo-form-control label.globo-label,
.globo-form-id-27527 .globo-form-app .globo-form-control label.globo-label span.label-content {
    font-weight: bold;
}

.distributor .distributor-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13rem 0;
    cursor: pointer;
}

@media (max-width: 768.5px) {
    .distributor .distributor-banner:not(html) {
        height: 35vh;
        padding: 1rem 0;
    }

    .distributor-banner .title:not(html) {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .distributor-banner .subtitle:not(html) {
        font-size: .85rem;
    }
}

.distributor .distributor-banner .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
}

.distributor-banner .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.distributor-banner .subtitle {
    text-align: center;
    max-width: 90%;
    line-height: 1.3;
    font-size: 1.125rem;
}

@media (min-width: 768.5px) {
    .distributor-banner .subtitle {
        max-width: 60%;
        line-height: 1.5;
    }
}

.apply-button {
    margin: 0;
    background: #da291c;
    padding: .5rem 1.5rem;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-size: .875rem;
    font-weight: bold;
}

.distributor .sections {
    max-width: 1380px;
    margin: 0 auto;
}

.globo-form-app {
    margin-top: 20px;
}

@media (max-width: 768.5px) {
    .globo-form-app {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .distributor .sections {
        padding: 0 35px calc(60px - 20px) calc(3.1rem - 20px);
    }

    .globo-form-app.boxed-layout:not(html):not(p) {
        padding: 60px 40px !important;
    }
}

@media (max-width: 768px) {
    .distributor .sections {
        padding: 0 24px 20px 24px;
    }
}

.distributor .section-headers {
    text-align: center;
    /* padding: 5rem 0; */
    padding-top: 6.5rem;
    padding-bottom: 3.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.distributor .section-headers .section-header-1 {
    font-weight: bold;
    font-size: 2.125rem;
}

.distributor .section-headers .section-header-2 {
    line-height: 1.2;
    max-width: 450px;
}

.section-cards {
    display: flex;
    flex-direction: row;
    
}

@media (min-width: 768.5px) {
    .section-cards {
        gap: 20px;
    }

    .section-card:not(html):not(p) {
        width: calc(25% - 10px) !important;
    }
}

@media (max-width: 768.5px) {
    .section-cards {
        gap: 15px;
    }

    .section-card:not(html):not(p) {
        width: calc(50% - 7.5px) !important;
    }
}

@media (max-width: 768.5px) {
    .section-cards {
        flex-wrap: wrap;
    }

    .section-card:not(html) {
        width: calc(50% - 0.65rem) !important;
        padding: 1rem .75rem;
    }

    .section-card-icon img:not(html) {
        height: 50px;
    }

    .section-card .section-card-title:not(html) {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
}

.section-card {
    background: #da291c;
    color: white;
    text-align: center;
    width: 25%;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 768.5px) {
    .section-card {
        border-radius: 10px;
    }
}

@media (min-width: 768.5px) {
    .section-card {
        border-radius: 20px;
    }
}

.section-card-inner {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    text-align: center;
    padding: 0 0rem calc(6.5rem - 30px - 19.6px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768.5px) {
    .form:not(html) {
        padding-top: 0;
        padding-bottom: calc(46px - 24px);
    }
    
    .form .form-inner:not(html) {
        border-radius: 10px;
    }
}

.form .form-inner {
    /* color: white; */
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}


.section-card .section-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-card .section-card-content {
    font-size: 20px;
    line-height: 1.2;
    padding: 0 45px;
}

@media (max-width: 768.5px) {
    .section-card .section-card-content:not(html) {
        font-size: 14px;
    }

    .section-card .section-card-title:not(html) {
        font-size: 16px;
    }
}

section.how-to {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    margin-top: 6rem;
}

@media (min-width: 1200px) {
    section.how-to {
        height: 500px;
    }
}

@media (min-width: 768.5px) and (max-width: 1200px) {
    section.how-to {
        height: 400px;
    }
}

section.how-to .right p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768.5px) {
    section.how-to:not(html) {
        height: initial;
        flex-direction: column;
        gap: 0;
        margin-top: 2rem;
    }

    section.how-to .left:not(html) {
        height: 300px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    section.how-to .right:not(html) {
        padding: 1.5rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    section.how-to .right h1:not(html) {
        font-size: 1.5rem;
    }

    section.how-to .left,
    section.how-to .right {
        width: 100% !important;
    }
}

section.how-to .left,
section.how-to .right {
    border-radius: 20px;
    width: 50%;
}

section.how-to .left {
    display: block;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.how-to .right {
    background: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.how-to .right h1 {
    font-size: 2rem;
    margin: 0;
}

strong:not(html) {
    font-weight: bold;
}

section.join {
    display: flex;
    align-items: stretch;
    height: 400px;
    gap: 1rem;
}

@media (max-width: 768.5px) {
    section.join {
        height: initial;
    }

    section.join .left,
    section.join .right {
        height: 170px;
        width: calc(50% - .5rem) !important;
    }

    section.join .signup-button:not(html) {
        border: none;
        background: black;
        color: white;
        bottom: .5rem;
        width: calc(100% - 1rem);
    }
}

section.join .left,
section.join .right {
    border-radius: 20px;
    background: white;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.join .left .image-section,
section.join .right .image-section {
    display: flex;
    height: 80%;
    align-items: center;
}

.signup-button {
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid #eaf1f6;
    padding: 0.75rem 1.5rem;
    font-size: .9rem;
    background: white;
}

section.join .left .signup-button-section,
section.join .right .signup-button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

@media (max-width: 768.5px) {

    section.join .left .signup-button-section,
    section.join .right .signup-button-section {
        height: 40%;
        width: 100%;
    }

    section.join .left .image-section,
    section.join .right .image-section {
        width: 80%;
    }
}

section.faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

@media (max-width: 768.5px) {
    section.faq {
        background: white;
        padding: 1.5rem;
        border-radius: 20px;
    }

    section.faq .faq-obj .faq-obj-head {
        font-weight: bold;
    }

    section.faq .faq-obj:last-child {
        border-bottom: none;
    }
}

section.faq .faq-obj .faq-obj-head {
    width: 100%;
    padding-bottom: 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
}

section.faq .faq-obj {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

section.faq .faq-obj .faq-obj-head .spacer {
    flex: 1;
}

section.faq .faq-obj-head svg {
    stroke: black;
    transform: rotate(0deg) scale(1.5);
    transition: all .2s ease;
    min-width: 10px;
}

section.faq .faq-obj.active .faq-obj-head svg {
    transform: rotate(180deg) scale(1.5);
}

section.faq .faq-obj .faq-obj-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
}

section.faq .faq-obj.active .faq-obj-content {
    margin: 1rem 0;
    max-height: 200px;
}

.section-card-icon img {
    width: 88px;
    height: 88px;
}

.section-card-icon {
    margin-top: 57px;
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768.5px) {
    .section-card-icon:not(html) {
        height: 50px;
        margin-top: 0;
    }

    .section-card:not(html) {
        height: auto;
    }

    .section-card .section-card-content:not(html) {
        padding: 0;
    }
}

@media (max-width: 768.5px) {
    .distributor .section-headers .section-header-1:not(html) {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .distributor .section-headers:not(html) {
        text-align: left;
        padding-top: 1.5rem;
        padding-bottom: 18px;
        align-items: flex-start;
    }

    .globo-form-app.boxed-layout p {
        font-size: 14px;
        line-height: 18px;
    }
}

.globo-form-control {
    margin-bottom: 16px !important;
}

@media (max-width: 768.5px) {
    .distributor .distributor-banner.pc:not(html) {
        display: none;
    }
}

@media (min-width: 768.5px) {
    .apply-button-outer {
        display: none;
    }

    .distributor-banner.mobile {
        display: none;
    }
}

.apply-button-outer {
    padding-top: 34px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: calc(34px - 1.5rem);
}

.apply-button.mobile {
    text-align: center;
}

.globo-form-app.boxed-layout {
    border-radius: 20px !important;
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .globo-form-app.boxed-layout:not(html) {
        border-radius: 10px !important;
    }
}

select.classic-input:not(html) {
    border: 1px solid var(--color-form-border);
}

.globo-form-input {
    border-radius: 10px !important;
    box-shadow: none !important;

}

.globo-form-input {
    border-radius: 10px !important;
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .bg-white {
        background: white !important;
    }
}

@media (max-width: 768px) {
    .globo-form-app.boxed-layout:not(html) {
        padding: 20px !important;
    }
}

.globo-form-app .header .title {
    margin-top: 0 !important;
    font-size: 30px !important;
    margin-bottom: 10px !important;
}

.globo-form-control input, .globo-form-control textarea, .globo-form-control select {
    border-radius: 4px !important;
}

.globo-form-app .header {
    margin-bottom: 20px !important;
}

@media (max-width: 768px) {
    .globo-form-app .header .title:not(html) {
        font-size: 18px !important;
        text-align: left;
    }
}

.globo-form-app .header .description {
    font-size: 20px !important;
    text-align: left !important;
    color: black !important;
}

.globo-form-control label:not(html) {
    /* font-weight: bold !important; */
    box-shadow: none;
    font-size: 20px;
}

@media (max-width: 768.5px) {

    .globo-form-control label:not(html),
    .globo-form-control .checkbox-wrapper .checkbox-label:not(html),
    .globo-form-control .checkbox-wrapper label.checkbox-label:not(html):not(p):not(a) {
        font-size: 14px;
    }
}

.classic-input {
    border-radius: 10px !important;
    box-shadow: none !important;
    background-color: white !important;
}

.gfb__other-option__value {
    border-radius: 10px !important;
    box-shadow: none !important;
    background-color: white !important;
}

.gfb__other-option__value:focus {
    border-color: black !important;
}

.classic-input:focus {
    border-color: black !important;
}

.gfb__footer wizard__footer {
    border-radius: 40px !important;
}

.action.next.submit.classic-button {
    border-radius: 40px !important;
    margin-bottom: 0 !important;
    font-weight: bold;
}

@media (min-width: 768px) {
    .action.next.submit.classic-button {
        margin-top: calc(40px - 16px);
    }
}

@media (max-width: 768px) {
    .action.next.submit.classic-button {
        width: 100%;
    }
}

.globo-form-control .checkbox-wrapper label.checkbox-label:not(html) {
    font-size: 20px;
}

.checkbox-label.globo-option:before {
    box-shadow: none !important;
    border-color: #CCCCCC !important;
}

.checkbox-label.globo-option:after {
    box-shadow: none !important;
    /* border: 1px solid black !important;
    background-color: white  !important; */
    /* background-color:white !important; */
    /* background-image: none !important; */
}

.globo-form-id-27527 .globo-form-app .globo-form-control .checkbox-wrapper .checkbox-input:checked~.checkbox-label:not(html)::before {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTYgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+RmlsbCAxPC90aXRsZT4KICAgIDxnIGlkPSJ6IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0i5Luj55CG5ZWGIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNDAyLCAtMjQ4OCkiIGZpbGw9IiMwMDAwMDAiPgogICAgICAgICAgICA8ZyBpZD0i6KGo5qC8IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsIDE0NTgpIj4KICAgICAgICAgICAgICAgIDxnIGlkPSJPdGhlci3pgInkuK3moLflvI8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwLCAxMDI2KSI+CiAgICAgICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IkZpbGwtMSIgcG9pbnRzPSIxNi44NjI5MTQgNCA3Ljg0NzgwMTMyIDEzLjA5NjQ5MzIgMy4xMzcwODYwMiA4LjM4NTc3NzkgMiA5LjUyMjg2MzkxIDcuODQ3ODAxMzIgMTUuMjg5MzgyMiAxOCA1LjEzNzA4NjAyIj48L3BvbHlnb24+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    transition: none;
}

.globo-form-control .checkbox-wrapper .checkbox-input:checked~.checkbox-label:after {
    background-image: none !important;
}