.banner-text-sub .accent {
    color: #FDA906;
    display: inline;
}

.product-card:not(html) {
    margin-bottom: 0;
}

.price del+ins:not(html) {
    margin-left: 0;
}

.luodi-page .banner {
    position: relative;
}

.luodi-page .banner video {
    width: 100%;
}

.luodi-page .banner .banner-text {
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.banner-text-main {
    max-width: 400px;
}

@media (min-width: 900px) {
    .luodi-page .banner .banner-text .banner-text-yellow {
        margin-bottom: 10px;
    }

    .luodi-page .banner .banner-text .banner-text-main {
        margin-bottom: 20px;
    }

    .luodi-page .banner .banner-text .banner-text-sub {
        margin-bottom: 40px;
    }

    .sale-list-item .product-card-info .price del {
        margin-right: 8px;
    }

    .product-card--add-to-cart-button {
        margin-top: 28px;
        margin-bottom: calc(28px - 16px);
        margin-left: calc(28px - 16px);
        margin-right: calc(28px - 16px);
        width: calc(100% - 24px);
    }
}

@media (max-width: 900px) {
    .luodi-page .banner .banner-text .banner-text-sub {
        margin-bottom: 20px;
    }
}

.luodi-page .banner .banner-text .banner-text-yellow {
    color: #FDA906;
    font-weight: bold;
    font-size: 18px;
    text-transform: initial;
}

.luodi-page .banner .banner-text .banner-text-main {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    color: white;
}

.luodi-page .banner .banner-text .banner-text-sub {
    color: white;
    font-size: 18px;
}

.luodi-page .banner .banner-text .banner-text-button .banner-text-button-entity {
    font-weight: bold;
    background: #F2E9DA;
    padding: 12px 25px;
    border-radius: 60px;
    font-size: 14px;
}

.sale-list-section,
.sale-list-chars,
.sale-circulation-desc {
    width: 100%;
    padding: 0 50px;
}

.sale-list-section {
    background: #EAF1F6;
    padding: 120px 0;
}

.sale-list-section .sale-title {
    color: #DA291C;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 34px;
    padding-bottom: 2.5rem;
}

.sale-list-section .sale-list {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.sale-list .sale-list-item {
    width: calc(33.33% - 0.666rem);
    border: 1.5px solid black;
    padding: 1rem;
    padding-top: 0;
    background: white;
    border-radius: 20px;
    position: relative;
}

.sale-list-item .sale-list-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sale-list-item .product-card .product-card-title {
    font-weight: bold;
    color: black;
    text-align: center;
    height: auto;
    margin-bottom: 12px;
    font-size: 20px;
}

.sale-list-item .product-card-info .price {
    text-align: center;
}

.sale-list-item .product-card-info .price del {
    text-decoration: none;
}

.sale-list-item .product-card-info .price del .money,
.sale-list-item .product-card-info .price ins .money {
    font-weight: bold;
    font-size: 42px;
}

.sale-list-item .product-card-info .price del .money {
    color: #b0b0b0;
    text-decoration: line-through;
}

.sale-list-item .product-card-info .price ins .money {
    color: #FDA906;
}

.sale-list-item .sale-list-item-button #AddToCart {
    font-weight: bold !important;
}

.sale-list-chars {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sale-list-chars-inner {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 1rem;
}

.sale-list-chars .sale-list-char {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 33.333%;
}

.sale-list-chars .sale-list-char .sale-list-char-image {
    height: 220px;
}

.sale-list-chars .sale-list-char .sale-list-char-image img {
    height: 100%;
}

.sale-list-chars .sale-list-char .sale-list-char-name {
    font-weight: bold;
    font-size: 30px;
}

.sale-circulation-desc {
    background: #E2CCAF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sale-circulation-desc-inner {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: nowrap;
}

.sale-circulation-desc .left,
.sale-circulation-desc .right {
    width: 50%;
}

.sale-circulation-desc .left {
    display: flex;
    justify-content: center;
}

.sale-circulation-desc .left img {
    border: 1.5px solid black;
    border-radius: 20px;
    height: 100%;
}

.sale-circulation-desc .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0;
}

.sale-circulation-desc .right h1 {
    font-size: 34px;
    line-height: 1.2;
}

.sale-circulation-desc .right p {
    font-size: 20px;
}

.product-card--add-to-cart-button {
    background: #DA291C;
    font-weight: bold;
    border-radius: 40px;
    padding: 1rem 2rem;
    color: white;
    font-size: 20px;
    height: auto !important;
}

.sale-list-item .mobile-add-to-cart-button {
    padding: 0;
    width: 36px;
    height: 36px;
}

.sale-list-item .mobile-add-to-cart-button svg,
.sale-list-item .mobile-add-to-cart-button svg path {
    fill: white !important;
}

.sale-list-item-button {
    display: flex;
    justify-content: center;
}

.product-card--content-spacing-true .product-card-info:not(html) {
    padding: 0
}

.activity-rules {
    padding: 0 50px;
    padding-top: 100px;
    padding-bottom: 110px;
    background: #000;
    font-weight: bold;
    color: white;
}

.activity-rules strong {
    font-weight: bold !important;
}

.activity-rules p:not(html) {
    font-weight: normal;
}

#shop-now-button-text {
    transform: translateY(2px);
}

.activity-rules h1 {
    margin-bottom: 1.25rem;
    line-height: 1.2;
    font-weight: bold !important;
    font-size: 2rem;
    text-align: center;
    color: white !important;
}

@media (max-width: 900px) {
    .product-card .product-featured-image-link img:not(html) {
        top: -8px;
        left: -8px;
        max-width: initial;
        width: calc(100% + 16px);
        height: calc(100% + 8px);
    }

    .luodi-page .banner .banner-text .banner-text-inner {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .luodi-page .banner .banner-text .banner-text-main:not(html) {
        font-size: 25px;
        line-height: 1.1;
    }

    .luodi-page .banner .banner-text .banner-text-yellow {
        margin-bottom: 8px;
        line-height: 1.1;
        text-align: center;
    }

    .luodi-page .banner .banner-text .banner-text-main {
        margin-bottom: 12px;
        text-align: center;
    }

    .luodi-page .banner .banner-text .banner-text-sub {
        margin-bottom: 26px;
    }

    .luodi-page .banner .banner-text .banner-text-button .banner-text-button-entity:not(html) {
        width: 120px;
        height: 36px;
        padding: 0;
    }

    .luodi-page .banner .banner-text .banner-text-sub:not(html),
    .luodi-page .banner .banner-text .banner-text-yellow:not(html) {
        font-size: 12px;
    }

    .sale-list-item .sale-list-item-image {
        max-height: 260px;
    }

    .sale-list-section:not(html) {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .sale-list-section .sale-list:not(html) {
        flex-direction: row;
    }

    .sale-list-section .sale-title:not(html) {
        padding-top: 1.5rem;
        padding-bottom: 18px;
        font-size: 22px;
    }

    .sale-list .sale-list-item:not(html) {
        padding: .5rem;
        width: calc(50% - .5rem);
        border-radius: 10px;
    }

    .sale-list-section:not(html),
    .sale-list-chars:not(html),
    .sale-circulation-desc:not(html) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sale-list-chars:not(html) {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 728px;
    }

    .sale-list-item .sale-list-item-image:not(html) {
        height: auto;
    }

    .sale-list-item .sale-list-item-image:not(html) img {
        transform: scale(1.05);
    }

    .sale-list-item .product-card-info .price:not(html) {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .sale-list-item .product-card-info .price del .money:not(html) {
        font-size: 12px;
    }

    .sale-list-item .product-card-info .price ins .money:not(html) {
        font-size: 14px;
    }

    .sale-list-item .product-card .product-card-title:not(html) {
        height: auto;
        text-align: left;
        padding: 0 .5rem;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 1;
    }

    .sale-list-item .product-card--add-to-cart-button {
        display: none !important;
    }

    .sale-list-item .mobile-add-to-cart-button {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .sale-list-item .product-card-info .price ins .money:not(html) {
        font-size: 1.2rem;
    }

    .sale-list-item .product-card-info .price:not(html) {
        margin-bottom: 0;
    }

    .banner .mobile-video {
        display: block !important;
    }

    .banner .pc-video {
        display: none !important;
    }

    .luodi-page .banner .banner-text:not(html) {
        bottom: 20px;
        text-align: left;
        transform: translateY(0);
        justify-content: center;
        padding: 0 20px;
    }

    .banner-text-button {
        display: flex;
        justify-content: center;
    }

    .sale-list-chars:not(html) {
        flex-direction: column;
        gap: 30px;
    }

    .sale-list-chars .sale-list-char:not(html) {
        width: 100%;
        gap: 26px;
    }

    .sale-list-chars .sale-list-char:not(html):nth-child(1) img {
        width: 120px;
        height: calc(120px / 0.8318);
    }

    .sale-list-chars .sale-list-char:not(html):nth-child(2) img {
        width: 148px;
        height: calc(148px / 0.9774);
    }

    .sale-list-chars .sale-list-char:not(html):nth-child(3) img {
        width: 150px;
        height: calc(150px / 0.8992);
    }

    .sale-list-chars .sale-list-char .sale-list-char-image:not(html) {
        height: min-content !important;
    }

    .sale-list-chars .sale-list-char .sale-list-char-name:not(html) {
        font-size: 18px;
        line-height: 1;
    }

    .sale-circulation-desc:not(html) {
        flex-direction: column;
        gap: 0;
        padding-top: 20px;
        padding-bottom: 24px;
    }

    .sale-circulation-desc .left, .sale-circulation-desc .right {
        width: 100% !important;
    }

    .sale-circulation-desc .right {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .sale-circulation-desc .left img:not(html) {
        border: 1px solid black;
        border-radius: 10px;
    }

    .sale-circulation-desc .right h1:not(html),
    .activity-rules h1:not(html) {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: left;
    }

    .sale-circulation-desc .right h1 br {
        content: '';
    }
    
    .sale-circulation-desc .right h1 br::after {
        content: ' ';
    }

    .sale-circulation-desc .right p:not(html) {
        font-size: 14px;
        margin: 0;
        line-height: 1;
        text-align: left;
    }

    .sale-circulation-desc-inner:not(html),
    .sale-list-chars-inner:not(html) {
        flex-direction: column;
    }

    .sale-circulation-desc-inner:not(html) {
        gap: 20px;
    }

    .sale-list-chars-inner:not(html) {
        gap: 24px;
    }

    .activity-rules {
        padding-bottom: 24px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.sale-list-chars {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px) {
    .sale-list-chars {
        background-image: var(--mobile-bg);
    }

    .product-card:not(html) {
        min-height: 100%;
    }

    .product-card .product-card-info div.spacer {
        flex: 1;
    }
}

@media (min-width: 900px) {
    .sale-list-chars {
        background-image: var(--pc-bg);
    }
    .sale-list-item .product-card--add-to-cart-button {
        display: block !important;
    }

    .sale-list-item .mobile-add-to-cart-button {
        display: none !important;
    }

    .banner .mobile-video {
        display: none !important;
    }

    .banner .pc-video {
        display: block !important;
    }

    .bottom-container .price {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .luodi-page .banner .banner-text-inner,
    .sale-list-section .sale-list:not(html),
    .sale-circulation-desc-inner,
    .sale-list-chars-inner,
    .activity-rules-inner {
        width: 1280px;
        margin: 0 auto;
    }
}

.mobile-add-to-cart-button::after {
    background: url(https://www.procolored.com/cdn/shop/files/54df914fa74b240d76aa47a2abef3015.svg?v=1707142860);
    content: "";
    margin-bottom: 0;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    cursor: pointer;
}

.product-card .bottom-container {
    display: flex;
    align-items: center;
    padding: 0 calc(14px - .5rem);
    height: 36px;
}

.product-card .bottom-container .spacer {
    flex: 1;
}

@media (max-width: 900px) {
    .activity-rules p:not(html) {
        font-size: 14px;
    }
}