.collection-tabs-new-1 {
    padding: 120px 0 60px;
    background-color: #f8f9fd;
}

.collection-tabs-new-2 {
    padding: 60px 0;
    background-color: #f8f9fd;
}

.collection-tabs-new .ctn-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.collection-tabs-new .tab-box {
    display: flex;
    justify-content: flex-start;
}

.collection-tabs-new .tab-title {
    display: flex;
    background-color: #e4e4e4;
    overflow: hidden;
    border-radius: 50px;
}

.collection-tabs-new .title-item {
    padding: 15px 30px;
    background-color: #e4e4e4;
    font-size: 17px;
    line-height: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.collection-tabs-new .title-item.title-active {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

.collection-tabs-new .tab-content .tab-mod:not(:first-of-type) {
    display: none;
}

.collection-tabs-new .tab-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.collection-tabs-new p.info {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
}

.collection-tabs-new a.viewall {
    font-size: 14px;
    line-height: 18px;
}

.collection-tabs-new .viewall-mb-box {
    display: none;
}

.collection-tabs-new .product-item {
    max-width: 227px;
    overflow: hidden;
    border-radius: 10px;
}

.product-item .product-img img {
    max-width: 227px;
    height: auto;
}

.product-item .info-img img {
    max-width: 40px;
    height: auto;
}

.product-item .img-area {
    position: relative;
}

.product-item .info-area {
    background-color: #fff;
    color: #000;
    padding: 15px 16px 30px;
    display: flex;
    align-items: flex-start;
}

.product-item .info-img {
    margin-right: 10px;
}

.info-text-mb {
    display: none;
}

p.product-title:hover {
    text-decoration: underline;
}

.info-area p.product-title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item .product-price {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
}

.product-item .product-price .sale-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-right: 6px;
}

.product-item .product-price .old-price {
    font-size: 12px;
    line-height: 14px;
    color: #737373;
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev {
    margin: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #000;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
}

.swiper-button {
    display: flex;
    align-items: center;
}

.swiper-btn {
    display: flex;
}

.swiper-btn div:first-child {
    margin-right: 15px;
}

.swiper-control {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.swiper-control .swiper-pagination {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
}

.swiper-control .swiper-pagination-bullet-active {
    background-color: #000;
}

.product-adt {
    display: none;
}

/* .product-item .img-area:hover .product-adt {
    display: block;
  }
  .area-btn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #737373;
    opacity: 0.3;
  }
  .area-btn span.area-btn-adt {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 15px;
    background-color: #d5f6db;
  } */
@media screen and (max-width: 1248px) {
    .collection-tabs-new-1 {
        padding: 60px 24px 30px;
    }

    .collection-tabs-new-2 {
        padding: 30px 24px;
    }

    .collection-tabs-new .title-item {
        font-size: 12px;
        line-height: 14px;
        padding: 10px 30px;
    }

    .collection-tabs-new .tab-info {
        margin: 30px 0;
    }

    .collection-tabs-new a.viewall {
        display: none;
    }

    .collection-tabs-new .product-item {
        max-width: 162px;
    }

    .product-item .product-img img {
        max-width: 162px;
    }

    .product-item .info-area {
        flex-direction: column;
        padding: 6px 12px 25px;
    }

    .product-item .info-img {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .info-text-mb {
        display: block;
    }

    .info-text {
        display: none;
    }

    .adt-mb-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #ffe8d1;
        padding: 10px;
        border-radius: 50%;
    }

    .adt-mb-btn img {
        max-width: 16px;
    }

    .product-item .product-price {
        margin-top: 0;
        flex-direction: column;
    }

    .product-adt-mb {
        display: none;
    }

    .info-area p.product-title {
        font-size: 12px;
        line-height: 14px;
    }

    .product-item .product-price .sale-price {
        font-size: 14px;
        line-height: 16px;
        margin-right: 0;
        margin-bottom: 6px;
    }

    .info-text-mb .product-price-adt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .swiper-control {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .collection-tabs-new .viewall-mb-box {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .viewall-mb-box a {
        font-size: 14px;
        line-height: 18px;
    }
}