.warranty .warranty-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.warranty .warranty-banner .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warranty-banner .title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

@media (max-width: 900px) {
    .warranty-banner .title:not(html) {
        font-size: 2rem;
    }
}

section.warranty-section {
    max-width: 80%;
    margin: 5rem auto;
}

@media (max-width: 900px) {
    section.warranty-section {
        max-width: 90%;
    }
}

.warranty-section-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
}

@media (max-width: 900px) {
    .warranty-section-header:not(html) {
        text-align: left;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.warranty-section-content {
    background: white;
    padding: 2rem;
    border-radius: 20px;
}

.warranty-section-content h1 {
    line-height: 1.2;
    font-size: 1.5rem;
    margin: 1rem 0;
}