.engineer-banner {
  background-color: #E9F1F5;
  height: 660px;
  align-content: center;
}
.engineer-banner .engineer-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.engineer-text-wrapper {
  max-width: 600px;
  font-size: 20px;
  align-content: center;
}
.engineer-text-wrapper h2 {
  line-height: 1.1;
  margin: 0;
}
.engineer-banner .engineer-wrapper .engineer-img-wrapper {
  width: 600px;
  padding: 50px;
  align-content: center;
}
.engineer-banner .engineer-wrapper img {
  object-fit: contain;
  width: 100%;
}
.engineer-banner .btn, .engineer-banner--mobile .btn {
  border-radius: 20px;
  font-size: 14px;
  background-color: rgba(0,0,0,1);
  height: 40px;
  padding: 11px 22px;
  min-width: 100px;
  color: white;
  cursor: pointer;
  position: relative;
}
.engineer-banner--mobile {
  padding: 24px 34px;
  text-align: center;
  display: none;
}
.engineer-join-wrapper {
  max-width: 1200px;
  margin: 120px auto 0;
  text-align: center;
}
.engineer-join-wrapper h3 {
  font-size: 34px;
  margin: 0;
}
.engineer-join-wrapper .join-reasons {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.join-reasons > div {
  background-color: #DA291C;
  width: 100%;
  border-radius: 20px;
  padding: 45px 30px;
}
.join-reasons > div h4 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  line-height: 1;
}
.join-reasons > div p {
  font-size: 20px;
  line-height: 1.2;
  color: white;
  margin: 0;
}
.join-reasons > div .icon-wrapper {
  height: 90px;
  margin-bottom: 10px;
  align-content: flex-end;
}
.join-reasons > div .icon-wrapper svg{
  height: 100%;
}
.engineer-sign-up-form {
  padding-bottom: 100px;
  .globo-form-app {
    max-width: 1200px !important;
    box-shadow: none;
    .g-container {
      background: white;
      padding: 60px 32px !important;
      border-radius: 20px;
      .header {
        margin-bottom: 30px;
        h3 {
          text-align: center;
          font-size: 30px;
          margin-bottom: 15px;
          line-height: 1;
        }
        .globo-description p {
          text-align: center;
          font-size: 20px;
          line-height: 1;
          &:last-child {
            display: none;
          }
        }
      }
      label {
        margin-bottom: 10px;
        line-height: 1;
      }
      span.label-content {
        font-size: 20px;
        font-weight: bold;
        &+span {
          font-size: 20px;
        }
      }
      .globo-form-control {
        padding: 0 8px;
        margin-bottom: 20px;
        .gfb__dropzone {
          border-radius: 8px;
          width: 256px;
          min-height: 160px;
          border-color: #ccc;
        }
      }
      .globo-form-input input, .globo-form-input select {
        background: transparent;
        border-radius: 8px;
        box-shadow: none;
        border: 1px solid #ccc;
        &:focus {
          border-color: black;
        }
      }
      .gfb__dropzone--placeholder {
        gap: 0;
        .gfb__dropzone--placeholder--title {
          color: #B0B0B0; 
          font-weight: bold;
          font-size: 20px;
          line-height: 1;
        }
        .gfb__dropzone--placeholder--description {
          color: #B0B0B0; 
          font-size: 9px;
          margin-bottom: 8px;
        }
      }
      .globo-form-control .gfb__dropzone--placeholder--button {
        font-size: 12px;
      }
      .checkbox-wrapper {
        span.label-content {
          font-weight: normal;
        }
        .checkbox-input ~ .checkbox-label:before {
          border-color: #ccc !important;
        }
      }
      .gfb__footer {
        margin-top: 20px;
        .classic-button {
          background: #000000;
          border-radius: 20px;
          border: none !important;
          height: 40px;
        }
      }
    }
  } 
}
@media (max-width: 1200px) {
  .engineer-banner {
    height: auto;
    padding: 24px;
  }
  .engineer-text-wrapper {
    padding: 0;
    font-size: 14px;
  }
  .engineer-text-wrappe h2 {
    font-size: 26px;
  }
  .engineer-banner .engineer-wrapper .engineer-img-wrapper {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .engineer-join-wrapper {
    padding: 0 24px;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .engineer-join-wrapper h3 {
    font-size: 22px;
    text-align: left;
  }
  .engineer-join-wrapper .join-reasons {
    flex-direction: column;
    margin: 18px 0 0;
  }
  .join-reasons > div {
    min-height: 182px;
  }
  .join-reasons > div h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .join-reasons > div p {
    font-size: 14px;
  }
  .join-reasons > div .icon-wrapper {
    height: 50px;
    margin-bottom: 2px;
  }
}

@media (max-width: 700px) {
  .engineer-banner .engineer-wrapper .btn {
    display: none;
  }
  .engineer-banner--mobile {
    display: block;
    background-color: white;
    .btn {
      display: block;
    }
  }
  .engineer-join-wrapper {
    background-color: white;
  }
  .engineer-sign-up-form {
    padding: 20px 24px 46px;
    .globo-form-app {
      margin: 0;
      .g-container {
        padding: 20px !important;
        .header {
          margin-bottom: 20px;
        }
        h3 {
          text-align: left;
          font-size: 18px;
        }
        .globo-description p, span.label-content, span.label-content+span {
          text-align: left;
          font-size: 14px;
          line-height: 1;
        }
        label {
          margin-bottom: 6px;
        }
        .globo-form-control {
          margin-bottom: 16px;
          padding: 0;
          input, select {
            height: 50px;
            border-radius: 4px;
          }
          .gfb__dropzone {
            width: 100%;
          }
        }
      }
      .gfb__footer {
        margin: 0;
        & > * {
          width: 100%;
          font-weight: bold;
        }
      }
    }
  }
}