.affiliates .affiliates-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 100px;
}

@media (max-width: 900px) {
    .affiliates .affiliates-banner:not(html) {
        height: 35vh;
        padding: 1rem 0;
    }

    .affiliates-banner .title:not(html) {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .affiliates-banner .subtitle:not(html) {
        font-size: .85rem;
    }
}

.affiliates .affiliates-banner .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiliates-banner .title {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}

.affiliates-banner .subtitle {
    text-align: center;
    font-size: 18px;
    max-width: 90%;
    line-height: 1.3;
}

@media (min-width: 900px) {
    .affiliates-banner .subtitle {
        max-width: 50%;
        line-height: 1.5;
    }
}

.apply-button {
    margin: 1rem 0;
    background: #000000;
    padding: .5rem 1.5rem;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-size: .9rem;
    font-weight: bold;
}

.affiliates .sections {
    max-width: 1380px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .affiliates .sections:not(html) {
        max-width: 90%;
    }
}

.affiliates .section-headers {
    text-align: center;
    /* padding: 5rem 0; */
    padding-top: 6.5rem;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.affiliates .section-headers .section-header-1 {
    font-weight: bold;
    font-size: 2.125rem;
}

.affiliates .section-headers .section-header-2 {
    line-height: 1.2;
    max-width: 450px;
}

.section-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 900px) {
    .section-cards {
        flex-wrap: wrap;
        gap: 15px;
    }

    .section-card:not(html) {
        width: calc(50% - 7.5px) !important;
        padding: 1rem .75rem;
    }

    .section-card-icon img:not(html) {
        height: 50px;
    }

    .section-card-icon:not(html) {
        margin: 10px 0;
    }

    .section-card .section-card-title:not(html) {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .section-card:not(html) {
        height: auto;
    }
}

.section-card {
    background: #da291c;
    color: white;
    text-align: center;
    width: 25%;
    height: 382px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section-card-inner {
    max-width: 90%;
}

.section-card .section-card-title {
    font-size: 24px;
    /* font-size: 24px */
    font-weight: bold;
    margin-bottom: 20px;
}

.section-card .section-card-content {
    font-size: 20px;
    line-height: 1.2;
    max-width: 70%;
    margin: 0 auto;
    /* font-size: 20px; */
}

@media (max-width: 900px) {
    .section-card .section-card-content {
        font-size: 14px;
    }
}

section {
    max-width: 1380px;
    padding: 0 35px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    section {
        padding: 0;
    }
}

section.how-to {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    margin-top: 6rem;
    height: 592px;
}

section.how-to .right p:last-child {
    margin-bottom: 0;
}

@media (max-width: 900px) {
    section.how-to:not(html) {
        height: initial;
        flex-direction: column;
        gap: 0;
        margin-top: 2rem;
    }

    section.how-to .left:not(html) {
        height: 300px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    section.how-to .right:not(html) {
        padding: 1.5rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    section.how-to .right h1:not(html) {
        font-size: 1.5rem;
    }

    section.how-to .left,
    section.how-to .right {
        width: 100% !important;
    }
}

section.how-to .left,
section.how-to .right {
    border-radius: 20px;
    width: 50%;
}

section.how-to .left {
    display: block;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.how-to .right {
    background: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.how-to .right h1 {
    font-size: 30px;
    margin: 0;
}

section.how-to .right strong:not(html) {
    font-size: 20px;
}

strong:not(html) {
    font-weight: bold;
}

section.join {
    display: flex;
    align-items: stretch;
    height: 362px;
    gap: 1rem;
}

@media (max-width: 900px) {
    section.join {
        height: initial;
    }

    section.join .left,
    section.join .right {
        height: 170px;
        width: calc(50% - .5rem) !important;
    }

    section.join .signup-button:not(html) {
        border: none;
        background: black;
        color: white;
        bottom: .5rem;
        width: calc(100% - 1rem);
    }
}

section.join .left,
section.join .right {
    border-radius: 20px;
    background: white;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.join .left .image-section,
section.join .right .image-section {
    display: flex;
    align-items: center;
    height: calc(100% - 120px);
}

@media (min-width: 900px) {
    section.join .left .image-section, section.join .right .image-section {
        transform: translateY(30px);
    }
}

.signup-button {
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid #eaf1f6;
    padding: 0.75rem 1.5rem;
    font-size: .9rem;
    width: 102px;
    height: 40px;
    background: white;
}

section.join .left .signup-button-section,
section.join .right .signup-button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

@media (max-width: 900px) {

    section.join .left .signup-button-section,
    section.join .right .signup-button-section {
        height: 40%;
        width: 100%;
    }

    section.join .left .image-section,
    section.join .right .image-section {
        width: 80%;
        height: 60%;
    }
}

section.faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

@media (max-width: 900px) {
    section.faq {
        background: white;
        padding: 1.5rem;
        border-radius: 20px;
    }

    section.faq .faq-obj .faq-obj-head {
        font-weight: bold;
    }

    section.faq .faq-obj:last-child {
        border-bottom: none;
    }
}

section.faq .faq-obj .faq-obj-head {
    width: 100%;
    padding-bottom: 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
}

section.faq .faq-obj {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

section.faq .faq-obj .faq-obj-head .spacer {
    flex: 1;
}

section.faq .faq-obj-head svg {
    stroke: black;
    transform: rotate(0deg) scale(1.5);
    transition: all .2s ease;
    min-width: 10px;
}

section.faq .faq-obj.active .faq-obj-head svg {
    transform: rotate(180deg) scale(1.5);
}

section.faq .faq-obj .faq-obj-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
}

section.faq .faq-obj.active .faq-obj-content {
    margin: 1rem 0;
    max-height: 1000px;
}

.section-card-icon img {
    height: 80px;
}

.section-card-icon {
    margin-top: 72px;
    margin-bottom: 1rem;
}

@media (max-width: 500px) {
    .affiliates .section-headers .section-header-1:not(html) {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: .5rem;
    }

    .affiliates .section-headers:not(html) {
        text-align: left;
        padding: 1.5rem 0;
        align-items: flex-start;
    }

    .affiliates .affiliates-banner.pc:not(html) {
        display: none;
    }
}

@media (min-width: 500px) {

    .apply-button.mobile {
        display: none;
    }

    .affiliates-banner.mobile {
        display: none;
    }
}

.apply-button.mobile {
    text-align: center;
    margin: 1.5rem 1rem;
}