.form__label__value:not(html) {
  display: none;
}

.form__label:not(html) {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.38;
}

.breadcrumbs-section+.product-section .thb-product-detail:not(html) {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.thb-product-detail .product-title-container:not(html) {
  margin-bottom: 10px;
}

.product-price-container .price .amount:not(html) {
  font-weight: 700;
}

.shopify-block .jdgm-prev-badge {
  display: none !important;
}

.variations .product-form__input--block input[type="radio"]:checked+label:not(html) {
  box-shadow: 0 0 0 2px #FF8F1C inset;
}

.button:not(html),
.shopify-payment-button__button:not(.shopify-payment-button__button--branded):not(html) {
  background: #da291c;
  font-weight: bold;
}
@media screen and (max-width: 768px){
  .form__label:not(html) {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .variations .product-form__input--block input[type="radio"]:checked+label:not(html) {
    box-shadow: 0 0 0 1px #FF8F1C inset;
  }
}
@media (min-width: 768px) {
  .shopify-payment-button__button:not(.shopify-payment-button__button--branded):not(html) {
    height: 64px;
  }
}

.shopify-payment-button__button:not(.shopify-payment-button__button--branded):not(html):hover {
  background: #ba2318 !important;
}

.product-short-description strong,
.product-short-description b {
  font-weight: bold;
}

.product-gallery-container .product-image-container {
  position: relative;
}

.product-gallery-container.thumbnails-bottom scroll-shadow .product-thumbnail-container .product-thumbnail:not(html) {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  background: white;
}

.scroll-shadow-thumbnails {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.product-gallery-container .product-image-container:hover .scroll-shadow-thumbnails {
  opacity: 1;
  pointer-events: all;
}

.product-gallery-container.thumbnails-bottom scroll-shadow.scroll-shadow-thumbnails:not(html) {
  position: absolute;
  bottom: 1rem;
  transform: scale(0.5);
}

.product-gallery-container.thumbnails-bottom .product-image-container .product-images {
  height: 0;
  padding-bottom: 100%;
}

.product-gallery-container .thb-product-detail .product-single__media.product-single__media-external-video .product-single__media-external-video--play:not(html) {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.product-gallery-container .thb-product-detail .product-single__media.product-single__media-external-video .product-single__media-external-video--play:not(html) img:not(html),
.product-gallery-container .flickity-viewport:not(html),
.product-external-video-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.product-gallery-container .product-external-video-container {
  width: 100%;
  display: none;
}

.product-gallery-container .product-single__media-external-video--play:not(html)[hidden] {
  display: block !important;
  opacity: 0;
  pointer-events: none;
}

.product-gallery-container .product-single__media-external-video--play[hidden]+.product-external-video-container {
  display: block;
}

.product-gallery-container .product-images {
  background: white;
  border-radius: 20px;
}

.product-gallery-container .product-single__media-zoom {
  /* display: none !important; */
}

.product-section:not(html) .jdgm-widget.jdgm-widget {
  cursor: pointer;
}

.countdown-wrapper {
  width: 200px;
  margin: auto;
  padding-top: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media only screen and (min-width: 541px) and (max-width: 1080px) {
  .countdown-wrapper {
    top: 30px;
    right: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .countdown-wrapper {
    transform: scale(0.6);
    top: 0;
    right: -30px;
  }
}