.product-add-to-cart-sticky-l1800 {
    background: white;
    display: flex;
    width: 100%;
    /* 减去滚动条的宽度 */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(50px);
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 -1px 11.1px 0 rgba(181, 181, 181, 0.14);
}

.product-add-to-cart-sticky-l1800 .product-name {
    font-size: 20px;
    line-height: 1.33;
    font-weight: 700;
}



.product-add-to-cart-sticky-l1800 .product-price {
    line-height: 1;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .product-add-to-cart-sticky-l1800 .product-price {
        margin: 0
    }
}

.product-add-to-cart-sticky-l1800 .product-price .del {
    color: black;
    font-size: 12px;
}

.product-add-to-cart-sticky-l1800 .product-price ins {
    font-size: 20px;
}

.product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price .price {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price ins .amount .money {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    /* 133% */
}

.product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price del span,
.product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price .del span {
    color: #6D6D6D;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: line-through;
    
}
.product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price del{
    color: #6D6D6D;
    text-decoration: auto;
}


.product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price .discount_amount {
    font-size: 12px;
}

.product-add-to-cart-sticky-l1800.sticky--visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.product-add-to-cart-sticky-l1800 .inner {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: 1448px;
    padding: 10px 24px;

}

@media only screen and (min-width: 768px) {
    .product-add-to-cart-sticky-l1800 .inner {
        /* width: calc(100% - 2 * 35px - 2 * 15px); */
        width: 100%;
    }
}

.product-add-to-cart-sticky-l1800 .inner .spacer {
    flex: 1;
}

.product-add-to-cart-sticky-l1800 .add_to_cart_holder:not(html) {
    margin: 0;
}

@media (max-width: 768px) {
    .product-add-to-cart-sticky-l1800 .add_to_cart_holder:not(html) {
        padding: 0;
    }
}

.product-add-to-cart-sticky-l1800 .product-price:not(html) {
    font-size: 1.1rem;
    color: #da291c;
}

.product-add-to-cart-sticky-l1800 .right-box {
    display: flex;
    align-items: center;
}

.product-add-to-cart-sticky-l1800 button#AddToCartSticky {
    display: flex;
    height: 50px !important;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 99px;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    /* 140% */
    width: max-content;
}

@media (max-width: 768px) {
    .product-add-to-cart-sticky-l1800 .right-box>* {
        flex: 1;
        gap: 11px;
    }


}

.product-add-to-cart-sticky-l1800 .shopify-payment-button__more-options {
    display: none !important;
}

.product-add-to-cart-sticky-l1800 .product-add-to-cart-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-add-to-cart-sticky-l1800 .left-box {
    max-width: 40%;
}

.product-add-to-cart-sticky-l1800 .right-box {
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.product-add-to-cart-sticky-l1800 .product-form__wrapper {
    display: flex;
    align-items: center;
    gap: 14px;

}

.product-add-to-cart-sticky-l1800 .product-form__wrapper shopify-accelerated-checkout {
    --shopify-accelerated-checkout-button-border-radius: 99px;


}

.product-add-to-cart-sticky-l1800 .product-add-to-cart-container button.single-add-to-cart-button.button,
.product-add-to-cart-sticky-l1800 .shopify-payment-button__button:not(.shopify-payment-button__button--branded) {
    height: 50px !important;
}

@media (max-width: 768px) {
    .product-add-to-cart-sticky-l1800 .right-box {
        align-items: start;
        gap: 10px;
        flex-shrink: 0;
        flex-direction: column;
    }

    .product-add-to-cart-sticky-l1800 .add_to_cart_holder {
        width: 50%;
    }

    .product-add-to-cart-sticky-l1800 button#AddToCartSticky {
        height: 38px !important;
        font-size: 14px;
        line-height: 1.28;

    }
    .product-add-to-cart-sticky-l1800 .product-add-to-cart-container .single-add-to-cart-button--text {
        font-size: 14px !important;
    }

    .product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price ins .amount .money {

        font-size: 20px;

    }
    .product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price .price {
        gap: 10px;
      
    }
    .product-add-to-cart-sticky-l1800    .right-box-product-price-container .product-price del span, .product-add-to-cart-sticky-l1800 .right-box-product-price-container .product-price .del span {
        font-size: 12px;
        line-height: 1.4;
      
    }

    .product-add-to-cart-sticky-l1800 .product-form__wrapper shopify-accelerated-checkout {
        --shopify-accelerated-checkout-button-block-size: 38px !important;


    }   

    .product-add-to-cart-sticky-l1800   .product-add-to-cart-container button.single-add-to-cart-button.button,
    .product-add-to-cart-sticky-l1800  .shopify-payment-button__button:not(.shopify-payment-button__button--branded) {
        height: 38px !important;
    }



}