  .slider {
      overflow: hidden;
      position: relative;
  }

  .slide-track {
    white-space: nowrap;
    transition: transform 0.5s linear;
    display: flex;
  }

  .slide {
    /* display: inline-block; */
    flex-shrink: 0;
    width: 284px;
    padding: 0 10px;

    .title {
      margin-top: 20px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
    }
    .desc {
      margin-top: 10px;
      font-size: 12px;
      line-height: 14px;
      color: #646464;
    }
  }

  img {
      width: 100%;
      height: auto;
  }