.template-header--subcollection,
.template-header--subcollection-transparent img {
  box-shadow: var(--block-shadows);
}

.template-header {
  padding: 30px 0;
}

.template-header--title {
  margin-bottom: 10px;
}

.template-header--title:only-child {
  margin-bottom: 0;
}

.template-header--content {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

@media only screen and (min-width: 1068px) {
  .template-header--content {
    flex-direction: row;
  }
}

.template-header--image {
  width: 90px;
}

.template-header--image img {
  border-radius: 50%;
}

.template-header--description {
  font-size: 0.9375rem;
}

@media only screen and (min-width: 768px) {
  .template-header--description {
    font-size: 1.0625rem;
  }
}

.template-header>*:last-child {
  margin-bottom: 0;
}

.template-header .searchform {
  max-width: 440px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.template-header .searchform+.template-header--description {
  font-size: 0.8125rem;
}

.template-header--subcollections {
  display: flex;
  flex-wrap: nowrap;
  grid-gap: 10px;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 0 0 10px 0;
}

.template-header--subcollections-container {
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .template-header--subcollections-container {
    margin-left: -15px;
    width: calc(100% + 30px);
    padding-left: 15px;
  }
}

.template-header--subcollection {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  padding: 4px;
  font-size: 0.9375rem;
  font-weight: 500;
  height: 50px;
  border-radius: 500px;
  white-space: nowrap;
  background: var(--subcollection-bg, var(--color-drawer-bg, #fff));
  color: var(--color-body, #2c2d2e);
  white-space: nowrap;
}

.template-header--subcollection img {
  width: 42px;
  height: 42px;
  margin-right: 17px;
  border-radius: 500px;
}

.template-header--subcollection span {
  padding: 10px 10px 10px 0;
}

[dir="rtl"] .template-header--subcollection img {
  margin-right: 0;
  margin-left: 17px;
}

[dir="rtl"] .template-header--subcollection span {
  padding: 10px 0 10px 10px;
}

.template-header--subcollection-transparent {
  background: transparent;
  padding: 0;
  box-shadow: none;
}

/* extra offers */
.coll-extra-offers {
  box-sizing: border-box;
  max-width: 372px;
}

.coll-extra-offers .offers-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(160deg, #FFFAF6 0%, #F4E8DD 100%);
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.coll-extra-offers .offers-info-pc {
  margin: 0 14px 0 85px;
  padding: 0;
  line-height: 1;
  font-size: 30px;
  font-weight: bold;
}

.coll-extra-offers .offers-info-mb {
  display: none;
}

.offers-img {
  position: relative;
}

.img-box {
  position: absolute;
  left: 0;
  bottom: -28px;
}

.offers-img img {
  max-width: 75px;
}

.offers-btn {
  display: inline-block;
  line-height: 1;
  padding: 10px 17px;
  background-color: #EE826C;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.offers-btn:hover {
  color: #fff;
}

.offers-info-mb {
  display: none;
}

@media screen and (max-width:767px) {
  .coll-extra-offers {
    max-width: 327px;
  }

  a.offers-btn {
    display: none;
  }

  p.offers-info-pc {
    display: none;
  }

  .coll-extra-offers .offers-info-mb {
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    margin-left: 68px;
  }

  .coll-extra-offers .offers-box {
    padding: 17px 31px 15px 20px;
    justify-content: space-between;
  }

  .offers-img img {
    max-width: 57px;
  }

  .img-box {
    bottom: -20px;
  }
}