{{ 'page.support-0416.css' | asset_url | stylesheet_tag }}
<div class="support-0416">
  <div class="header-banner">
    <picture>
      <source
        media="(min-width: 769px)"
        srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/669d3683a928599ec77ddc3a450e9fa2_f9acb9eb-2305-4aa2-84d0-173abd6c226b.png"
      >
      <source
        media="(max-width: 768px)"
        srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/61292b5432d02c31e7b37d2e696dc0c8_2246ed0c-bc2b-4c77-b407-751ebb1bea52.png"
      >
      <img src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/669d3683a928599ec77ddc3a450e9fa2_f9acb9eb-2305-4aa2-84d0-173abd6c226b.png">
    </picture>
  </div>
  <div class="support-0416-content">
    {% section 'section-support-products' %}
    {% section 'section-support-faqs' %}
    <div class="s-online">
      <div class="online-title">
        <h3 class="title">Procolored Online Tech Support</h3>
        <div class="spec">
          <p>Procolored tech staff usually use Skype to communicate with customers and troubleshoot printer issues.</p>
          <p>
            If you need tech staff to remotely connect to your computer, please
            <span>install Team Viewer and share the ID and Password to tech staff.</span>
          </p>
        </div>
      </div>
      <div class="s-time-table">
        <table class="time-table">
          <tbody>
            <tr>
              <td></td>
              <td class="bg0">US Tech Support</td>
              <td class="bg0">China Tech Support</td>
            </tr>
            <tr>
              <td class="fw">Timezone</td>
              <td>Pacific Standard Time(PST)</td>
              <td>Pacific Standard Time(PST)</td>
            </tr>
            <tr>
              <td class="fw">Working Hours</td>
              <td>9:00 AM-5:00 PM</td>
              <td>6:00 PM-4:00 AM</td>
            </tr>
            <tr>
              <td class="fw">Working Days</td>
              <td>Monday to Friday</td>
              <td>Monday to Friday</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="s-info">
        <div class="info-item">
          <p class="info-t">US support contact information</p>
          <div class="info-spec">
            <p>Tel: <span>+1 6463622251</span></p>
            <p>Email: <span>afterservice.us1@procolored.com</span></p>
            <p>WhatsApp: <span>+15625660518</span></p>
            <p>Address: <span>Diamond Bar,CA,USA</span></p>
          </div>
        </div>
        <div class="info-item">
          <p class="info-t">China support contact information</p>
          <div class="info-spec">
            <p>Tel: <span>+1 562 566 0518</span></p>
            <p>Email: <span>support@procolored.com</span></p>
            <p>WhatsApp: <span>+15625660518</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
