{{ 'page.gen2-dtf-printer-0809.css' | asset_url | stylesheet_tag }}
<div class="gen2-0809">
  {% section 'page-banner' %}
  <div class="gen2-0809-content">
    {% section 'section-gen2-new-function' %}
    <div class="hot-selling">
      <div class="hs-wrapper">
        <div class="hs-title">
          <div class="title">Early Bird Specials</div>
        </div>
        <div class="hs-product">
          <div class="product-box">
            {% section 'section-gen2-hot-selling-l' %}
            {% section 'section-gen2-hot-selling-r' %}
          </div>
        </div>
      </div>
    </div>
    {% section 'section-gen2-sale-campaign' %}
  </div>
</div>
