{{ 'page.vf13pro-0719.css' | asset_url | stylesheet_tag }}
<div class="vf13pro-0719">
  <div class="header-banner">
    <picture>
      <source
        media="(min-width: 769px)"
        srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/landing.jpg"
      >
      <source
        media="(max-width: 768px)"
        srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/landing-mb.png"
      >
      <img src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/landing.jpg">
    </picture>
  </div>
  <div class="vf13pro-0719-content">
    {% section 'section-vf13pro-hot-selling' %}
    {% section 'section-vf13pro-swiper' %}
    {% section 'section-vf13pro-sale' %}
  </div>
</div>
