<style>
    .procolored-strength-of-siphon-wrapper {
        width: 100%;

    }

    .procolored-strength-of-siphon-wrapper img {
        width: 100%;
        max-width: 100%;

    }

    .procolored-strength-of-siphon-wrapper .pc {
        display: block;
        aspect-ratio: 744 / 271;

    }

    .procolored-strength-of-siphon-wrapper .mb {
        display: none;


    }

    @media screen and (max-width: 768px) {
        .procolored-strength-of-siphon-wrapper .pc {
            display: none;


        }

        .procolored-strength-of-siphon-wrapper .mb {
            display: block;
            aspect-ratio: 3 / 4;

        }

    }
</style>
<style>
  /* What is Procolored Siphon Circulation start */
  .procolored-strength-of-siphon-section1-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000;
  }

  .procolored-strength-of-siphon-section1-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .procolored-strength-of-siphon-section1-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .procolored-strength-of-siphon-section1-title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.25;
    font-weight: 700;
  }

  .procolored-strength-of-siphon-section1-desc {
    font-size: 20px;
    color: #676767;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
    max-width: 960px;
  }

  .procolored-strength-of-siphon-section1-desc span {
    color: #fff;
  }

  .procolored-strength-of-siphon-section1-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
  }

  .procolored-strength-of-siphon-section1-content-item {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .procolored-strength-of-siphon-section1-content-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .procolored-strength-of-siphon-section1-content-item-video {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .procolored-strength-of-siphon-section1-content-item-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .procolored-strength-of-siphon-section1-content-item-content {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .procolored-strength-of-siphon-section1-content-item:nth-child(even)
    .procolored-strength-of-siphon-section1-content-item-content {
    padding-left: 80px;
  }

  .procolored-strength-of-siphon-section1-content-item-content-num {
    font-weight: 700;
    font-size: 100px;
    color: #000;
    line-height: 1;
    text-align: left;
    font-style: normal;
    -webkit-text-stroke: 1px #da291c;
    margin-bottom: 20px;
  }

  .procolored-strength-of-siphon-section1-content-item-content-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.5;
    text-align: left;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .procolored-strength-of-siphon-section1-content-item-content-desc {
    font-size: 20px;
    color: #676767;

    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }

  @media screen and (max-width: 768px) {
    .procolored-strength-of-siphon-section1-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .procolored-strength-of-siphon-section1-title-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-bottom: 25px;
    }

    .procolored-strength-of-siphon-section1-title {
      font-size: 30px;

      margin-bottom: 20px;
    }

    .procolored-strength-of-siphon-section1-desc {
      font-size: 14px;

      max-width: 100%;
    }

    .procolored-strength-of-siphon-section1-content {
      gap: 50px;
    }

    .procolored-strength-of-siphon-section1-content-item {
      flex-direction: column;
      gap: 20px;
      background: #181818;
      border-radius: 10px;
      overflow: hidden;
    }

    .procolored-strength-of-siphon-section1-content-item:nth-child(even) {
      flex-direction: column;
    }

    .procolored-strength-of-siphon-section1-content-item-video {
      border-radius: 10px;
    }

    .procolored-strength-of-siphon-section1-content-item-content {
      display: flex;
      flex-direction: column;
      padding: 0 20px 30px 20px;
    }

    .procolored-strength-of-siphon-section1-content-item:nth-child(even)
      .procolored-strength-of-siphon-section1-content-item-content {
      padding: 0 20px 30px 20px;
    }

    .procolored-strength-of-siphon-section1-content-item-content-num {
      font-size: 50px;
      color: #181818;
      margin-bottom: 10px;
    }

    .procolored-strength-of-siphon-section1-content-item-content-title {
      font-size: 24px;

      margin-bottom: 10px;
    }

    .procolored-strength-of-siphon-section1-content-item-content-desc {
      font-size: 14px;
    }
  }

  /* What is Procolored Siphon Circulation end */
</style>

<style>
  /* How Will Procolored Siphon Circulation Benefit start */
  .procolored-strength-of-siphon-section2-wrapper {
    padding-bottom: 100px;
    background-color: #000;
  }

  .procolored-strength-of-siphon-section2-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .procolored-strength-of-siphon-section2-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .procolored-strength-of-siphon-section2-title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.25;
    font-weight: 700;
  }

  .procolored-strength-of-siphon-section2-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .procolored-strength-of-siphon-section2-desc-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .procolored-strength-of-siphon-section2-desc-item-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

  .procolored-strength-of-siphon-section2-desc-item-text {
    font-size: 20px;
    color: #676767;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
  }

  .procolored-strength-of-siphon-section2-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    width: 100%;
    padding-top: 60px;
    background-color: #181818;
    border-radius: 20px;
  }

  .procolored-strength-of-siphon-section2-content-row1-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .procolored-strength-of-siphon-section2-content-row1-col-title {
    font-size: 24px;
    color: #fff;
    line-height: 1.25;
    font-weight: 600;
  }

  .procolored-strength-of-siphon-section2-content-row1-col-img {
    width: 80%;
  }

  .procolored-strength-of-siphon-section2-content-row1-col-img img {
    width: 100%;
    max-width: 100%;
  }

  .procolored-strength-of-siphon-section2-content-desc-name {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
    padding: 40px;
    border-top: 1px solid #242424;
  }

  .procolored-strength-of-siphon-section2-content-desc-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 40px;
    border-top: 1px solid #242424;
  }

  .procolored-strength-of-siphon-section2-content-desc-value.special {
    background: #2f2f2f;
  }

  .procolored-strength-of-siphon-section2-content-desc-value-icon.row2 {
    width: 26px;
    height: 39px;
    flex-shrink: 0;
  }

  .procolored-strength-of-siphon-section2-content-desc-value-icon.row3 {
    width: 38px;
    height: 37px;
    flex-shrink: 0;
  }

  .procolored-strength-of-siphon-section2-content-desc-value-icon.row4 {
    width: 34px;
    height: 39px;
    flex-shrink: 0;
  }

  .procolored-strength-of-siphon-section2-content-desc-value-icon.row5 {
    width: 34px;
    height: 25px;
    flex-shrink: 0;
  }

  .procolored-strength-of-siphon-section2-content-desc-value-icon.row6 {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }

  .procolored-strength-of-siphon-section2-content-desc-value-text {
    font-size: 16px;
    color: #fff;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .procolored-strength-of-siphon-section2-title-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-bottom: 25px;
    }

    .procolored-strength-of-siphon-section2-title {
      font-size: 30px;

      margin-bottom: 20px;
    }

    .procolored-strength-of-siphon-section2-desc {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }

    .procolored-strength-of-siphon-section2-desc-item {
      gap: 10px;
    }

    .procolored-strength-of-siphon-section2-desc-item-icon {
      width: 15px;
      height: 15px;
    }

    .procolored-strength-of-siphon-section2-desc-item-text {
      font-size: 14px;
    }

    .procolored-strength-of-siphon-section2-content {
      padding-top: 30px;

      border-radius: 10px;
    }

    .procolored-strength-of-siphon-section2-content-row1-col-title {
      font-size: 14px;
    }

    .procolored-strength-of-siphon-section2-content-row1-col-img {
      width: 80%;
      aspect-ratio: 1;
    }

    .procolored-strength-of-siphon-section2-content-desc-name {
      font-size: 12px;

      padding: 10px;

      justify-content: center;
    }

    .procolored-strength-of-siphon-section2-content-desc-value {
      gap: 10px;

      padding: 10px;
    }

    .procolored-strength-of-siphon-section2-content-desc-value-icon.row2 {
      width: 16px;
      height: 23px;
    }

    .procolored-strength-of-siphon-section2-content-desc-value-icon.row3 {
      width: 22px;
      height: 22px;
    }

    .procolored-strength-of-siphon-section2-content-desc-value-icon.row4 {
      width: 20px;
      height: 23px;
    }

    .procolored-strength-of-siphon-section2-content-desc-value-icon.row5 {
      width: 18px;
      height: 20px;
    }

    .procolored-strength-of-siphon-section2-content-desc-value-icon.row6 {
      width: 12px;
      height: 19px;
    }

    .procolored-strength-of-siphon-section2-content-desc-value-text {
      font-size: 10px;
    }
  }

  /* How Will Procolored Siphon Circulation Benefit end */
</style>
<section id="procolored-strength-of-siphon">
    <a class="procolored-strength-of-siphon-wrapper" href="/collections/procolored-strength-of-siphon" target="_blank"> 
        <img class="pc lazyload" data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Siphon_Procolored_White_Ink_Circulation_22.png?v=1769066091" alt="">
        <img class="mb lazyload" data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Siphon_Procolored_White_Ink_Circulation_2.png?v=1769066091" alt="">
    </a>
</section>
    <!-- What is Procolored Siphon Circulation start -->
    <section id="procolored-strength-of-siphon-section1">
        <div class="procolored-strength-of-siphon-section1-wrapper">
            <div class="procolored-strength-of-siphon-section1-container">
                <div class="procolored-strength-of-siphon-section1-title-wrapper">
                    <div class="procolored-strength-of-siphon-section1-title">What is Procolored Siphon Circulation ?
                    </div>
                    <div class="procolored-strength-of-siphon-section1-desc">
                        <span>Procolored Siphon Circulation</span>
                        refers to the Siphon White Ink Circulation System, an innovative technology patented by
                        Procolored. Procolored siphon circulation was initially applied on Procolored F13 Pro Panda DTF
                        printer (or DTF Pro Gen-2), and so far has been progressively integrated into the rest products.

                        Compared to other ink circulation systems available on the current market, Procolored Siphon
                        Circulation outperforms in several areas:
                    </div>
                </div>
                <div class="procolored-strength-of-siphon-section1-content">
                    <div class="procolored-strength-of-siphon-section1-content-item">
                        <div class="procolored-strength-of-siphon-section1-content-item-video">
                            <video src="https://cdn.shopify.com/videos/c/o/v/f96a6d9c7efd4a0c9765a5921be9c1b6.mp4"
                                autoplay muted loop playsinline webkit-playsinline x5-playsinline
                                type="video/mp4"></video>
                        </div>
                        <div class="procolored-strength-of-siphon-section1-content-item-content">
                            <div class="procolored-strength-of-siphon-section1-content-item-content-num">01</div>
                            <div class="procolored-strength-of-siphon-section1-content-item-content-title">Ink Agitation
                            </div>
                            <div class="procolored-strength-of-siphon-section1-content-item-content-desc">An electrical
                                motor is stirring periodically so that the sediments are resuspended and evenly
                                distributed throughout the solvent.</div>
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section1-content-item">
                        <div class="procolored-strength-of-siphon-section1-content-item-video">
                            <video src="https://cdn.shopify.com/videos/c/o/v/ec6d5b13c6fe4f6a9fb3782bbf6ef213.mp4"
                                autoplay muted loop playsinline webkit-playsinline x5-playsinline
                                type="video/mp4"></video>
                        </div>
                        <div class="procolored-strength-of-siphon-section1-content-item-content">
                            <div class="procolored-strength-of-siphon-section1-content-item-content-num">02</div>
                            <div class="procolored-strength-of-siphon-section1-content-item-content-title">Siphon Effect
                            </div>
                            <div class="procolored-strength-of-siphon-section1-content-item-content-desc">The white ink
                                flows onto the printhead stably and continuously, ultilizing siphon effect and positive
                                displacement mechanism.</div>
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section1-content-item">
                        <div class="procolored-strength-of-siphon-section1-content-item-video">
                            <video src="https://cdn.shopify.com/videos/c/o/v/ec6d5b13c6fe4f6a9fb3782bbf6ef213.mp4"
                                autoplay muted loop playsinline webkit-playsinline x5-playsinline
                                type="video/mp4"></video>
                        </div>
                        <div class="procolored-strength-of-siphon-section1-content-item-content">
                            <div class="procolored-strength-of-siphon-section1-content-item-content-num">03</div>
                            <div class="procolored-strength-of-siphon-section1-content-item-content-title">Ink
                                Circulation</div>
                            <div class="procolored-strength-of-siphon-section1-content-item-content-desc">A diaphram
                                pump is generating positive and negative pressures, expelling air and driving the white
                                ink to circulate in the tubing.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- What is Procolored Siphon Circulation end -->


    <!-- How Will Procolored Siphon Circulation Benefit start -->
    <section id="procolored-strength-of-siphon-section2">
        <div class="procolored-strength-of-siphon-section2-wrapper">
            <div class="procolored-strength-of-siphon-section2-container">
                <div class="procolored-strength-of-siphon-section2-title-wrapper">
                    <div class="procolored-strength-of-siphon-section2-title">How Will Procolored Siphon Circulation
                        Benefit ?</div>
                    <div class="procolored-strength-of-siphon-section2-desc">
                        <div class="procolored-strength-of-siphon-section2-desc-item">
                            <div class="procolored-strength-of-siphon-section2-desc-item-icon">
                                <svg fill="#676767" height="100%" class="gf_icon"
                                    icon-class="bootstrap-outline-check-all" width="100%"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.97 4.97a0.75 0.75 0 0 1 1.07 1.05l-3.99 4.99a0.75 0.75 0 0 1 -1.08 0.02L2.324 8.384a0.75 0.75 0 1 1 1.06 -1.06l2.094 2.093L8.95 4.992a0.252 0.252 0 0 1 0.02 -0.022zm-0.92 5.14 0.92 0.92a0.75 0.75 0 0 0 1.079 -0.02l3.992 -4.99a0.75 0.75 0 1 0 -1.091 -1.028L9.477 9.417l-0.485 -0.486 -0.943 1.179z"
                                        fill="#676767"></path>
                                </svg>
                            </div>
                            <div class="procolored-strength-of-siphon-section2-desc-item-text">Stronger emergency
                                capability: Procolored Siphon Circulation applies siphon effect to deliver white ink to
                                printhead constantly, ensuring uninterrupted printing process and avoiding risk of late
                                order delivery.</div>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-desc-item">
                            <div class="procolored-strength-of-siphon-section2-desc-item-icon">
                                <svg fill="#676767" height="100%" class="gf_icon"
                                    icon-class="bootstrap-outline-check-all" width="100%"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.97 4.97a0.75 0.75 0 0 1 1.07 1.05l-3.99 4.99a0.75 0.75 0 0 1 -1.08 0.02L2.324 8.384a0.75 0.75 0 1 1 1.06 -1.06l2.094 2.093L8.95 4.992a0.252 0.252 0 0 1 0.02 -0.022zm-0.92 5.14 0.92 0.92a0.75 0.75 0 0 0 1.079 -0.02l3.992 -4.99a0.75 0.75 0 1 0 -1.091 -1.028L9.477 9.417l-0.485 -0.486 -0.943 1.179z"
                                        fill="#676767"></path>
                                </svg>

                            </div>
                            <div class="procolored-strength-of-siphon-section2-desc-item-text">Simpler maintenance and
                                longer lifespan: Procolored Siphon Circulation overcomes the drawbacks of traditional
                                squeezing circulation system, protecting ink pipelines from long-term squezzing and
                                distorting.</div>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-desc-item">
                            <div class="procolored-strength-of-siphon-section2-desc-item-icon"> <svg fill="#676767"
                                    height="100%" class="gf_icon" icon-class="bootstrap-outline-check-all" width="100%"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.97 4.97a0.75 0.75 0 0 1 1.07 1.05l-3.99 4.99a0.75 0.75 0 0 1 -1.08 0.02L2.324 8.384a0.75 0.75 0 1 1 1.06 -1.06l2.094 2.093L8.95 4.992a0.252 0.252 0 0 1 0.02 -0.022zm-0.92 5.14 0.92 0.92a0.75 0.75 0 0 0 1.079 -0.02l3.992 -4.99a0.75 0.75 0 1 0 -1.091 -1.028L9.477 9.417l-0.485 -0.486 -0.943 1.179z"
                                        fill="#676767"></path>
                                </svg>
                            </div>
                            <div class="procolored-strength-of-siphon-section2-desc-item-text">Stronger self-priming
                                capability: Procolored Siphon Circulation significantly enhances self-priming
                                performance by applying built-in check valves set at the intake and discharge ends.
                                These valves generate constant positive and negative pressure to guarantee a smoother
                                white ink flow.</div>
                        </div>
                    </div>
                </div>
                <div class="procolored-strength-of-siphon-section2-content">
                    <!-- Row 1 -->
                    <div class="procolored-strength-of-siphon-section2-content-row1-col"></div>
                    <div class="procolored-strength-of-siphon-section2-content-row1-col">
                        <div class="procolored-strength-of-siphon-section2-content-row1-col-title">F13 Pro Gen-2</div>
                        <div class="procolored-strength-of-siphon-section2-content-row1-col-img">
                            <img class="lazyload"
                                data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Siphon.avif?v=1762482728"
                                alt="">
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-row1-col">
                        <div class="procolored-strength-of-siphon-section2-content-row1-col-title">F13 Pro Gen-1</div>
                        <div class="procolored-strength-of-siphon-section2-content-row1-col-img">
                            <img class="lazyload"
                                data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/min.avif?v=1762482728"
                                alt="">
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="procolored-strength-of-siphon-section2-content-desc-name">
                        Product Certification
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value special">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row2"><svg
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 26 39" version="1.1">
                                <title>Product Certification-1 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="技术页-桌面端" transform="translate(-937, -2649)" fill="#FFFFFF">
                                        <g id="Product-Certification-1" transform="translate(844, 2649)">
                                            <g id="Product-Certification-1-icon" transform="translate(93.0729, 0)">
                                                <path
                                                    d="M2.77330467,34.9788993 L23.0809526,34.9788993 L23.0809526,14.0711925 C23.0809526,10.9830969 20.5692876,8.47143179 17.4811919,8.47143179 L8.3736418,8.47143179 C5.28554618,8.47143179 2.77330467,10.9830969 2.77330467,14.0711925 L2.77330467,34.9788993 Z M0.99467677,38.1801216 C0.445402935,38.1801216 0,37.7341541 0,37.1860093 L0,13.2914139 C0,8.86899746 3.59884038,5.27020949 8.02182136,5.27020949 L17.8331053,5.27020949 C22.2555217,5.27020949 25.8542573,8.86899746 25.8542573,13.2914139 L25.8542573,37.1860093 C25.8542573,37.7341541 25.4094189,38.1801216 24.8601451,38.1801216 L0.99467677,38.1801216 Z"
                                                    id="Fill-1" />
                                                <path
                                                    d="M11.0807692,29.0559939 L23.081005,29.0559939 L23.081005,20.3402778 L11.0807692,20.3402778 L11.0807692,29.0559939 Z M9.91393397,31.1781685 C9.38608321,31.1781685 8.95859461,30.7506799 8.95859461,30.2228291 L8.95859461,19.1734611 C8.95859461,18.6450678 9.38608321,18.2175792 9.91393397,18.2175792 L24.2483643,18.2175792 C24.7762151,18.2175792 25.2037037,18.6450678 25.2037037,19.1734611 L25.2037037,30.2228291 C25.2037037,30.7506799 24.7762151,31.1781685 24.2483643,31.1781685 L9.91393397,31.1781685 Z"
                                                    id="Fill-3" />
                                                <path
                                                    d="M9.49551423,5.1888776 L16.3554996,5.1888776 L16.3554996,2.15875929 L9.49551423,2.15875929 L9.49551423,5.1888776 Z M7.9318309,6.78510207 C7.37997683,6.78510207 6.93304877,6.44699495 6.93304877,6.03003902 L6.93304877,0.755063047 C6.93304877,0.338535645 7.37997683,0 7.9318309,0 L17.9224881,0 C18.4743421,0 18.9218374,0.338535645 18.9218374,0.755063047 L18.9218374,6.03003902 C18.9218374,6.44699495 18.4743421,6.78510207 17.9224881,6.78510207 L7.9318309,6.78510207 Z"
                                                    id="Fill-5" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            Procolored Siphon Circulation
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row2">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 26 39" version="1.1">
                                <title>Product Certification-1 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="技术页-桌面端" transform="translate(-937, -2649)" fill="#FFFFFF">
                                        <g id="Product-Certification-1" transform="translate(844, 2649)">
                                            <g id="Product-Certification-1-icon" transform="translate(93.0729, 0)">
                                                <path
                                                    d="M2.77330467,34.9788993 L23.0809526,34.9788993 L23.0809526,14.0711925 C23.0809526,10.9830969 20.5692876,8.47143179 17.4811919,8.47143179 L8.3736418,8.47143179 C5.28554618,8.47143179 2.77330467,10.9830969 2.77330467,14.0711925 L2.77330467,34.9788993 Z M0.99467677,38.1801216 C0.445402935,38.1801216 0,37.7341541 0,37.1860093 L0,13.2914139 C0,8.86899746 3.59884038,5.27020949 8.02182136,5.27020949 L17.8331053,5.27020949 C22.2555217,5.27020949 25.8542573,8.86899746 25.8542573,13.2914139 L25.8542573,37.1860093 C25.8542573,37.7341541 25.4094189,38.1801216 24.8601451,38.1801216 L0.99467677,38.1801216 Z"
                                                    id="Fill-1" />
                                                <path
                                                    d="M11.0807692,29.0559939 L23.081005,29.0559939 L23.081005,20.3402778 L11.0807692,20.3402778 L11.0807692,29.0559939 Z M9.91393397,31.1781685 C9.38608321,31.1781685 8.95859461,30.7506799 8.95859461,30.2228291 L8.95859461,19.1734611 C8.95859461,18.6450678 9.38608321,18.2175792 9.91393397,18.2175792 L24.2483643,18.2175792 C24.7762151,18.2175792 25.2037037,18.6450678 25.2037037,19.1734611 L25.2037037,30.2228291 C25.2037037,30.7506799 24.7762151,31.1781685 24.2483643,31.1781685 L9.91393397,31.1781685 Z"
                                                    id="Fill-3" />
                                                <path
                                                    d="M9.49551423,5.1888776 L16.3554996,5.1888776 L16.3554996,2.15875929 L9.49551423,2.15875929 L9.49551423,5.1888776 Z M7.9318309,6.78510207 C7.37997683,6.78510207 6.93304877,6.44699495 6.93304877,6.03003902 L6.93304877,0.755063047 C6.93304877,0.338535645 7.37997683,0 7.9318309,0 L17.9224881,0 C18.4743421,0 18.9218374,0.338535645 18.9218374,0.755063047 L18.9218374,6.03003902 C18.9218374,6.44699495 18.4743421,6.78510207 17.9224881,6.78510207 L7.9318309,6.78510207 Z"
                                                    id="Fill-5" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            Squeezing Circulation
                        </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="procolored-strength-of-siphon-section2-content-desc-name">
                        Circulation Estimated Lifespan
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value special">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row3">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 38 37" version="1.1">
                                <title>Circulation Estimated Lifespan-1 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="技术页-桌面端" transform="translate(-931, -2809)" fill="#FFFFFF">
                                        <g id="Circulation-Estimated-Lifespan-1" transform="translate(915.5, 2809)">
                                            <g id="Circulation-Estimated-Lifespan-1-icon"
                                                transform="translate(16.4763, 0)">
                                                <path
                                                    d="M32.2915305,7.03935699 C29.3869455,3.24441755 25.0893193,0.765725405 20.3517572,0.153104252 C15.6414011,-0.461659245 10.9514274,0.788577076 7.16251053,3.65775607 L5.7903422,2.28464738 C5.40129506,1.89514244 5.03267479,2.01823797 4.99173185,2.5715876 L4.5411811,7.49023116 C4.50023816,8.04358079 4.90984597,8.45348263 5.442238,8.4125103 L10.3574871,7.96163613 C10.9104844,7.9206638 11.0333133,7.55173429 10.6442661,7.16245251 L9.21063879,5.72775144 C12.3221685,3.4942238 16.1654529,2.52731249 19.9625762,3.02246177 C23.9767685,3.55523597 27.5198493,5.60483444 29.9774069,8.80197061 C32.43492,11.9991068 33.4999271,15.9752082 32.9879173,19.9921034 C32.6332123,22.7948697 31.4896197,25.4389687 29.6906279,27.6161705 C28.9739035,28.4974773 28.1341718,29.2967056 27.2125542,30.0141231 C24.0340797,32.4667947 20.0099416,33.551044 16.0304483,33.0267945 C12.057199,32.5093291 8.45328358,30.4295593 6.01561758,27.2472857 C3.61992033,24.1491883 2.53194418,20.2351256 2.98472494,16.3441377 C3.07111544,15.5529432 2.50455968,14.8396765 1.71482476,14.7453688 C0.92424244,14.6589163 0.211487384,15.2258787 0.11742566,16.0161805 C-0.415010974,20.66837 0.875271471,25.3002073 3.74239235,29.0098993 C6.64104553,32.8116228 10.9418384,35.2920556 15.6823441,35.8959735 C20.4542037,36.5108709 25.1849866,35.2402823 28.9942857,32.3095109 C30.1002358,31.4691764 31.0833569,30.505925 31.9640316,29.4401534 C34.0969893,26.8333669 35.4590334,23.6813985 35.8961595,20.3404575 C36.5104374,15.5653064 35.2407157,10.8309936 32.3120912,7.01896009 L32.2915305,7.03935699 Z"
                                                    id="Fill-1" />
                                                <path
                                                    d="M17.0007964,6.3612994 C16.3945978,6.3612994 15.9032485,6.90000843 15.9032485,7.56463689 L15.9032485,19.6186995 L25.9541039,25.3184047 C26.1082428,25.4029946 26.2815442,25.4451976 26.4548038,25.4451976 C26.859062,25.4451976 27.2441577,25.2129891 27.4367475,24.7906372 C27.5762944,24.5065254 27.6038431,24.1721654 27.5129364,23.8652511 C27.4220297,23.558153 27.2205505,23.3053027 26.9553779,23.1652236 L18.0982186,18.1409046 L18.0982186,7.56463689 C18.0982186,6.90000843 17.6069951,6.3612994 17.0007964,6.3612994"
                                                    id="Fill-3" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            >10 years
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row3">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 38 37" version="1.1">
                                <title>Circulation Estimated Lifespan-1 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="技术页-桌面端" transform="translate(-931, -2809)" fill="#FFFFFF">
                                        <g id="Circulation-Estimated-Lifespan-1" transform="translate(915.5, 2809)">
                                            <g id="Circulation-Estimated-Lifespan-1-icon"
                                                transform="translate(16.4763, 0)">
                                                <path
                                                    d="M32.2915305,7.03935699 C29.3869455,3.24441755 25.0893193,0.765725405 20.3517572,0.153104252 C15.6414011,-0.461659245 10.9514274,0.788577076 7.16251053,3.65775607 L5.7903422,2.28464738 C5.40129506,1.89514244 5.03267479,2.01823797 4.99173185,2.5715876 L4.5411811,7.49023116 C4.50023816,8.04358079 4.90984597,8.45348263 5.442238,8.4125103 L10.3574871,7.96163613 C10.9104844,7.9206638 11.0333133,7.55173429 10.6442661,7.16245251 L9.21063879,5.72775144 C12.3221685,3.4942238 16.1654529,2.52731249 19.9625762,3.02246177 C23.9767685,3.55523597 27.5198493,5.60483444 29.9774069,8.80197061 C32.43492,11.9991068 33.4999271,15.9752082 32.9879173,19.9921034 C32.6332123,22.7948697 31.4896197,25.4389687 29.6906279,27.6161705 C28.9739035,28.4974773 28.1341718,29.2967056 27.2125542,30.0141231 C24.0340797,32.4667947 20.0099416,33.551044 16.0304483,33.0267945 C12.057199,32.5093291 8.45328358,30.4295593 6.01561758,27.2472857 C3.61992033,24.1491883 2.53194418,20.2351256 2.98472494,16.3441377 C3.07111544,15.5529432 2.50455968,14.8396765 1.71482476,14.7453688 C0.92424244,14.6589163 0.211487384,15.2258787 0.11742566,16.0161805 C-0.415010974,20.66837 0.875271471,25.3002073 3.74239235,29.0098993 C6.64104553,32.8116228 10.9418384,35.2920556 15.6823441,35.8959735 C20.4542037,36.5108709 25.1849866,35.2402823 28.9942857,32.3095109 C30.1002358,31.4691764 31.0833569,30.505925 31.9640316,29.4401534 C34.0969893,26.8333669 35.4590334,23.6813985 35.8961595,20.3404575 C36.5104374,15.5653064 35.2407157,10.8309936 32.3120912,7.01896009 L32.2915305,7.03935699 Z"
                                                    id="Fill-1" />
                                                <path
                                                    d="M17.0007964,6.3612994 C16.3945978,6.3612994 15.9032485,6.90000843 15.9032485,7.56463689 L15.9032485,19.6186995 L25.9541039,25.3184047 C26.1082428,25.4029946 26.2815442,25.4451976 26.4548038,25.4451976 C26.859062,25.4451976 27.2441577,25.2129891 27.4367475,24.7906372 C27.5762944,24.5065254 27.6038431,24.1721654 27.5129364,23.8652511 C27.4220297,23.558153 27.2205505,23.3053027 26.9553779,23.1652236 L18.0982186,18.1409046 L18.0982186,7.56463689 C18.0982186,6.90000843 17.6069951,6.3612994 17.0007964,6.3612994"
                                                    id="Fill-3" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            1.5 years
                        </div>
                    </div>
                    <!-- Row 4 -->
                    <div class="procolored-strength-of-siphon-section2-content-desc-name">
                        PrintHead Warranty
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value special">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row4">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 34 39" version="1.1">
                                <title>PrintHead Warranty-2 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="技术页-桌面端" transform="translate(-1293, -2964)">
                                        <g id="PrintHead-Warranty-2" transform="translate(1282, 2964.8461)">
                                            <g id="PrintHead-Warranty-2-icon" transform="translate(11.8891, 0)">
                                                <path
                                                    d="M24.1196235,30.3880089 C21.4128479,32.9896998 18.1895878,34.732636 16.1071624,34.732636 C14.0412247,34.732636 10.8179647,32.9896998 8.09331077,30.3880089 C5.01228259,27.4506031 3.24868696,24.1286151 3.24868696,21.2706684 L3.24868696,8.28048948 C4.11260647,8.23559507 7.13205381,8.01390406 10.2476467,6.74891455 C13.337614,5.49286418 15.502081,4.06021588 16.1161015,3.63332164 C16.8093825,4.1138508 18.9291538,5.49425472 21.9730348,6.73103624 C25.035986,7.9779488 28.0464942,8.21771676 28.9551095,8.26241253 L28.9640486,21.2617293 C28.9640486,24.1196759 27.2006517,27.4416639 24.1196235,30.3880089 L24.1196235,30.3880089 Z M32.2141261,6.67839456 C32.2107491,5.7914319 31.497802,5.07053885 30.6108393,5.05722944 L29.1768005,5.03935114 C29.1511749,5.03935114 26.2034394,4.95989199 23.2032609,3.73979689 C19.9800009,2.43130349 17.9589577,0.971440432 17.9589577,0.971440432 L17.9410794,0.952171591 L17.0592815,0.31153227 C16.7839556,0.107520926 16.4498299,-0.00193404016 16.1071624,2.5869192e-05 C15.7597273,2.5869192e-05 15.4303692,0.106329039 15.1536527,0.31153227 L14.2819859,0.944622972 C14.1115461,1.06877788 12.0726245,2.49268568 9.01861246,3.73065909 C6.02737311,4.94181504 3.07189038,5.03021333 3.04507292,5.03021333 L1.60189627,5.04829029 C0.715529561,5.06219564 0.00337701348,5.78289004 0,6.6694554 L0,21.2617293 C0,25.0014737 2.12731984,29.1782435 5.84024683,32.7217238 C9.21467789,35.953923 13.1504878,37.9660271 16.0980246,37.9660271 C19.0354304,37.9660271 22.9712403,35.9630608 26.3816266,32.7398008 C30.0943549,29.1961218 32.2218734,25.019352 32.2218734,21.2796076 L32.2141261,6.67839456 Z"
                                                    id="Fill-1" fill="#FFFFFF" />
                                                <path
                                                    d="M10.0814258,18.9830136 C13.1776561,22.172842 14.7257713,23.7677562 14.7257713,23.7677562 C14.7257713,23.7677562 17.7562493,20.5779278 23.8172054,14.1982709"
                                                    id="路径-4" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            6-Month
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row4">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 34 39" version="1.1">
                                <title>PrintHead Warranty-2 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="技术页-桌面端" transform="translate(-1293, -2964)">
                                        <g id="PrintHead-Warranty-2" transform="translate(1282, 2964.8461)">
                                            <g id="PrintHead-Warranty-2-icon" transform="translate(11.8891, 0)">
                                                <path
                                                    d="M24.1196235,30.3880089 C21.4128479,32.9896998 18.1895878,34.732636 16.1071624,34.732636 C14.0412247,34.732636 10.8179647,32.9896998 8.09331077,30.3880089 C5.01228259,27.4506031 3.24868696,24.1286151 3.24868696,21.2706684 L3.24868696,8.28048948 C4.11260647,8.23559507 7.13205381,8.01390406 10.2476467,6.74891455 C13.337614,5.49286418 15.502081,4.06021588 16.1161015,3.63332164 C16.8093825,4.1138508 18.9291538,5.49425472 21.9730348,6.73103624 C25.035986,7.9779488 28.0464942,8.21771676 28.9551095,8.26241253 L28.9640486,21.2617293 C28.9640486,24.1196759 27.2006517,27.4416639 24.1196235,30.3880089 L24.1196235,30.3880089 Z M32.2141261,6.67839456 C32.2107491,5.7914319 31.497802,5.07053885 30.6108393,5.05722944 L29.1768005,5.03935114 C29.1511749,5.03935114 26.2034394,4.95989199 23.2032609,3.73979689 C19.9800009,2.43130349 17.9589577,0.971440432 17.9589577,0.971440432 L17.9410794,0.952171591 L17.0592815,0.31153227 C16.7839556,0.107520926 16.4498299,-0.00193404016 16.1071624,2.5869192e-05 C15.7597273,2.5869192e-05 15.4303692,0.106329039 15.1536527,0.31153227 L14.2819859,0.944622972 C14.1115461,1.06877788 12.0726245,2.49268568 9.01861246,3.73065909 C6.02737311,4.94181504 3.07189038,5.03021333 3.04507292,5.03021333 L1.60189627,5.04829029 C0.715529561,5.06219564 0.00337701348,5.78289004 0,6.6694554 L0,21.2617293 C0,25.0014737 2.12731984,29.1782435 5.84024683,32.7217238 C9.21467789,35.953923 13.1504878,37.9660271 16.0980246,37.9660271 C19.0354304,37.9660271 22.9712403,35.9630608 26.3816266,32.7398008 C30.0943549,29.1961218 32.2218734,25.019352 32.2218734,21.2796076 L32.2141261,6.67839456 Z"
                                                    id="Fill-1" fill="#FFFFFF" />
                                                <path
                                                    d="M10.0814258,18.9830136 C13.1776561,22.172842 14.7257713,23.7677562 14.7257713,23.7677562 C14.7257713,23.7677562 17.7562493,20.5779278 23.8172054,14.1982709"
                                                    id="路径-4" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            3-Month
                        </div>
                    </div>
                    <!-- Row 5 -->
                    <div class="procolored-strength-of-siphon-section2-content-desc-name">
                        Film Cutter
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value special">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row5">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 34 25" version="1.1">
                                <title>Film Cutter-1 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <g id="技术页-桌面端" transform="translate(-933, -3122)" stroke="#FFFFFF"
                                        stroke-width="3">
                                        <g id="Film-Cutter-1" transform="translate(923.5, 3124)">
                                            <path
                                                d="M11.5,10.4502463 C18.2624054,17.4170771 21.643608,20.9004925 21.643608,20.9004925 C21.643608,20.9004925 28.2624054,13.9336617 41.5,0"
                                                id="Film-Cutter-1-icon" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            Include
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row6">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 26 26" version="1.1">
                                <title>Film Cutter-2 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <g id="技术页-桌面端" transform="translate(-1297, -3122)" stroke="#FFFFFF"
                                        stroke-width="3">
                                        <g id="Film-Cutter-2" transform="translate(1281, 3124)">
                                            <g id="Film-Cutter-2-icon" transform="translate(18, 0)">
                                                <line x1="0" y1="0" x2="22" y2="22.0000014" id="路径-2" />
                                                <line x1="0" y1="0" x2="22" y2="22.0000014" id="路径-2备份"
                                                    transform="translate(11, 11) scale(1, -1) translate(-11, -11)" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            Excluded
                        </div>
                    </div>
                    <!-- Row 6 -->
                    <div class="procolored-strength-of-siphon-section2-content-desc-name">
                        Printer Stand
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value special">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row5">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 34 25" version="1.1">
                                <title>Film Cutter-1 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <g id="技术页-桌面端" transform="translate(-933, -3122)" stroke="#FFFFFF"
                                        stroke-width="3">
                                        <g id="Film-Cutter-1" transform="translate(923.5, 3124)">
                                            <path
                                                d="M11.5,10.4502463 C18.2624054,17.4170771 21.643608,20.9004925 21.643608,20.9004925 C21.643608,20.9004925 28.2624054,13.9336617 41.5,0"
                                                id="Film-Cutter-1-icon" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            Available
                        </div>
                    </div>
                    <div class="procolored-strength-of-siphon-section2-content-desc-value">
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-icon row6">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="100%" height="100%" viewBox="0 0 26 26" version="1.1">
                                <title>Film Cutter-2 icon</title>
                                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <g id="技术页-桌面端" transform="translate(-1297, -3122)" stroke="#FFFFFF"
                                        stroke-width="3">
                                        <g id="Film-Cutter-2" transform="translate(1281, 3124)">
                                            <g id="Film-Cutter-2-icon" transform="translate(18, 0)">
                                                <line x1="0" y1="0" x2="22" y2="22.0000014" id="路径-2" />
                                                <line x1="0" y1="0" x2="22" y2="22.0000014" id="路径-2备份"
                                                    transform="translate(11, 11) scale(1, -1) translate(-11, -11)" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="procolored-strength-of-siphon-section2-content-desc-value-text">
                            Unavailable
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- How Will Procolored Siphon Circulation Benefit end -->