{{ 'page.engineer-sign-up.css' | asset_url | stylesheet_tag }}
<div id="engineer-sign-up-page">
  <div class="engineer-banner">
    <div class="engineer-wrapper">
      <div class="engineer-text-wrapper">
        <h2>
          Authorized Repair<br>
          Service Program
        </h2>
        <p>
          Join Procolored’s Repair Service Enrollment Program today to support the customers with installations, troubleshooting, repairs for Procolored products. <br>
          Expand your business, earn additional income and enjoy the flexiblity.
        </p>
        <div>
          <a href="#sign-up-form" class="btn">Apply Now</a>
        </div>
      </div>
      <div class="engineer-img-wrapper">
        <img
          src="{{ 'tools-0612.png' | asset_url }}"
          alt="engineer sign up"
          width="100%"
          height="auto"
        >
      </div>
    </div>
  </div>
  <div class="engineer-banner--mobile">
    <a href="#sign-up-form" class="btn">Apply Now</a>
  </div>
  <div class="engineer-join-wrapper">
    <h3>Why Join In?</h3>
    <div class="join-reasons">
      <div>
        <div class="icon-wrapper">
          {% render 'svg-icons' with 'whiteboard' %}
        </div>

        <h4>Specialized Service Training</h4>
        <p>
          We'll provide exclusive training to ensure you are able to conduct installations, service and repairs for
          Procolored products.
        </p>
      </div>
      <div>
        <div class="icon-wrapper">
          {% render 'svg-icons' with 'income' %}
        </div>
        <h4>Stable Income Streams</h4>
        <p>
          Our program is designed to connect engineers with work that offer consistent and reliable earnings. Your
          skills deserve recognition and reward.
        </p>
      </div>
      <div>
        <div class="icon-wrapper">
          {% render 'svg-icons' with 'workhour' %}
        </div>
        <h4>Flexible Work Hours</h4>
        <p>
          Take control of your work-life balance! Whether you're an early bird or a night owl, our program empowers you
          to create a schedule that suits your lifestyle.
        </p>
      </div>
    </div>
  </div>
  <div id="sign-up-form" class="engineer-sign-up-form">
    <div class="globo-formbuilder" data-id="MjcxNTc="></div>
  </div>
</div>
