{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}
<link rel="stylesheet" href="https://unpkg.com/swiper@11/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
{{ 'page.materials-2409.css' | asset_url | stylesheet_tag }}
<div class="materials-2409">
  {% section 'page-materials-banner' %}
  {% section 'sticky-nav' %}
  {% section 'collection-tabs-new1' %}
  {% section 'collection-tabs-new2' %}
  {% section 'product-individual' %}
  {% section 'shop-categories' %}
  {% section 'materials-tab' %}
</div>
{{ 'materials-2409.js' | asset_url | script_tag }}
