{{ 'page.warranty.css' | asset_url | stylesheet_tag }}
<div class="warranty">
  <div class="warranty-banner" style="background-image: url({{ 'warranty-banner.png' | asset_url }})">
    <div class="text">
      <div class="title">Warranty Policy</div>
    </div>
  </div>
  <section class="warranty-section">
    <article class="warranty-section-content">
      <p>Warranty Registration</p>
      <p>For components not directly contact with ink, a warranty period of 12 months since printer purchase date is provided, unless damage is user-induced. Register warranty on our website to get warranty on some types of printhead limited to one replacement.</p>
      <p>
        Need Additional Help? Contact Us<br/>
        Tel: +1 6463622251<br/>
        WhatsApp:+15625660518
        Email: support@procolored.com
      </p>
    </article>
  </section>
  <div class="globo-formbuilder" data-id="MTY1NTk="></div>
  <section class="warranty-section">
    <div class="warranty-section-header">Warranty Policy</div>
    <article class="warranty-section-content">
      <h1>1. Warranty Duration</h1>
      <p>For components not directly contact with ink, a warranty period of 12 months since printer purchase date is provided, unless damage is user-induced. Register warranty on our website to get warranty on some types of printhead limited to one replacement.</p>
      <h1>2. Warranty Coverage</h1>
      <p>2.1 Mainboard<br/>a. Mainboard for dual-head printer is not covered by warranty. Customers may send them in for repairs at their own expense.<br/>b. Mainboard for single-head printer is covered by a 6-month warranty period since printer purchase. Within this warranty period, you are eligible for one replacement.</p>
      <p>2.2. Print Head and Related Components<br/>No warranty is provided for print heads or components that may be damaged due to contact with ink. However, after warranty registration, the following printheads are covered by a 6-month warranty period since printer purchase, limited to one replacement: (L1800, R1390, L800, L805, TX800, XP600).</p>
      <p>2.3 Warranty for Other Accessories<br/>Other accessories are covered by a 12-month warranty period since printer purchase.</p>
      <p>2.4 Disclaimer<br/>a. The warranty for the ink-contact components requires the printer exclusively use Procolored inks. Warranty coverage does not include the printhead blockage resulting from the use of inks from other brands.<br/>b. The damage must not be caused by user negligence or misuse.<br/>c. The damage must be confirmed by our customer service team or engineers as non-user-induced.</p>
      <p>2.5 Online Tech Support<br/>We have 12-month online tech support service for your printer since the purchase date, for all customers who have purchased Procolored printer equipment but are beyond the 12-month warranty period, we offer extended warranty services, which include two programs: <span style="text-decoration: underline;"><a href="https://www.procolored.com/products/procolored-remote-expert-service" title="Remote Expert Service" rel="noopener" target="_blank">Remote Expert Service</a></span> and <span style="text-decoration: underline;"><a href="https://www.procolored.com/products/procolored-extended-warranty-service" title="Extended Warranty." rel="noopener" target="_blank">Extended Warranty.</a></span></p>
      <h1>3. Warranty Costs</h1>
      <p>3.1 If the component within warranty period is damaged within one month of printer receiving, we will bear the cost of component and covering the shipping fees.</p>
      <p>3.2 For damage reported after one month of printer receipt, we will cover the cost of component but will not cover the shipping fees.</p>
    </article>
  </section>
  <section class="warranty-section">
    <div class="warranty-section-header">Return Policy</div>
    <article class="warranty-section-content">
      <p>If the printer is received within one week and no ink is added, it can be shipped back in its original packaging, and returns and exchanges are accepted. If any ink has been added into the printer, we can not process returns or exchanges.</p>
      <p>Please note that this warranty policy is subject to change, and any modifications will be posted on our website. For any warranty claims or inquiries, please contact our customer service team.</p>
    </article>
  </section>
</div>